<html>
<head>
<meta charset="utf-8">
<title>Catalogo de Áreas</title>
</head>
<body>
	<div ng-show="error" class="alert alert-warning">
		{{error.message}}</div>
	<section class="content-header">
		<h1>Alta de Auxiliar</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-safari"></i>Control de Suministro</a></li>
			<li class="active">Alta de Auxiliar</li>
		</ol>

	</section>
	
	 <!-- Main content -->
   <section class="content">
    <!-- Info boxes -->
    

  <div class="row">
  <!-- left column -->
  <!-- form start -->             
     <form name="formAltaAux" role="form" novalidate>

    
  
    <div class="col-md-3"></div>
    
    
        <div class="col-md-6">
       
			
          <!-- general form elements -->
          <div class="box box-danger">
        
            <!-- /.box-header -->            
            <div class="box-body">
           <!--Validaciones  -->
                      
           	

         <div class="form-group" >
                
                <div class="box-header with-border" align="center">
                        <h3 class="box-title">Auxiliar</h3>
                </div>

			    <div class="form-group">
						<div class="row">
							<div class="col-xs-3"></div>
							<div class="col-xs-6 text-center">
							  <label>Área Operativa: </label>				 		
									{{valorauxiliar.upc_nombre}}
									
	 						</div>
						</div>
				</div>

				<div class="form-group">
						<div class="row">
							<div class="col-xs-3"></div>
							<div class="col-xs-6 text-center">
							 <div class="form-group" ng-class="{'has-error': formAltaAux.placa.$invalid && formAltaAux.placa.$dirty}"  ng-style="{color:validColor}">
							  <label>Buscar Placa:</label>	
							  		<div class="input-group">
											<input type="text" name="placa" integer-number ng-model="auxiliarVO.oficial_placa" ng-required="!viewOficialData" class="form-control text-uppercase" ng-change="changePlaca()"></input>
											 <span class="input-group-btn">
											<button type="button" ng-click="consultarPlaca(auxiliarVO.oficial_placa)" class="btn btn-danger btn-flat">Buscar</button>
											</span>
									</div>	  
								  <div ng-show="formAltaAux.placa.$error.required && formAltaAux.placa.$dirty"
								     ng-style="{color:'red'}">la placa es requerida.</div>
								  <div ng-show="viewMessagePlaca" ng-style="{color:validColor}">{{validMensaje}}</div>
							 </div>
	 						</div>
	 						</div>
	 						<div class="col-xs-5"> </div>
	 					  <button type="button" ng-click="cancelar()" ng-show="viewRegresar" class="btn btn-danger btn-flat">Regresar</button>        				
						
					</div>
												
							
				<div class="form-group" ng-show="viewOficialData">
						<div class="row">
						
							<div class="col-xs-2"></div>
							<div class="col-xs-7 text-center">
							  
							  <table id="tabla_oficial" class="table table-hover">
								<thead>
									<tr>
										<th align="center">Placa</th>
										<th align="center">Nombre</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									 	<td align="center">{{datosAuxiliar.oficial_placa}}</td>
										<td align="center">{{datosAuxiliar.oficial_nombre}}</td>
									</tr>
								</tbody>
							</table>
							
	 						</div>
						</div>
				

			          
	          <div class="row">
				<div class="col-xs-3"> </div>
	              <div class="col-xs-3" align="center">
                      <button type="button" ng-click="nuevoAuxiliar(valorauxiliar.reg_id,valorauxiliar.upc_id,datosAuxiliar.oficial_placa)" class="btn btn-danger btn-flat">Guardar</button>               
               	  </div>
                  <div class="col-xs-3" align="center">
                   <button type="button" ng-click="cancelar()" class="btn btn-danger btn-flat">Cancelar</button>
                 </div>
                </div>   
             
             </div>  
            </div>

        </div>
            <!-- /.box-body -->
      </div>
          <!-- /.box -->

    </div>

  </form>
   </div>
    <!-- /.row -->

  </section>

<body>
</html>