<html>
<head>
<meta charset="utf-8">

</head>
 <body id="body">

	<!-- Main content -->
	<div ng-controller="rptEntradaDepositoController">
<section class="content">
		<form role="form" name="form" novalidate>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="box box-danger">
							<div class="box-header with-border text-center">
								<h3 class="box-title">Entrada a Deposito</h3>
							</div>
							
				<!-- PARAMETROS DE BÚSQUEDA -->
								<div class="row col-md-12">
									<div class="col-md-4">
										<div class="form-group" >
											<label for="fEmision">Infraccion:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-calendar-check-o"></i>
												</div>
											<input type="text" id="NoInfraccion" ng-model="parametroBusqueda.noInfraccion"> 
										</div>
									  </div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label for="fInicio">Depósito:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-tachometer"></i>
										        </div>
										            <select class="form-control select2" name="ListaDeposito" id="ListaDeposito"
											                ng-model="parametroBusqueda.Deposito"
											                ng-options='option.id as option.nombre for option in ListaDeposito' >
										 			</select>
											</div>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label for="fFin">Causa Ingreso:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-calendar-check-o"></i>
											    </div>
											  <select class="form-control select2" name="ListaCausaIngresos" id="ListaCausaIngresos"
												      ng-model="parametroBusqueda.causaIngreso" 												      
												      ng-options='option.id as option.nombre for option in ListaCausaIngresos'>
											  </select>
											</div>
										</div>
									</div>
								</div>
								
						
									<div class="col-md-4">
										<div class="form-group">
											<label for="lote">Tipo Ingreso:</label>
											<div class="input-group date">
												<div class="input-group-addon">
												    <i class="fa fa-car"></i>
										        </div>
           							          <select class="form-control select2" name="tiposIngresos" id="tiposIngresos" 
           							               ng-model="parametroBusqueda.tipoIngreso" 
           							               ng-options='option.id as option.nombre for option in tiposIngresos'>
										      </select>
											</div>
									</div>
							   </div>
						   
						<div class="row">
						    <div class="col-md-12 text-center">
									<button class="btn btn-danger" ng-click="consultaEntraDeposito()">Buscar</button>
						     </div>		
					   </div>	 
	         		</div>
	        	 </div>
	         </div>
	         
	                                                           
	     </form>
   </section>
   
    
	
</div><!-- Fin del cuerpo  -->									
 </body>
</html>
		