<html>

<head>
<meta charset="utf-8">
<title>Modifica Trámite</title>
</head>

<body>
	<section class="content-header">
		<h1>Modificación de Trámite</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Atención Ciudadana</a></li>
			<li class="active">Modificación</li>
		</ol>
	</section>
	<section class="content">
		<form id="modificaTramite" role="form" name="modificaTramite">
			<div class="row">
				<section class="col-lg-12 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<div></div>
							<h3 class="box-title">Datos Generales</h3>
							<div class="box-tools col-md-1 pull-right">
								<button type="button" class="btn btn-box-tool btn-danger" ng-click="refrescarpag()" style="font-size: 1.1rem;"
									data-toggle="tooltip" data-placement="left" title="Recargar">
									<i class="fa fa-refresh" ></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group"
											ng-class="{'has-error': modificaTramite.DGFecha.$invalid && modificaTramite.DGFecha.$dirty}">
											<label for="DGFecha">*Fecha de Trámite:</label>
											<div class="input-group date" datetimepicker
												options="dateTimePickerOptions" ng-required="listaCamposRequeridos.fhAlta"
												name="DGFecha" id="DGFecha" ng-model="fechaTramite" show-button-bar="true">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="text"
													class="form-control inputFecha input-append"
													name="txtDGFecha" readonly />
											</div>
											<div
												ng-show="modificaTramite.DGFecha.$error.required && modificaTramite.DGFecha.$dirty"
												ng-style="{color:'red'}">La fecha del trámite es
												requerida</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="tipoTramite">Folio de Trámite:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-list-alt"></i>
												</div>
												<input type="text" class="form-control" capitalize
													disabled="true" id="folioTramite" ng-model="folioTramite"
													ng-value="folioTramite">
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group"
											ng-class="{'has-error': modificaTramite.tipoTramite.$invalid && modificaTramite.tipoTramite.$dirty}">
											<label for="tipoTramite" ng-if="listaCamposRequeridos.idTipoTramite">*Tipo de Trámite:</label>
											<label for="tipoTramite" ng-if="!listaCamposRequeridos.idTipoTramite">Tipo de Trámite:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-list-alt"></i>
												</div>
												<select class="form-control" select-picker multiple
													ng-required="listaCamposRequeridos.idTipoTramite" name="tipoTramite" id="tipoTramite"
													data-actions-box="true" multiple="multiple" 
													ng-change="changeTipoTramite()"
													data-selected-text-format="count > 1" data-max-options="5"
													ng-model="tipoTramite" ng-change=""
													ng-options="tt.idTramite as tt.nbTramite for tt in comboTipoTramite">
												</select>
											</div>
											<span
												ng-if="modificaTramite.tipoTramite.$invalid && modificaTramite.tipoTramite.$dirty"
												ng-style="{color:'red'}"> El tipo de trámite es requerido </span>
										</div>
									</div>
									
									<div class="col-sm-4">
										<div class="form-group"
											ng-class="{'has-error': (modificaTramite.DGEmpleado.$invalid && modificaTramite.DGEmpleado.$dirty) || (DG.empleado.placaColor=='red') }">
											<label>*Placa Oficial:</label>
											<div class="input-group">
												<input type="text" class="form-control" ng-model="empPlaca"
													ng-change="typePlacaDeEmpleado()" ng-required="true"
													name="DGEmpleado"> <span class="input-group-btn">
													<buttontype ="button" class="btn btn-danger btn-flat"
														ng-click="buscarEmpleadoPorPlaca(empPlaca)">Buscar
													</button>
												</span>
											</div>
											<div
												ng-show="modificaTramite.DGEmpleado.$error.required && modificaTramite.DGEmpleado.$dirty"
												ng-style="{color:'red'}">La placa del oficial es requerida</div>
											<div ng-show="empleado.Color=='red'" ng-style="{color:'red'}">Se
												requiere de una placa válida</div>
											<div ng-show="empleado.Color=='green'">{{empleado.empNombre+' '+empleado.empApePaterno+' '+empleado.empApeMaterno}}</div>
										</div>
									</div>

									<div class="col-sm-4">
									<div class="form-group" ng-class="{'has-error': modificaTramite.medioSolicitud.$invalid && modificaTramite.medioSolicitud.$dirty}">
										<label for="medioSolicitud" ng-if="listaCamposRequeridos.medioSolicitud">*Origen de Solicitud:</label>
										<label for="medioSolicitud" ng-if="!listaCamposRequeridos.medioSolicitud">Origen de Solicitud:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
											<select class="form-control"
												ng-required="listaCamposRequeridos.medioSolicitud" name="medioSolicitud" id="medioSolicitud"
												ng-model="medioSolicitud"
												ng-options="cs.idMedioSolicitud as cs.nbMedioSolicitud for cs in comboOrigenSolicitud">
											</select>
										</div>
										<div
											ng-show="modificaTramite.medioSolicitud.$error.required && modificaTramite.medioSolicitud.$dirty"
											ng-style="{color:'red'}">El origen de solicitud es requerido</div>
									</div>
								</div>
									
									<div class="col-sm-4 center">
										<label fo="checkTipoPersona">¿Solicitante?</label>
										<div class="form-grouo">
											<div class="row centerRow">
												<switcher class="swTeclo pull-right"
													id-check="checkTipoPersona"
													true-label="Empresa"
													true-value="true"
													false-label="Ciudadano"
													false-value="false"
													ng-change="changeTipoPersona(!tipoPersona)"
													ng-model="tipoPersona">
												</switcher>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-11">
							 		<span  ng-if="modificaTramite.tipoTramite.$valid"><strong> Trámites Seleccionados:</strong> {{listNbTramite + " "}} </span>
							 	</div>
							</div>
						</div>
					</div>
				</section>
				
				<section class="col-lg-6 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title" ng-if="!tipoPersona">Datos del Ciudadano</h3>
							<h3 class="box-title" ng-if="tipoPersona">Datos del Representante</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error': (modificaTramite.DCAPaterno.$invalid && modificaTramite.DCAPaterno.$dirty) }">
										<label for="DCAPaterno" ng-if="!tipoPersona">*Apellido Paterno:</label>
										<label for="DCAPaterno" ng-if="tipoPersona">Apellido Paterno:</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<input  type="text" ng-required="!tipoPersona" class="form-control" 
													ng-change="DCPaterno=convertirNombresMayusYminus(DCPaterno,true)" 
													id="DCAPaterno" ng-model="DCPaterno" name="DCAPaterno" maxlength="30" />
										</div>
										<div ng-show="modificaTramite.DCAPaterno.$error.required && modificaTramite.DCAPaterno.$dirty"
											ng-style="{color:'red'}">El apellido paterno del ciudadano es requerido</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCAMatenro.$invalid && modificaTramite.DCAMatenro.$dirty) }">
										<label for="DCAMatenro" ng-if="!tipoPersona">*Apellido Materno:</label>
										<label for="DCAMatenro" ng-if="tipoPersona">Apellido Materno:</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<input type="text" ng-required="!tipoPersona" class="form-control "
													id="DCAMatenro" ng-model="DCMaterno"
													ng-change="DCMaterno=convertirNombresMayusYminus(DCMaterno,true)"
													name="DCAMatenro" maxlength="30" />
										</div>
										<div
											ng-show="modificaTramite.DCAPaterno.$error.required && modificaTramite.DCAPaterno.$dirty"
											ng-style="{color:'red'}">El apellido materno del ciudadano es requerido</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCNombre.$invalid && modificaTramite.DCNombre.$dirty) }">
										<label for="DCNombre" ng-if="!tipoPersona">*Nombre:</label>
										<label for="DCNombre" ng-if="tipoPersona">Nombre:</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<input ng-required="!tipoPersona" class="form-control "
												id="DCNombre" ng-model="DCNombre"
												ng-change="DCNombre=convertirNombresMayusYminus(DCNombre,false)"
												name="DCNombre" maxlength="30" />
										</div>
										<div
											ng-show="modificaTramite.DCNombre.$error.required && modificaTramite.DCNombre.$dirty"
											ng-style="{color:'red'}">El nombre del ciudadano es requerido</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCTelefono.$invalid && modificaTramite.DCTelefono.$dirty) }">
										<label for="DCTelefono" ng-if="listaCamposRequeridos.nuCTelefono">*Teléfono:</label>
										<label for="DCTelefono" ng-if="!listaCamposRequeridos.nuCTelefono">Teléfono:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" class="form-control" id="DCTelefono" mask="(999) 999-9999"
												ng-model="dcTelefono" name="DCTelefono"
												ng-required="listaCamposRequeridos.nuCTelefono">
										</div>
										<div
											ng-show="modificaTramite.DCTelefono.$error.required && modificaTramite.DCTelefono.$dirty"
											ng-style="{color:'red'}">El teléfono es requerido</div>
											<div ng-show="modificaTramite.DCTelefono.$error.mask"
											ng-style="{color:'red'}">Formato incorrecto</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCEmpresa.$invalid && modificaTramite.DCEmpresa.$dirty) }">
										<label for="DCEmpresa" ng-if="tipoPersona">*Empresa:</label>
										<label for="DCEmpresa" ng-if="!tipoPersona">Empresa:</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<input  ng-required="tipoPersona" type="text"
												class="form-control" capitalize id="DCEmpresa" ng-model="dcEmpresa"
												name="DCEmpresa" maxlength="40" />
										</div>
										<div
											ng-show="modificaTramite.DCEmpresa.$error.required && modificaTramite.DCEmpresa.$dirty"
											ng-style="{color:'red'}">El nombre de la empresa es requerido</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCCorreo.$invalid && modificaTramite.DCCorreo.$dirty) }">
										<label for="DCCorreo" ng-if="listaCamposRequeridos.txCCorreo || lineaCaptura50">*Correo:</label>
										<label for="DCCorreo" ng-if="!listaCamposRequeridos.txCCorreo || !lineaCaptura50">Correo:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-at"></i></span>
											<input type="email" class="form-control text-lowercase" 
												id="DCCorreo" ng-model="dcCorreo" maxlength="30"
												name="DCCorreo" ng-required="listaCamposRequeridos.txCCorreo || lineaCaptura50">
										</div>
										<div
											ng-show="modificaTramite.DCCorreo.$error.required && modificaTramite.DCCorreo.$dirty"
											ng-style="{color:'red'}">El correo es requerido</div>
										<div ng-show="modificaTramite.DCCorreo.$error.email"
											ng-style="{color:'red'}">El formato del correo es incorrecto</div>
									</div>
								</div>
							</div>
							<h4 class="box-title">Dirección</h4>
							<hr>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCCalle.$invalid && modificaTramite.DCCalle.$dirty) }">
										<label for="DCCalle" ng-if="listaCamposRequeridos.txCCalle">*Calle: </label>
										<label for="DCCalle" ng-if="!listaCamposRequeridos.txCCalle">Calle: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-long-arrow-up"></i></span>
												<input type="text" ng-required="listaCamposRequeridos.txCCalle" 
													class="form-control " capitalize id="DCCalle"
													ng-model="DCCalle" maxlength="30">
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCCalle.$error.required && modificaTramite.DCCalle.$dirty"
										ng-style="{color:'red'}">La calle es requerida</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCColonia.$invalid && modificaTramite.DCColonia.$dirty) }">
										<label for="DCColonia" ng-if="listaCamposRequeridos.txCColonia">*Colonia:</label>
										<label for="DCColonia" ng-if="!listaCamposRequeridos.txCColonia">Colonia:</label>
										<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
											<input type="text" class="form-control " capitalize name="DCColonia"
												ng-required="listaCamposRequeridos.txCColonia" id="DCColonia" ng-model="DCColonia" maxlength="30">
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCColonia.$error.required && modificaTramite.DCColonia.$dirty"
										ng-style="{color:'red'}">La colonia es requerida</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCNumExt.$invalid && modificaTramite.DCNumExt.$dirty) }">
										<label for="DCNumExt" ng-if="listaCamposRequeridos.nuCExt">*No. Ext:</label>
										<label for="DCNumExt" ng-if="!listaCamposRequeridos.nuCExt">No. Ext:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span> 
												<input type="text"
													class="form-control " capitalize id="DCNumExt" name="DCNumExt"
													ng-model="DCNumExt" maxlength="7" ng-required="listaCamposRequeridos.nuCExt">
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCNumExt.$error.required && modificaTramite.DCNumExt.$dirty"
										ng-style="{color:'red'}">El numero exterior es requerida</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCNumInt.$invalid && modificaTramite.DCNumInt.$dirty) }">
										<label for="DCNumInt" ng-if="listaCamposRequeridos.nuCInt">*No. Int: </label>
										<label for="DCNumInt" ng-if="!listaCamposRequeridos.nuCInt">No. Int: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
												<input type="text"
													class="form-control" capitalize id="DCNumInt"
													ng-model="DCNumInt" maxlength="7" ng-required="listaCamposRequeridos.nuCInt">
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCNumInt.$error.required && modificaTramite.DCNumInt.$dirty"
										ng-style="{color:'red'}">El numero interior es requerida</div>
								</div>
							
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCEstado.$invalid && modificaTramite.DCEstado.$dirty) }">
										<label for="DCEstado" ng-if="listaCamposRequeridos.idCEDO">*Estado:</label>
										<label for="DCEstado" ng-if="!listaCamposRequeridos.idCEDO">Estado:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map"></i></span>
											<select name="DCEstado" id="DCEstado" class="form-control"
												ng-options="estado.edoId as estado.edoNombre for estado in catalogoEstados | orderBy:'edoNombre'"
												ng-model="DCEstado" ng-required="listaCamposRequeridos.idCEDO"
												ng-change="actualizarDelegacionPorEstado()">
												<option value="">Seleccione</option>
											</select>
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCNumExt.$error.required && modificaTramite.DCNumExt.$dirty"
										ng-style="{color:'red'}">El numero exterior es requerida</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DCDelegacion.$invalid && modificaTramite.DCDelegacion.$dirty) }">
										<label for="DCDelegacion" ng-if="listaCamposRequeridos.idCDelegacion">*Alcaldía / Municipio:</label>
										<label for="DCDelegacion" ng-if="!listaCamposRequeridos.idCDelegacion">Alcaldía / Municipio:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
												<select name="DCDelegacion" id="DCDelegacion" ng-required="listaCamposRequeridos.idCDelegacion"
													class="form-control" ng-model="DCDelegacion" ng-disabled="!DCEstado"
													ng-options="del.delId.delId as del.delNombre for del in catalogoDelegaciones | orderBy:'delNombre'">
													<option value="">Seleccione</option>
												</select>
										</div>
									</div>
									<div
										ng-show="modificaTramite.DCDelegacion.$error.required && modificaTramite.DCDelegacion.$dirty"
										ng-style="{color:'red'}">La alcaldía es requerida</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section class="col-lg-6 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Datos del Vehiculo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (modificaTramite.DVPlaca.$invalid && modificaTramite.DVPlaca.$dirty) }">
										<label for="DVPlaca" ng-if="listaCamposRequeridos.cdCPlaca">*Placa Vehículo:</label>
										<label for="DVPlaca" ng-if="!listaCamposRequeridos.cdCPlaca">Placa Vehículo:</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-automobile"></i></span>
													<input type="text" ng-required="listaCamposRequeridos.cdCPlaca" 
														class="form-control " capitalize id="DVPlaca" ng-model="DVPlaca"
														name="DVPlaca" maxlength="9" />
										</div>
										<div
											ng-show="modificaTramite.DVPlaca.$error.required && modificaTramite.DVPlaca.$dirty"
											ng-style="{color:'red'}">La placa del vehículo es requerida</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DVTipoVehiculo.$invalid && modificaTramite.DVTipoVehiculo.$dirty }">
										<label for="DVTipoVehiculo" ng-if="listaCamposRequeridos.idTipoVehiculo">*Tipo:</label>
										<label for="DVTipoVehiculo" ng-if="!listaCamposRequeridos.idTipoVehiculo">Tipo:</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-ellipsis-v "></i></span> <select class="form-control"
												ng-options="tipoV.vTipoId as tipoV.vTipoNombre for tipoV in catalogoTiposVehiculo | orderBy:'vTipoNombre'"
												ng-model="DVtipoVehiculo" name="DVTipoVehiculo"
												ng-required="listaCamposRequeridos.idTipoVehiculo">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>

										<div ng-show="modificaTramite.DVTipoVehiculo.$error.required && modificaTramite.DVTipoVehiculo.$dirty"
											ng-style="{color:'red'}">El tipo de vehículo es requerido</div>

									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DVMarca.$invalid && modificaTramite.DVMarca.$dirty }">
										<label for="DVMarca" ng-if="listaCamposRequeridos.idMarca">*Marca:</label>
										<label for="DVMarca" ng-if="!listaCamposRequeridos.idMarca">Marca:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-registered"></i></span>
												<select name="vMarca"
													class="form-control"
													ng-options="marca.vMarId as marca.vMarNombre for marca in catalogoVehiculosMarcas"
													ng-model="DVMarca" ng-required="listaCamposRequeridos.idMarca"
													ng-change="actualizarVehiculosModeloPorMarca()">
													<option value="" selected="selected">Seleccione</option>
												</select>
										</div>
										<div ng-show="modificaTramite.DVMarca.$error.required && modificaTramite.DVMarca.$dirty"
											ng-style="{color:'red'}">La marca del vehículo es requerida</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DVMarcaOtro.$invalid && modificaTramite.DVMarcaOtro.$dirty }">
										<label for="DVMarcaOtro" ng-if="marcaOtroRequerido">*Marca Otro:</label>
										<label for="DVMarcaOtro" ng-if="!marcaOtroRequerido">Marca Otro:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-registered"></i></span>
												<input type="text" ng-required="marcaOtroRequerido" ng-disabled="!marcaOtroRequerido"
													class="form-control " capitalize id="DVMarcaOtro" ng-model="DVMarcaOtro"
													name="DVMarcaOtro" maxlength="30" />
										</div>
										<div ng-show="modificaTramite.DVMarca.$error.required && modificaTramite.DVMarca.$dirty"
											ng-style="{color:'red'}">La marca del vehículo es requerida</div>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DVModelo.$invalid && modificaTramite.DVModelo.$dirty }">
										<label for="DVModelo" ng-if="listaCamposRequeridos.idModelo">*Modelo:</label>
										<label for="DVModelo" ng-if="!listaCamposRequeridos.idModelo">Modelo:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-barcode"></i></span>
												<select name="DVModelo" class="form-control" ng-disabled="!DVMarca"
													ng-options="modelo.vModId.vModId as modelo.vModNombre for modelo in catalogoVehiculosModelo | orderBy:modelo.vModId.vModId"
													ng-model="DVModelo" ng-change = "changeModeloVehiculo(DVModelo)" ng-requiered="listaCamposRequeridos.idModelo">
													<option value="">Seleccione</option>
											</select>
										</div>
										<div ng-show="modificaTramite.DVModelo.$error.required && modificaTramite.DVModelo.$dirty"
											ng-style="{color:'red'}">El modelo del vehículo es requerida</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DVModeloOtro.$invalid && modificaTramite.DVModeloOtro.$dirty }">
										<label for="DVModeloOtro" ng-if="modeloOtroRequerido">*Modelo Otro:</label>
										<label for="DVModeloOtro" ng-if="!modeloOtroRequerido">Modelo Otro:</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-registered"></i></span>
												<input type="text" ng-required="modeloOtroRequerido" ng-disabled="!modeloOtroRequerido"
													class="form-control " capitalize id="DVModeloOtro" ng-model="DVModeloOtro"
													name="DVModeloOtro" maxlength="30" />
										</div>
										<div ng-show="modificaTramite.DVModeloOtro.$error.required && modificaTramite.DVModeloOtro.$dirty"
											ng-style="{color:'red'}">El modelo del vehículo es requerida</div>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.vColor.$invalid && modificaTramite.DVModeloOtro.$dirty }">
										<label for="vColor" ng-if="listaCamposRequeridos.idColor">*Color: </label>
										<label for="vColor" ng-if="!listaCamposRequeridos.idColor">Color: </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-paint-brush"></i></span>
												<select name="vColor" class="form-control"
												ng-options="color.vColorId as color.vColorNombre for color in catalogoVehiculosColor"
												ng-model="vehiculoColor" ng-requiered="listaCamposRequeridos.idColor">
												<option value="">Seleccione</option>
											</select>
										</div>
									</div>
									<div ng-show="modificaTramite.vColor.$error.required && modificaTramite.vColor.$dirty"
											ng-style="{color:'red'}">El color del vehículo es requerido</div>
								</div>
									<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DTConCopia.$invalid && modificaTramite.DTConCopia.$dirty }">
										<label for="DTConCopia" ng-if="listaCamposRequeridos.txCC">*Con Copia A:</label>
										<label for="DTConCopia" ng-if="!listaCamposRequeridos.txCC">Con Copia A:</label>	
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
												<input type="email" class="form-control text-lowercase" 
													id="DTConCopia" ng-model="DTConCopia" maxlength="30"
													rows="9" name="DTConCopia" ng-required="listaCamposRequeridos.txCC"
													placeholder="C.C.">
													<span class="input-group-btn">
													<button type ="button" class="btn btn-danger btn-flat"
														ng-click="validarcc()">Agregar
													</button>
												</span>
										</div>
											<div ng-show="modificaTramite.DTConCopia.$error.required && modificaTramite.DTConCopia.$dirty"
											ng-style="{color:'red'}">La información de C.C. es requerida</div>	
											<div ng-show="modificaTramite.DVcc.$error.email"
											ng-style="{color:'red'}">Formato incorrecto</div>
											
										<span class="col-md-offset-5" data-toggle="tooltip" data-placement="top"
									data-html="true"
									data-original-title="{{tituloSug}}
         					{{descripcion}}
         					<!--{{descripcion2}}-->
         					{{formato}}
         					{{tituloEjemplo}}
         					{{ejemplo}}">
									<i class="fa fa-question-circle"></i> Ayuda
								</span>
									</div>
								</div>
								</div>
								
								<div class="row">
								   <div class="col-sm-7">
									<div class="form-group">
										<label for="DVcc">Correos Agregados:</label>			
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<div  class="divTextArea" >
											    <div  ng-class="clasesCss" id="correos1" ng-click="borrarDiv($event)"> </div>
								                <br id="br1">
												</div>
                                        </div>	
									</div>
								</div>
								</div>
							</div>
						</div>
				</section>
				
				<section class="col-lg-6 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Documentos</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-5">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group"
												ng-class="{'has-error': modificaTramite.DTDocumento.$invalid && modificaTramite.DTDocumento.$dirty}">
												<label for="DTDocumento" ng-if="listaCamposRequeridos.idTipoDoc">*Documentos a Entregar:</label>
												<label for="DTDocumento" ng-if="!listaCamposRequeridos.idTipoDoc">Documentos a Entregar:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-list-alt"></i>
													</div>
													<select class="form-control" select-picker multiple
														ng-required="listaCamposRequeridos.idTipoDoc" name="DTDocumento" id="DTDocumento"
														data-actions-box="true"
														data-selected-text-format="count > 1" data-max-options="8"
														ng-model="DTDocumento" multiple="multiple"
														ng-options="td.idDocumento as td.nbDocumento for td in comboTipoDocumento | orderBy:td.cdOrden"
														ng-change="changeDocumento(DTDocumento)">
													</select>
												</div>
												<div
													ng-if="modificaTramite.tipoDocumento.$invalid && modificaTramite.tipoDocumento.$dirty"
													ng-style="{color:'red'}">Favor de indicár el/los documentos</div>
											</div>
										</div>
									
										<div class="col-sm-12">
											<div class="form-group"
												ng-class="{'has-error': modificaTramite.DTDocumentoOtro.$invalid && modificaTramite.DTDocumentoOtro.$dirty }">
												<label for="DTDocumentoOtro" ng-if="documentoOtroRequerido">*Documento Otro:</label>
												<label for="DTDocumentoOtro" ng-if="!documentoOtroRequerido">Documento Otro:</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-registered"></i></span>
														<input type="text" ng-required="documentoOtroRequerido" ng-disabled="!documentoOtroRequerido"
															class="form-control " capitalize id="DTDocumentoOtro" ng-model="DTDocumentoOtro"
															name="DTDocumentoOtro" maxlength="30"/>
												</div>
												<div ng-show="modificaTramite.DTDocumentoOtro.$error.required && modificaTramite.DTDocumentoOtro.$dirty"
													ng-style="{color:'red'}">Favor de indicar el documento</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-sm-7">
								<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DTHechos.$invalid && modificaTramite.DTHechos.$dirty}">
										<label for="DTHechos" ng-if="listaCamposRequeridos.txHechos">*Hechos (máximo 200 caracteres): </label>
										<label for="DTHechos" ng-if="!listaCamposRequeridos.txHechos">Hechos (máximo 200 caracteres): </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-edit"></i></span>
												<textarea type="text" class="form-control"
													id="hechos" ng-model="DTHechos" maxlength="199"
													rows="4" name="DTHechos" id="DTHechos" ng-required="listaCamposRequeridos.txHechos"
													placeholder="Descripción" style="resize: none;">
												</textarea>
										</div>
										<div ng-if="modificaTramite.DTHechos.$invalid && modificaTramite.DTHechos.$dirty"
											ng-style="{color:'red'}"> Es necesario describir los hechos 
										</div>
									</div>
								</div>
								
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error': modificaTramite.DTMCambio.$invalid && modificaTramite.DTMCambio.$dirty}">
										<label for="DTMCambio">*Motivo de Cambio: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
											<textarea type="text" class="form-control"
												id="hechos" ng-model="DTMCambio" maxlength="180"
												rows="4" name="DTMCambio" id="DTMCambio" ng-required="true" 
												style="resize: none;">
											</textarea>
										</div>
										<div ng-if="modificaTramite.DTMCambio.$invalid && modificaTramite.DTMCambio.$dirty"
											ng-style="{color:'red'}"> Es necesario describir el motivo del cambio 
										</div>
									</div>
									</div>
								</div>
								
							</div>
							<div class="col-sm-offset-1 col-sm-11">
									<span ng-if="modificaTramite.DTDocumento.$valid"><strong> Documentos a Entregar:</strong> {{listNbDocumento+" "}} {{DTDocumentoOtro != null || DTDocumentoOtro != undefined ? "," : ""}}{{DTDocumentoOtro != null || DTDocumentoOtro != undefined ? DTDocumentoOtro : ""}} </span>
								</div>
						</div>
					</div>
					</div>
				</section>
				
				<section class="col-lg-6 connectedSortable" >
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Cambio Tipo de Persona</h3>
						</div>
						<div class="box-body">
							<div class="row">
							  <div class="col-md-6">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{'has-error': modificaTramite.infracciones.$invalid && modificaTramite.infracciones.$dirty}">
										<label for="infracciones" ng-if="listaCamposRequeridos.folioInfrac">*Folio de Infracción:</label>			
                                         <label for="infracciones" ng-if="!listaCamposRequeridos.folioInfrac">Folio de Infracción:</label>

										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<input type="input" class="form-control text-lowercase" ng-disabled="tipoPersonaFotocivicas || consultaTramitesData[0].nbstSegTramite=='Atendido'"
													 id="infracciones" ng-model="listaInfracciones"  name="infracciones" maxlength="11">
													<span class="input-group-btn">
													<button type ="button" class="btn btn-danger btn-flat"
														ng-click="validarFolios()" ng-disabled="tipoPersonaFotocivicas || consultaTramitesData[0].nbstSegTramite=='Atendido'" nbstSegTramite>Agregar
													</button>
												</span>
											
                                        </div>
                                        <div
											ng-show="errorLongitud"
											ng-style="{color:'red'}">Longitud incorrecta (11 dígitos)</div>
										<div
											ng-show="errorTipoDeFolio"
											ng-style="{color:'red'}">El folio de infracción no es Fotocívica</div>

								</div>
								</div>
					
						
						     <div class="col-sm-12">
									<div class="form-group">
										<label for="infracAgregadas">Infracciones Agregadas:</label>			
										<div style="overflow-y: scroll; min-height: 150px; height: 150px;">
											<span class="input-group-addon"><i
												class="fa fa-user-plus"></i></span> 
												<div  class="divTextArea" >
												<div ng-show="consultaTramitesData[0].nbstSegTramite=='Atendido'" class="estiloInfraccion2" id="infracc1"> </div>
											    <div ng-show="consultaTramitesData[0].nbstSegTramite!='Atendido'" ng-class="clasesCss2" id="infrac1" ng-click="borrarDivInfrac($event)"> </div>
								                <br id="bi1">
												</div>
                                        </div>	
									</div>
								</div>
									</div>	
									
									<div class="col-md-6">
									<div class="row">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{'has-error': modificaTramite.origenPlaca.$invalid && modificaTramite.origenPlaca.$dirty}">
										<label for="origenPlaca" ng-if="listaCamposRequeridos.folioInfrac">*Nuevo Origen Placa: </label>
										<label for="origenPlaca" ng-if="!listaCamposRequeridos.folioInfrac">Nuevo Origen Placa: </label>
										 <div class="row">
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" ng-model="origenPlaca" value="1" ng-change="validarOrigenPlaca()" ng-required="listaCamposRequeridos.folioInfrac"
                                                        ng-disabled="tipoPersonaFotocivicas || consultaTramitesData[0].nbstSegTramite=='Atendido'" name='origenPlaca'> Foráneo
                                                    </label>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" ng-model="origenPlaca" value="0" ng-change="validarOrigenPlaca()" ng-disabled="tipoPersonaFotocivicas || consultaTramitesData[0].nbstSegTramite=='Atendido'"
                                                        ng-required="listaCamposRequeridos.folioInfrac" name='origenPlaca'> CDMX
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <span
											ng-if="modificaTramite.origenPlaca.$invalid && modificaTramite.origenPlaca.$dirty"
											ng-style="{color:'red'}"> Es necesario seleccionar el origen de la placa </span>
									</div>
								</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{'has-error': modificaTramite.tipoPersona.$invalid && modificaTramite.tipoPersona.$dirty}">
										<label for="tipoPersona" ng-if="listaCamposRequeridos.folioInfrac">*Nuevo Tipo de Persona: </label>
										<label for="tipoPersona" ng-if="!listaCamposRequeridos.folioInfrac">Nuevo Tipo de Persona: </label>
										 <div class="row">
                                            <div class="col-md-5">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" ng-model="idtipoPersona" value="1" ng-change="" ng-required="listaCamposRequeridos.folioInfrac"
                                                        ng-disabled="bloquearDesconocido || consultaTramitesData[0].nbstSegTramite=='Atendido'" name='tipoPersona'> Desconocido
                                                    </label>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-3">
                                                <div class="radio">
                                                   <label>
                                                        <input type="radio" ng-model="idtipoPersona" value="2" ng-change="" ng-required="listaCamposRequeridos.folioInfrac"
                                                        ng-disabled="bloquearFisicaYMoral || consultaTramitesData[0].nbstSegTramite=='Atendido'" name='tipoPersona'> Física
                                                    </label>
                                                </div>
                                            </div>
                                            
                                              <div class="col-md-3">
                                                <div class="radio">
                                                   <label>
                                                        <input type="radio" ng-model="idtipoPersona" value="3" ng-change="" ng-required="listaCamposRequeridos.folioInfrac"
                                                        ng-disabled="bloquearFisicaYMoral || consultaTramitesData[0].nbstSegTramite=='Atendido'" name='tipoPersona'> Moral
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <span
											ng-if="modificaTramite.tipoPersona.$invalid && modificaTramite.tipoPersona.$dirty"
											ng-style="{color:'red'}"> Es necesario ingresar el tipo de persona </span>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
											ng-class="{'has-error': modificaTramite.DCEstadotipoPersona.$invalid && modificaTramite.DCEstadotipoPersona.$dirty}">
										<label for="DCEstadotipoPersona" ng-if="origenPlaca=='1'">*Nuevo Estado: </label>
										<label for="DCEstadotipoPersona" ng-if="origenPlaca!='1'">Nuevo Estado: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map"></i></span>
											
											<select id="DCEstadotipoPersona" class="form-control"
												ng-options="estado.edoId as estado.edoNombre for estado in catalogoEstados | orderBy:'edoNombre'"
												ng-model="nuevoEstadoTipoPersona" ng-required="DV.origenPlaca=='1'"
												name="DCEstadotipoPersona" ng-disabled="bloquearDesconocido || consultaTramitesData[0].nbstSegTramite=='Atendido'">
												<option value="">Seleccione</option>
											</select>
										</div>
								      <div
											ng-show="modificaTramite.DCEstadotipoPersona.$error.required && modificaTramite.DCEstadotipoPersona.$dirty"
											ng-style="{color:'red'}">El estado es requerido</div>
									</div>
								</div>
								</div>
								
								
									</div>
						
					</div>
					</div>
				</section>
				
				<section class="col-lg-12 connectedSortable">
					<div class="row itemsBox">
						<button class="btn btn-danger" id="btnRegresar" ng-click="regresar()">
							<i class="fa fa-arrow-circle-left"></i>
							<span>Regresar</span>
						</button>
						<button class="btn btn-danger " id="btnVistaPrevia"
							ng-click="vistaPrevia()" >
							<i class="fa fa-eye"></i>
							Vista Previa
						</button>
						<button class="btn btn-danger" id="btnGuardarDatos" ng-click="guardarTramite()">
							<i class="fa fa-floppy-o"></i>
							<span>Guardar</span>
						</button>
					</div>
				</section>
			</div>
		</form>
	</section>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Vista Previa Alta Trámite</h4>
				</div>
				<div class="modal-body">
					<div style="text-align: center;">
				<iframe  id="blob-src-test" style="width: 750px; height: 500px;" frameborder="0"></iframe>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" ng-click="guardarTramite()" data-dismiss="modal">Guardar Cambios</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	<div class="modal fade" id="myModalDesc" role="dialog" data-keyboard="false" data-backdrop="static"> -->
<!-- 		<div class="modal-dialog modal-md"> -->
<!-- 			<div class="modal-header"> -->
<!-- 				<button type="button" class="close" data-dismiss="modal" -->
<!-- 						aria-hidden="true" ng-click="regresarConsultaModifica()">×</button> -->
<!-- 					<h3 class="modal-title" id="myModalLabel">Detalle de modificación</h3> -->
<!-- 			</div> -->
<!-- 			<div class="modal-body"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-md-12" align="center"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label>Folio de Tramite: </label> -->
<!-- 							<span>{{Modal.idACTramite}}</span> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div ngif="!tipoPersona" class="col-md-12" align="center"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label>Nombre de Ciudadano: </label> -->
<!-- 							<span>{{Modal.nbCiudadano+' '+Modal.nbCPaterno+' '+Modal.nbMaterno}}</span>  -->
<!-- 						</div> -->
<!-- 					</div> -->
					
<!-- 					<div ng-if="tipoPersona" class="col-md-12" align="center"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label>Nombre de la Empresa: </label><span> {{Modal.nbEmpresa}}</span>  -->
<!-- 						</div> -->
<!-- 					</div> -->
					
<!-- 					<div class="col-md-12" align="center"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label>Nombre del Oficial: </label> -->
<!-- 							<span> -->
<!-- 								{{letraCapital(empleado.empNombre)}} {{letraCapital(empleado.empApePaterno)}} {{letraCapital(empleado.empApeMaterno)}} -->
<!-- 							</span> -->
<!-- 						</div> -->
<!-- 					</div> -->
					
<!-- 					<div class="col-md-12" align="center"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<div> -->
<!-- 								<label for="example1">Tipo de Tramite: </label> <span> -->
<!-- 									{{listNbTramite + " "}}</span> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				
<!-- <!-- 					<div class="col-md-12" align="center"> --> -->
<!-- <!-- 						<p>El tramite con número de folio {{Modal.idACTramite}} fue actualizado con exito</p> --> -->
<!-- <!-- 					</div> --> -->
<!-- 					<div class="col-md-12" align="center"> -->
<!-- 						<a ng-click="generaReporteTramite(Modal.idACTramite)"> -->
<!-- 							<span><img width="50px" src="static/dist/img/pdf_logo.png"></span> -->
<!-- 						</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="modal-footer"> -->
<!-- 				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="regresarConsultaModifica()">Cerrar</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<body>
</html>