<html>
<head>
<meta charset="utf-8">
<title>Reportes de Fotomultas </title>
<style>
	.scrolltopUser{
		height: 382px !important;
	}
</style>
</head>
<body>

<section class="content-header">
		<h1 >Reportes de Fotomultas </h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-book"></i>Reportes</a></li>
			<li class="active">Fotomultas </li>
		</ol>
	</section>
   
  <section class="content">
	<div class="row">
        
		<div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-aqua mini-charts-item">
          <!-- small box --><div class="small-box-header">Total Clasificación </div>
            <div class="inner">
				<h3 style="font-size: 25px">{{totalClasificacion}}</h3>
			</div>
			<div class="inner" align="right">
				<h6 class="" style="font-size: 24px;">{{totalClasPorcentaje}}<sup style="font-size: 15px;">%</sup></h6>
			</div>
            <div class="icon">
              <i class="fa fa-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
		
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-green mini-charts-item">
          <!-- small box --> <div class="small-box-header">Total Prevalidaciones </div>
            <div class="inner">
				<h3 style="font-size: 25px">{{totalPreval}}</h3>
			</div>
			<div class="inner" align="right">
				<h6 class="" style="font-size: 24px;">{{prevalPorcentaje}}<sup style="font-size: 15px;">%</sup></h6>
			</div>   
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-md-3">
          <!-- small box -->
		   <div class="small-box bg-aqua mini-charts-item">
          <div class="small-box bg-yellow mini-charts-item">
		  <div class="small-box-header">Total Validaciones</div>
            <div class="inner">
				<h3 style="font-size: 25px" >{{totalVali}}</h3>
			</div>
			<div class="inner" align="right">
			<h6 class="" style="font-size: 24px;">{{valiPorcentaje}}<sup style="font-size: 15px;">%</sup></h6>
			</div> 
            <div class="icon" style="padding-top:5px;">
              	<i class="fa fa-check"></i>
            </div>
          </div>
		  </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-green mini-charts-item">
		  <div class="small-box-header">Total Infracciones </div>
			<div class="inner">
				<h3 style="font-size: 25px">{{infracciones}}</h3>
			</div>
			<div class="inner" align="right">
			<h6 class="" style="font-size: 24px;">{{infraccPorcentaje}}<sup style="font-size: 15px;">%</sup></h6>
			</div>
        
            <div class="icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>

		<div class="row">
			<div class="col-md-12 text-center">
 				<div class="box box-danger">
					<div class="box-header with-border" align="center">
						<h3 class="box-title">Total por Tipo de Dispositivo</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
 						<div class="row">
 							<div class="col-md-4 ">
								<div >
									<div class="chart" id="chartContainerPie"
									 ></div>
								</div>
								<!-- ./chart-responsive -->
							</div>
							<!-- /.col -->
							<div class="col-md-4">
								<div >
									<div id="chartContainerPie2" class="chart"
										></div>
								</div>
								<!-- ./chart-responsive -->
							</div>
							<!-- /.col -->
							<div class="col-md-4">
								<div >
									<div id="chartContainerPie3" class="chart"
										></div>
								</div>
								<!-- ./chart-responsive -->
							</div>
     					</div> 
					</div>
				</div>
			</div>
 		</div> 
		<div class="row">
		 
		
		<div class="col-md-12">
		
		<div class="box box-danger">
            <div class="box-header with-border" align="center">
			<h3 class="box-title">Total Aceptadas vs Rechazadas por Dispositivo</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
               </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="chart-responsive">
					<div class="chart" id="chartContainerColumns" style="height: 300px; width: 100%;"></div>
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <div class="chart-responsive">
					<div class="chart" id="chartContainerColumns2" style="height: 300px; width: 100%;"></div>
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
				<div class="col-md-4">
				<div class="chart-responsive">
					<div class="chart" id="chartContainerColumns3" style="height: 300px; width: 100%;"></div>
                  </div>
				</div>
				 
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
             
          </div>
		</div>
    </div>
	
	 
	
	<div class="row">
		
		<div class="col-md-12">
          <!-- LINE CHART -->
          <div class="box box-danger">
            <div class="box-header with-border" align="center">
              <h3 class="box-title">Infracciones vs Liberaciones</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
              <div id="chartContainer" style="height: 400px; width: 100%;">
					</div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
		</div>
          <!-- /.box -->
		 
    </div>
	
	      <div class="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header " align="center" >
              <h3 class="box-title">Top Usuarios Clasificación</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
			 <div class="scrolltopUser" id="scrolluserClasificacion">
              <table class="table table-hover">
                <tr >
                  <th>NOMBRE</th>
                  <th>CANTIDAD</th>
                </tr>
     
                <tr ng-repeat="userc in  usuariosClasificacion | orderBy: 'total' : true | limitTo:limite">
                   <td>{{userc.nombre}}</td>
 			  	<td>
  			 		<span class="badge">{{userc.total}}</span>
 			    </td>
                  
                </tr>
 				
			  </table>
			    </div>
			  </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        
		<div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header " align="center">
              <h3 class="box-title">Top Usuarios Prevalidación</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
			<div class="col-xs-1"></div>
			<div class="col-xs-11">
			  <div class="scrolltopUser" id="scrolluserPrevalidacion">
              <table class="table table-hover" >
                <tr>
                  <th>NOMBRE</th>
                  <th>CANTIDAD</th>
                </tr>
				<tr ng-repeat="userp in usuariosPrevalidacion | orderBy: 'totalPrevalidaciones' : true | limitTo:limite" >
  				<td>{{userp.nombre==null ? 'Sin Nombre' : userp.nombre }}</td>
 			  	<td>
  			 		<span class="badge">{{userp.totalPrevalidaciones}}</span>
 			    </td>
 			  
			</tr>
			
			  </table>
			  
	         </div>
	         </div>
			 <div class="col-xs-4"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
	</section>
  
	
	</body>
	<script>
  $(function () {
  
  $('#scrolluserClasificacion').slimScroll({
		height: '100%',
        color: '#abb2b9',
        opacity: .5,
        size: "4px",
        alwaysVisible: false,
        allowPageScroll : true
    });
  $('#scrolluserPrevalidacion').slimScroll({
		height: '100%',
        color: '#abb2b9',
        opacity: .5,
        size: "4px",
        alwaysVisible: false,
        allowPageScroll : true
    });
    
  $("#linkRow2").on('click',function() {
		if($('#linkRow2').html()=="...ver todo"){
		$('#linkRow2').html("...ocultar")
		}else{
		$('#linkRow2').html("...ver todo")
		}		
	 });
$("#linkRow3").on('click',function() {
		if($('#linkRow3').html()=="...ver todo"){
		$('#linkRow3').html("...ocultar")
		}else{
		$('#linkRow3').html("...ver todo")
		}		
	 });
 });
</script>
<style>

.chart {
  width: 100%; 
  min-height: 300px;
}


</style>

	
	</html>