<html>
<head>
<meta charset="utf-8">
<title>Consulta de Expediente</title>
</head>
<body>
<!-- 	<div ng-show="error" class="alert alert-warning"> -->
<!-- 		{{error.message}}</div> -->
	<section class="content-header">
		<h1>Consulta de Expediente de Infracción</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Infracción</a></li>
			<li>Consulta</li>
			<li class="active">Expediente</li>
		</ol>
	</section>

	<!-- Main content -->
	<div ng-show="vistaClasica == false">
		<section class="content">
			<div class="row">
				<section class="{{ligasSection}} connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Expediente: <span class="infraccionExpediente">{{infraccion.infraccionNumero}}</span></h3>
							<div class="box-tools col-md-3 pull-right">
								<div class="col-md-6 pull-left">
									<img src="static/dist/img/pdf_logo.png" ng-click="generaReporteExpediente()" class="img-rounded img-responsive" 
										data-toggle="tooltip" data-placement="top" title="" data-original-title="Reporte Expediente" 
										width="25px" height="30px">
								</div>
								<button type="button" class="btn btn-box-tool" ng-click="cambiaVista()" style="font-size: 1.1rem;"
									data-toggle="tooltip" data-placement="top" title="Cambiar Vista">
									<i class="fa fa-exchange" ></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<fieldset>
											<legend>Fundamentación</legend>
											{{infraccion.infracArticulo}} &nbsp{{infraccion.infracFraccion}} &nbsp{{infraccion.infracParrafo}} &nbsp{{infraccion.infracInciso}} <br>
											{{infraccion.motivacion}}
										</fieldset>
										<div class="table-responsive">
											<table class="table">
												<tr ng-show="consultaExpediente.length>0 || directorioDigA.length>0 || directorioDigR.length>0 ">
													<td class="tituloExpediente">
														<h4>Infracción</h4>
													</td>
												</tr>
												<tr dir-paginate="consulta in consultaExpediente | itemsPerPage: 15">
<!-- 												<tr ng-repeat="consulta in consultaExpediente"> -->
													<td>
														<a ng-click="descargarImagen(consulta.nombreArchivo)">{{consulta.tipo}}-{{consulta.nombreArchivo}}</a>
														<div ng-init="buscarImagen(consulta.nombreArchivo,consulta.tipo)"></div>
													</td>
												</tr>
												<!-- Adecuacion de imagenes carrusel -->
												<tr dir-paginate="dirDigA in directorioDigA | itemsPerPage: 15" ng-show="!validaExpediente">
													<td>
														<a  ng-click="descargaExpedienteImg(dirDigA.path,dirDigA.nombreArchivo)">
														   INFRACCION-{{dirDigA.nombreArchivo}}</a>
													</td>
												</tr>
												<tr dir-paginate="dirDigR in directorioDigR | itemsPerPage: 15" ng-show="!validaExpediente">
													<td>
														<a  ng-click="descargaExpedienteImg(dirDigR.path,dirDigR.nombreArchivo)">
														   INFRACCION-{{dirDigR.nombreArchivo}}</a>
													</td>
												</tr>
												
												<tr ng-show="imagenesIngreso.length>0">
													<td class="tituloExpediente">
														<h4>Pago</h4>
													</td>
												</tr>
												<tr dir-paginate="imagen in imagenesIngreso | itemsPerPage: 15" ng-show="!validaExpediente">
													<td>
														<a ng-click="descargaExpedienteImg(imagen.path,imagen.nombreArchivo)">
															PAGO-{{imagen.nombreArchivo}}</a>									
												    </td>
												</tr>
												<tr ng-show="imagenesHandHeld.length>0">
													<td class="tituloExpediente">
														<h4>Handheld</h4>
													</td>
												</tr>	
												<tr dir-paginate="imgHand in imagenesHandHeld | itemsPerPage: 15" ng-show="!validaExpediente">
													<td>
														<a  ng-click="descargaExpedienteImg(imgHand.path,imgHand.nombreArchivo)">
															HANDHELD-{{imgHand.nombreArchivo}}</a>											
													</td>
												</tr>
												
												<tr ng-show="mostrarTituloExpedientePago">
													<td class="tituloExpediente">
														<h4>Expediente de Pago</h4>
													</td>
												</tr>
												<tr dir-paginate="imgDigit in imagenesDigitExped | itemsPerPage: 15" ng-show="!validaExpediente">
													<td ng-if="imgDigit.extensionArchivo == 'pdf'">
														<figure class="figure text-center">
															<h5 class="tituloDocumento">{{imgDigit.nombreCatDocumento}}</h5>
															<span ng-if="imgDigit.extensionArchivo == 'pdf'">
																<a ng-if="imgDigit.existeEnBD" ng-click="descargarExpediente($event, imgDigit.tipoCatDocumento)">{{imgDigit.nombreArchivo}}</a>
																<a href="{{imgDigit.localPath}}" target="_blank" ng-if="!imgDigit.existeEnBD">{{imgDigit.nombreArchivo}}</a>
															</span>
<!-- 															<span ng-if="imgDigit.extensionArchivo != 'pdf'"> -->
<!-- 																<img ng-if="imgDigit.existeEnBD" ng-src="data:image/png;base64,{{ imgDigit.bdPath }}"  -->
<!-- 																	class="img-responsive center-block figure-img img-fluid img-rounded" /> -->
<!-- 																<img ng-if="!imgDigit.existeEnBD" ng-src="{{ imgDigit.localPath }}"  -->
<!-- 																	class="img-responsive center-block figure-img img-fluid img-rounded" /> -->
<!-- 															</span> -->
														</figure>
													</td>
												</tr>
												
												<tr dir-paginate="img in directorioDigValA | itemsPerPage: 15" ng-show="validaExpediente">
													<td>
														<figure class="figure">
															<img ng-src="{{img.ruta}}" 
																class="img-responsive center-block figure-img img-fluid img-rounded">
														</figure>
														<br>
														<figure class="figure" ng-show="img.unidad == 'K'">
															<img ng-src="{{img.ruta1}}" 
																class="img-responsive center-block figure-img img-fluid img-rounded">
														</figure>
													</td>
												</tr>
												
												<tr dir-paginate="img in directorioDigValR | itemsPerPage: 15" ng-show="validaExpediente">
													<td>
														<figure class="figure">
															<img ng-src="{{img.ruta}}" 
																class="img-responsive center-block figure-img img-fluid img-rounded">
														</figure>
														<br>
														<figure class="figure" ng-show="img.unidad == 'K'">
															<img ng-src="{{img.ruta1}}" 
																class="img-responsive center-block figure-img img-fluid img-rounded">
														</figure>
													</td>
												</tr>
												
											</table>
										</div>
									</div><!--End fundamentacion-->
								</div>
							</div>
							
							<div class="row itemsBox">
								<button ng-click="regresarExp()" class="btn btn-danger" ng-show="validaExpediente">
									<i class="fa fa-arrow-circle-left"></i>
									<span>Regresar</span>
								</button>
								<button ng-click="regresarExp()" class="btn btn-danger" ng-show="!validaExpediente">
									<i class="fa fa-arrow-circle-left"></i>
									<span>Regresar</span>
								</button>
								<button ng-click="verInfraccion()" class="btn btn-danger" ng-show="!validaExpediente">
									<i class="fa fa-newspaper-o"></i>
									<span>Ver Infracción</span>
								</button>
								<div ng-show="validaExpediente">
									<button data-toggle="modal" data-target="#validaExpediente" ng-click="getStatusValidacionImagenes()" class="btn btn-danger">
										Validar imagenes
									</button>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				<section class="col-md-6" ng-show="showFotosSection">
					<div class="box box-danger">
						<div uib-carousel active="0">
							<div uib-slide ng-repeat="fotografia in fotos track by fotografia.id" index="fotografia.id">
								<div class="box-title">
									<h4 class="box-title">{{fotografia.nombreArchivo}}</h4>
								</div>
								<div class="box-body">
									<figure class="figure">
										<img ng-src="{{fotografia.image}}" class="img-responsive center-block figure-img img-fluid img-rounded">
										<div class="carousel-caption">
											<p>{{fotografia.nombreArchivo}}</p>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!--ajuste de lista de imagenes  -->
				<section class="col-md-6" ng-show="listaImagenes.length>0">
					<div class="box box-danger">
						<div uib-carousel active="0"  >
							<div uib-slide ng-repeat="img in listaImagenes" index="$index">
								<div class="box-title">
									<h4 class="box-title" ng-if="img[1] != 'imagenesDigitExped'">{{img[0].nombreArchivo}}</h4>
									<h4 class="box-title" ng-if="img[1] == 'imagenesDigitExped'">{{img[0].nombreCatDocumento}}</h4>
								</div>
								<div class="box-body">
									<figure class="figure">
										<img ng-src="http://imagenes.infracciones.df.gob.mx/{{img[0].path}}/{{img[0].nombreArchivo}}" 
											 class="img-responsive center-block figure-img img-fluid img-rounded"
											 ng-if="img[1] != 'imagenesDigitExped'">
										<div class="carousel-caption"
											ng-if="img[1] != 'imagenesDigitExped'">
											<p>{{img[0].nombreArchivo}}</p>
										</div>
										<!-- -------Imagenes de Expedientes Pagos------- -->
										<img ng-if="img[0].existeEnBD" ng-src="data:image/png;base64,{{ img[0].bdPath }}" 
											class="img-responsive center-block figure-img img-fluid img-rounded"
											ng-if="img[1] == 'imagenesDigitExped'">
										<img ng-if="!img[0].existeEnBD" ng-src="{{ img[0].localPath }}" 
											class="img-responsive center-block figure-img img-fluid img-rounded" 
											ng-if="img[1] == 'imagenesDigitExped'">
										<div class="carousel-caption"
											ng-if="img[1] == 'imagenesDigitExped'">
											<p>{{img[0].nombreCatDocumento}}</p>
										</div>
										<!-- -------Imagenes de Digitalizacion------- -->
										<img ng-src="http://imagenes.infracciones.df.gob.mx/{{img[0].path}}" 
											 class="img-responsive center-block figure-img img-fluid img-rounded"
											 ng-if="img[1] == 'directorioDigA'">
										<div class="carousel-caption"
											ng-if="img[1] == 'directorioDigA'">
											<p>{{img[0].nombreArchivo}}</p>
										</div>
										<img ng-src="http://imagenes.infracciones.df.gob.mx/{{img[0].path}}" 
											 class="img-responsive center-block figure-img img-fluid img-rounded"
											 ng-if="img[1] == 'directorioDigR'">
										<div class="carousel-caption"
											ng-if="img[1] == 'directorioDigR'">
											<p>{{img[0].nombreArchivo}}</p>
										</div>
									</figure>
								</div>
							</div>	
						</div>
					</div>
				</section>
				<!-- ****** -->
				
				
			</div>
	
			<!-- {{infraccion}} 
			{{consultaExpediente}}
			{{imagenesIngreso}}
			{{directorioDigA}}
			{{directorioDigR}}
			{{imagenesHandHeld}}  -->
		</section>
		
		<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="validaExpediente">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header bg-red-active text-center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Validar Expediente</h4>
					</div>
					<div class="modal-body">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Validar imagenes</legend>
							<div class="table-responsive">
								<table class="table tblsnborder">
									<tr>
										<td align="center"><dt>Infracción a Validar:</dt></td>
									</tr>
									<tr>	
										<td align="center">{{infraccion.infraccionNumero}}</td>
									</tr>
									<tr>
										<td align="center"><dt>Estatus Actual:</dt></td>
									</tr>
									<tr ng-show="validacion==null">
										<td align="center">SIN VALIDAR</td>
									</tr>
									<tr ng-show="validacion!=null">
										<td align="center">{{validacion.estatus}} </td>
									</tr>
									<tr ng-show="validacion!=null">
										<td align="center"><dt>Fecha de Validación:</dt></td>
									</tr>
									<tr ng-show="validacion!=null">
										<td align="center">{{validacion.fechaModificacion}} </td>
									</tr>
									<tr ng-show="validacion!=null">
										<td align="center"><dt>Validado Por:</dt></td>
									</tr>
									<tr ng-show="validacion!=null">
										<td align="center">{{validacion.modificadoPor}} </td>
									</tr>
									<tr>
										<td align="center"><dt>Actualizar Estatus:</dt></td>
									</tr>
									<tr>
										<td>
											<div class="row">
												<div class="col-lg-6">
													<div class="radio">
														<label> <input type="radio"
															ng-model="imgStatus" value="S"
															ng-change="cambioCuenaConPlaca()"> Imagenes válidas
														</label>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="radio">
														<label> <input type="radio"
															ng-model="imgStatus" value="N"
															ng-change="cambioCuenaConPlaca()"> Imagenes inválidas 
														</label>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setStatusValidacionImagenes()">Actualizar</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="vistaClasica == true">
		<section class="content">
			<div class="row">
				<section class="{{ligasSection2}} connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Expediente: <span class="infraccionExpediente">{{infraccion.infraccionNumero}}</span></h3>
							<div class="box-tools col-md-3 pull-right">
								<div class="col-md-6 pull-left">
									<img src="static/dist/img/pdf_logo.png" ng-click="generaReporteExpediente()" class="img-rounded img-responsive" 
										data-toggle="tooltip" data-placement="top" title="" data-original-title="Reporte Expediente" 
										width="25px" height="30px">
								</div>
								<button type="button" class="btn btn-box-tool" ng-click="cambiaVista()" style="font-size: 1.1rem;"
									data-toggle="tooltip" data-placement="top" title="Cambiar Vista">
									<i class="fa fa-exchange fa-w-10"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<fieldset>
											<legend>Fundamentación</legend>
											{{infraccion.infracArticulo}} &nbsp{{infraccion.infracFraccion}} &nbsp{{infraccion.infracParrafo}} &nbsp{{infraccion.infracInciso}} <br>
											{{infraccion.motivacion}}
										</fieldset>
									</div><!--End fundamentacion-->
								</div>
							</div>
<!-- 							<div class="table-responsive" ng-show="listaImagenes.length>0"> -->
<!-- 								<table class="table"> -->
<!-- 									<tr> -->
<!-- 										<td class="tituloExpediente"> -->
<!-- 											<h4>Handheld</h4> -->
<!-- 										</td> -->
<!-- 									</tr> -->
<!-- 									<tr ng-repeat="img in listaImagenes"> -->
<!-- 										<td align="center"> -->
<!-- 											<dt> -->
<!-- 												<img ng-src="http://imagenes.infracciones.df.gob.mx/{{img.path}}/{{img.nombreArchivo}}"  -->
<!-- 												class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 												HANDHELD-{{img.nombreArchivo}} -->
<!-- 											</dt> -->
<!-- 										</td> -->
<!-- 									</tr> -->
<!-- 								</table> -->
							
							
							<div class="table-responsive">
								<table class="table">
									<tr ng-show="fotos.length > 0">
										<td class="tituloExpediente">
											<h4>Infracción</h4>
										</td>
									</tr>

									<tr ng-repeat="fotografia in fotos">
										<td>
											<dt class="center center-block">
												<img ng-src="{{fotografia.image}}" class="img-responsive center-block figure-img img-fluid img-rounded">
 												INFRACCIÓN-{{fotografia.nombreArchivo}}
											</dt>
										</td>
									</tr>
									
									<tr ng-show="imagenesHandHeld.length>0">
										<td class="tituloExpediente">
											<h4>Handheld</h4>
										</td>
									</tr>	
									<tr ng-repeat="imgHand in imagenesHandHeld">
										<td>
											<dt class="center center-block">
												<img ng-src="http://imagenes.infracciones.df.gob.mx/{{imgHand.path}}/{{imgHand.nombreArchivo}}" 
												class="img-responsive center-block figure-img img-fluid img-rounded">
												HANDHELD-{{imgHand.nombreArchivo}}
											</dt>
										</td>
									</tr>
									
									<tr ng-show="mostrarTituloExpedientePago">
										<td class="tituloExpediente">
											<h4>Expediente de Pago</h4>
										</td>
									</tr>
									<tr ng-repeat="imgDigit in imagenesDigitExped | itemsPerPage: 15">
										<td ng-if="imgDigit.extensionArchivo != 'pdf'">
											<figure class="figure text-center">
												<h5 class="tituloDocumento">{{imgDigit.nombreCatDocumento}}</h5>
												<span ng-if="imgDigit.extensionArchivo != 'pdf'">
													<img ng-if="imgDigit.existeEnBD" ng-src="data:image/png;base64,{{ imgDigit.bdPath }}" 
														class="img-responsive center-block figure-img img-fluid img-rounded" />
													<img ng-if="!imgDigit.existeEnBD" ng-src="{{ imgDigit.localPath }}" 
														class="img-responsive center-block figure-img img-fluid img-rounded" />
												</span>
											</figure>
										</td>
									</tr>
									
<!-- 									<tr dir-paginate="img in directorioDigValA | itemsPerPage: 15" ng-show="validaExpediente"> -->
<!-- 										<td> -->
<!-- 											<figure class="figure"> -->
<!-- 												<img ng-src="{{img.ruta}}"  -->
<!-- 													class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 											</figure> -->
<!-- 											<br> -->
<!-- 											<figure class="figure" ng-show="img.unidad == 'K'"> -->
<!-- 												<img ng-src="{{img.ruta1}}"  -->
<!-- 													class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 											</figure> -->
<!-- 										</td> -->
<!-- 									</tr> -->
									
<!-- 									<tr dir-paginate="img in directorioDigValR | itemsPerPage: 15" ng-show="validaExpediente"> -->
<!-- 										<td> -->
<!-- 											<figure class="figure"> -->
<!-- 												<img ng-src="{{img.ruta}}"  -->
<!-- 													class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 											</figure> -->
<!-- 											<br> -->
<!-- 											<figure class="figure" ng-show="img.unidad == 'K'"> -->
<!-- 												<img ng-src="{{img.ruta1}}"  -->
<!-- 													class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 											</figure> -->
<!-- 										</td> -->
<!-- 									</tr> -->
									
								</table>
							</div>
							
							<div class="row itemsBox">
								<button ng-click="regresarExp()" class="btn btn-danger" ng-show="validaExpediente">
									<i class="fa fa-arrow-circle-left"></i>
									<span>Regresar</span>
								</button>
								<button ng-click="regresarExp()" class="btn btn-danger" ng-show="!validaExpediente">
									<i class="fa fa-arrow-circle-left"></i>
									<span>Regresar</span>
								</button>
								<button ng-click="verInfraccion()" class="btn btn-danger" ng-show="!validaExpediente">
									<i class="fa fa-newspaper-o"></i>
									<span>Ver Infracción</span>
								</button>
								<div ng-show="validaExpediente">
									<button data-toggle="modal" data-target="#validaExpediente" ng-click="getStatusValidacionImagenes()" class="btn btn-danger">
										Validar imagenes
									</button>
								</div>
							</div>
<!-- 						</div> -->
						</div>
					</div>
				</section>
<!-- 				<section class="col-md-6" ng-show="showFotosSection"> -->
<!-- 					<div class="box box-danger"> -->
<!-- 						<div uib-carousel active="0"> -->
<!-- 							<div uib-slide ng-repeat="fotografia in fotos track by fotografia.id" index="fotografia.id"> -->
<!-- 								<div class="box-title"> -->
<!-- 									<h4 class="box-title">{{fotografia.nombreArchivo}}</h4> -->
<!-- 								</div> -->
<!-- 								<div class="box-body"> -->
<!-- 									<figure class="figure"> -->
<!-- 										<img ng-src="{{fotografia.image}}" class="img-responsive center-block figure-img img-fluid img-rounded"> -->
<!-- 										<div class="carousel-caption"> -->
<!-- 											<p>{{fotografia.nombreArchivo}}</p> -->
<!-- 										</div> -->
<!-- 									</figure> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</section> -->
				
			</div>
		</section>
	</div>

	<style type="text/css">
		legend.scheduler-border {
			font-size: 1em !important;
			font-weight: bold !important;
			text-align: left !important;
			width: auto;
			padding: 0 10px;
			border-bottom: none;
		}

		fieldset.scheduler-border {
			border-radius: 0.5em; /* applied border radius */
			border: 1px solid #ccc !important;
			padding: 0 1.4em 1.4em 1.4em !important;
			margin: 0 0 1.5em 0 !important;
		}
	</style>

</body>
</html>