<html>
<head>
<meta charset="utf-8">
<title>Consulta Archivos Semovi</title>
</head>
<body>
	<section class="content-header">	
			<h1>Consulta Archivos Semovi</h1>
		<ol class="breadcrumb">
			<li><a ><i class="fa fa-book"></i>Semovi</a></li>
			<li class="active">Consulta</li>
		</ol>
	</section>
<br>
	<!-- Main content -->

	<section class="content">
	  <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 ">

				<!-- Datos Del Infractor -->
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Búsqueda</h3>

					</div>

					<!-- /.box-header -->
					<div class="box-body">

						
							<form name="myForm" novalidate>
							 
							  	<div class="col-md-4">
								<div class="form-group"
									ng-class="{ 'has-error' : 
                             					  myForm.fechaInicio.$invalid && !myForm.fechaInicio.$pristine  }">
									
										<label>Fecha Inicio: </label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											
											<input type="text" id="fechaInicio" name="fechaInicio" readonly
												class="form-control pull-right" ng-required="parametros.fechaFin"
												autocomplete="off" ng-model="parametros.fechaInicio"
												style="background: white; cursor: pointer;" >
											
											
										</div>
											<p ng-show="myForm.fechaInicio.$invalid && !myForm.fechaInicio.$pristine"
											class="help-block">La fecha inicio es requerida</p>	
									</div>
								</div>

								<div class="col-md-4" >
								<div class="form-group"
									ng-class="{ 'has-error' : myForm.fechaFin.$invalid && !myForm.fechaFin.$pristine
                             					 }">

									
										<label>Fecha Fin: </label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
										
												
											<input type="text" id="fechaFin" name="fechaFin" readonly
												class="form-control pull-right" ng-required="parametros.fechaInicio"
												autocomplete="off" ng-model="parametros.fechaFin"
												style="background: white; cursor: pointer;" >	
												
												
												

										</div>
									
											
											
								<p ng-show="myForm.fechaFin.$invalid && !myForm.fechaFin.$pristine"
											class="help-block">La fecha fin es requerida</p>		
											
								</div>
								</div>
							
								

							
								<div class="col-md-4" >
									<label>Tipo Archivo:</label>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-ellipsis-v"></i></span> <select name="mySelect"
												id="mySelect"
												ng-options="option.descripcion for option in tipoArchivo track by option.catTipoArchivoId"
												ng-model="parametros.selected" class="form-control">
											</select>
										</div>
									</div>

								  </div>
								
							  <div class="col-md-12" align="center">
								<button type="button" ng-click="consultar(parametros)" class="btn btn-primary">Buscar</button>
							 </div>	
							
							</form>
						</div>
					</div>
				</div>
			</div>
					
			<div class="row" ng-if="mostrarTabla">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title">Registros Encontrados: {{ (consultaSemovi | filter:view.listaSemovi).length }}</h3>
							</div>
								
							 <div class="col-md-offset-3 col-md-3 col-xs-10">
								<div class="input-group pull-right">
									<input type="text" class="form-control"
										placeholder="Buscar por filtro" ng-model="view.listaSemovi">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>	
						</div>
						
						<div class="box-body table-responsive">
							<table id="tabla_semovi" class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th sort order="'nombreArchivo'" by="order" reverse="reverse" class="center">NOMBRE</th>
										<th sort order="'fechaArchivoOrder'" by="order" reverse="reverse" class="center">FECHA ARCHIVO</th>
										<th sort order="'descripcion'" by="order" reverse="reverse" class="center">TIPO DE ARCHIVO</th>
										<th sort order="'numeroRegistros'" by="order" reverse="reverse" class="center">TOTAL DE REGISTROS</th>
										<th class="center">ARCHIVO</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="(consultaSemovi | filter:view.listaSemovi).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
									<tr dir-paginate="smv in consultaSemovi | orderBy:order:reverse | filter:view.listaSemovi | itemsPerPage: view.rowsPerPage" >
                                       	<td>
                                       		<span data-toggle="tooltip" data-placement="top" title="{{smv.nombreArchivo}}">
                                       			{{smv.nombreArchivo | limitTo: 20 }}{{smv.nombreArchivo.length > 20 ? '...xlsx' : ''}}
                                       		</span>
                                       	</td>
									    <td class="center">{{fechaArchivo(smv.fechaArchivo)}}</td>
									    <td class="center">{{smv.descripcion}}</td>
									    <td class="center">{{smv.numeroRegistros}}</td>
									    <td class="center"><a href="" ng-click="descargaExcel(smv.nombreArchivo,smv.codigo,fechaArchivo(smv.fechaArchivo));" > <img src="static/dist/img/excel.png"></a> </td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.listaSemovi" array="consultaSemovi"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			
			
	</section>
</body>	
	
	<script type="text/javascript">

	
	$(function() {
		$("#fechaInicio").datepicker({
			format : 'dd/mm/yyyy',
			//language: 'es',
			todayHighlight : true,
			autoclose : true
		}).on('changeDate', function(selected) {
			var minDate = new Date(selected.date.valueOf());
			$('#fechaFin').datepicker('setStartDate', minDate);
		});

		$("#fechaFin").datepicker({
			format : 'dd/mm/yyyy',
			//language: 'es',
			todayHighlight : true,
			autoclose : true
		}).on('changeDate', function(selected) {
			var maxDate = new Date(selected.date.valueOf());
			$('#fechaInicio').datepicker('setEndDate', maxDate);
		});
	});

	
	</script>
<body>
</html>
