<html>
<head>
<meta charset="utf-8">
<title>Consulta Salidas Vehículos</title>
</head>
<body>

	<section class="content-header">
		<h1>Consulta</h1>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-arrow-circle-down tool"></i>Movimiento entre Depósitos</a></li>
			<li class="active">Consulta</li>
		</ol>
	</section>
	<section ng-show="validarPerfilMsg">
		<div class="row col-md-8 col-md-offset-2">
			<div class="alert alert-teclo  alert-dismissable text-center">
				<strong class="mensajeAutorizacion">{{perfilValida}}</strong>
			</div>
		</div>
	</section>
	
	<!-- Main content -->	
	<section class="content" ng-show="validarPerfilView">
		<form role="form" name="consultaVeh">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">				
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>
						</div>						
						<div class="box-body">									
							<div class="row" >							
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': consultaVeh.tipoBusqueda.$invalid && consultaVeh.tipoBusqueda.$dirty}">
										<label for="tipoBusq">Tipo Búsqueda:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select  ng-required="true" ng-model="param.tipoBusq" class="form-control select2" 
												name="tipoBusqueda" ng-change="cleanTable()"
												ng-options='option.codigoString as option.descripcion for option in comboTipoBusq'>
											</select>
										</div>
										<span ng-show="consultaVeh.tipoBusqueda.$error.required && consultaVeh.tipoBusqueda.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>								
								<div class="col-md-6" >
									<div class="form-group" ng-class="{'has-error': consultaVeh.valorBusq.$invalid && consultaVeh.valorBusq.$dirty}" >
										<label for="fechaConsulta">Valor Búsqueda:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input  ng-disabled="param.tipoBusq == 'tpoSalida' " ng-required="param.tipoBusq != 'tpoSalida' " class="form-control select2" name="valorBusq" ng-model="param.valorCombo" />												
										</div>
										<span ng-show="consultaVeh.valorBusq.$error.required &&  consultaVeh.valorBusq.$dirty "
												ng-style="{color:'red'}">El valor búsqueda es requerido</span>
									</div>
								</div>	
										
							</div>
							<div class="row" ng-show="param.tipoBusq == 'tpoSalida' ">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': consultaVeh.tipoSalida.$invalid && consultaVeh.tipoSalida.$dirty}">
										<label for="tipoSalida">Tipo Salida:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select ng-required="param.tipoBusq == 'tpoSalida'" ng-model="param.tipoBusqSalida" class="form-control select2" 
												name="tipoSalida" ng-change="cleanTable()"
												ng-options='option.codigoString as option.descripcion for option in comboTipoSalidas' 
												>
											</select>
										</div>
										<span ng-show="consultaVeh.tipoSalida.$error.required && consultaVeh.tipoSalida.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>
								<div class="col-md-6" ng-if="param.tipoBusqSalida == 1">
									<div class="form-group" ng-class="{'has-error': consultaVeh.tipoSalida.$invalid && consultaVeh.tipoSalida.$dirty}">
										<label for="tipoSalida">Adjudicación Destino:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select  ng-model="param.valorBusquedaTipo" class="form-control select2" 
												name="tipoSalida"
												ng-options='option.codigoString as option.descripcion for option in comboAdjudicacionDest' 
												>
												<option value="" selected >--- Seleccionar --- </option>
											</select>
										</div>
										<span ng-show="consultaVeh.tipoSalida.$error.required && consultaVeh.tipoSalida.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>
								<div class="col-md-6" ng-if="param.tipoBusqSalida == 2">
									<div class="form-group" ng-class="{'has-error': consultaVeh.tipoSalida.$invalid && consultaVeh.tipoSalida.$dirty}">
										<label for="tipoSalida">Fase compactación:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select  ng-model="param.valorBusquedaTipo" class="form-control select2" 
												name="tipoSalida" ng-options='option.codigo as option.descripcion for option in comboFaseCompacto' >
												<option value="" selected >--- Seleccionar --- </option>
											</select>
										</div>
										<span ng-show="consultaVeh.tipoSalida.$error.required && consultaVeh.tipoSalida.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>
								<div class="col-md-6" ng-if="param.tipoBusqSalida == 4"	>
									<div class="form-group" ng-class="{'has-error': consultaVeh.valorBusq.$invalid && consultaVeh.valorBusq.$dirty}" >
										<label for="fechaConsulta">Folio Documento:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input class="form-control select2" name="valorBusq" ng-model="param.valorBusquedaTipo" />												
										</div>
										<span ng-show="consultaVeh.valorBusq.$error.required &&  consultaVeh.valorBusq.$dirty "
												ng-style="{color:'red'}">El valor búsqueda es requerido</span>
									</div>
								</div>
								<div class="col-md-6" ng-if="param.tipoBusqSalida == 5">
									<div class="form-group" ng-class="{'has-error': consultaVeh.tipoSalida.$invalid && consultaVeh.tipoSalida.$dirty}">
										<label for="tipoSalida">Depósito Destino:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select  ng-model="param.valorBusquedaTipo" class="form-control select2" 
												name="tipoSalida" 
												ng-options='option.codigo as option.descripcion for option in comboDepDestino' 
											>
											<option value="" selected >--- Seleccionar --- </option>
											</select>
										</div>
										<span ng-show="consultaVeh.tipoSalida.$error.required && consultaVeh.tipoSalida.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>
								
								<div class="col-md-6">
											<div class="form-group" ng-class="{'has-error': consultaVeh.fInicio.$invalid &&  consultaVeh.fInicio.$dirty }">
											  <label>Fecha Inicio:</label>	
												<div class="input-group date" class="col-md-6">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input type="text" class="form-control inputFecha" ng-model="param.fechaInicio" id="fInicio" name="fInicio" onkeydown="return false" autocomplete="off" readonly>
												</div>
												
												<div ng-show="consultaVeh.fInicio.$error.required &&  consultaVeh.fInicio.$dirty "
														ng-style="{color:'red'}">La fecha inicio es requerida</div>
											</div>
								</div>
								<div class="col-md-6">
											<div class="form-group"  ng-class="{'has-error': consultaVeh.fFin.$invalid &&  consultaVeh.fFin.$dirty }">
												<label>Fecha Fin:</label>	
												 <div class="input-group date" class="col-md-6">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input type="text"  class="form-control inputFecha" ng-model="param.fechaFin" id="fFin" name="fFin" onkeydown="return false" autocomplete="off" readonly>
													</div>
													<div ng-show="consultaVeh.fFin.$error.required &&  consultaVeh.fFin.$dirty "
																ng-style="{color:'red'}">La fecha fin es requerida</div>
											</div>
								</div>	
								</div>
							
							</div>
						
						<div class="box-footer">
							<div class="row itemsBox">
									<button class="btn btn-danger" ng-click="buscarSalidaVehiculo()" type="button">	Buscar </button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-if="salidasVO.length > 0">
				<div class="col-xs-12">
					<div class="box box-danger">
					
						<div class="box-header">
							<div class="col-md-12">
								<div class="col-md-6 col-xs-12">
									<h3 class="box-title">Registros Encontrados: {{ (salidasVO | filter:view.searchSomething).length }}</h3>	
								</div>
								<div class="col-md-offset-3 col-md-3 col-xs-10">
									<div class="input-group">
										<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="box-body table-responsive no-padding">
							<table 
								class="table table-hover header-fixed">
								<thead>
									<tr>
									 
										<th class="wrap-text">NO.INFRACCIÓN</th>
<!-- 										<th ng-if="tipoSalidaBandera == 4 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' )" class="wrap-text">FOLIO DOCTO</th> -->
										<th class="wrap-text">NO. PLACA</th>
										<th class="wrap-text">MARCA</th>
										<th class="wrap-text">MODELO</th>
										<th class="wrap-text">TIPO DE SALIDA</th>
										
										<!-- INICIA Solo si tipoSalidaCons es igual a 5 -->
										<th ng-if="tipoSalidaBandera == 1 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' )" class="wrap-text">ADJUDICACIÓN DESTINO</th>
										<th ng-if="tipoSalidaBandera == 2 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " class="wrap-text">FASE COMPACTACIÓN</th>
										<th class="wrap-text">DEPÓSITO ORIGEN</th>
										<th ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " class="wrap-text">DEPÓSITO DESTINO</th>
										<th class="wrap-text" ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) ">ESTATUS</th>
										
										<!-- TERMINA Solo si tipoSalidaCons es igual a 5 -->
										<th class="wrap-text">FECHA SALIDA ORIGEN</th>
										<th ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " class="wrap-text">FECHA INGRESO DESTINO</th>
										<th class="wrap-text">EXPEDIENTE SALIDA</th>
										<th class="wrap-text">EXPEDIENTE INGRESO</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="salidaList in salidasVO | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
										<td class="center" ng-show="false">{{salidaList.idSalida}}</td>
										<td class="center">{{salidaList.numInfracSalida}}</td>
										<td class="center">{{salidaList.numPlacaV}}</td>
										<td class="center wrap-text">{{salidaList.nomMarca}}</td>
										<td class="center wrap-text">{{salidaList.nomModelo}}</td>
										<td class="wrap-text">{{salidaList.nomTpoSalida}}</td>
										<td class="center" ng-if="tipoSalidaBandera == 1 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " >{{salidaList.nomAdjudicacion}}</td>
										<td class="center" ng-if="tipoSalidaBandera == 2 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " >{{salidaList.nomFase}}</td>
										<td class="center">{{salidaList.nomDepOrig}}</td>
										<td ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " class="center">{{salidaList.nomDepDest}}</td>
											
										<td class="center" ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " >{{salidaList.estatus}}</td>
										
										<td class="center">{{salidaList.fechaSalida | date:'dd/MM/yyyy  HH:mm:ss'}}</td>
										<td class="center" ng-if="tipoSalidaBandera == 5 || (param.tipoBusqSalida == 'todos' && param.tipoBusq == 'tpoSalida' ) " >{{salidaList.fchUltimaModificacion }}</td>
										<td >
										<button data-toggle="tooltip" data-placement="top" title="Expediente Salida" class="btn btn-danger fa fa-file-image-o" ng-click="buscarImgeEvidencias(salidaList.idSalida, salidaList.numInfracSalida, 'S')" type="button" ></button>
										</td>
										<td>
										<button data-toggle="tooltip" data-placement="top" title="Expediente Ingreso" class="btn btn-danger fa fa-file-image-o" ng-click="buscarImgeEvidencias(salidaList.idSalida, salidaList.numInfracSalida, 'I')" type="button" ></button>
										</td>
									</tr>
									<tr ng-if="( salidasVO | filter:view.searchSomething).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
							<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="salidasVO"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
		
	</section>
	<div class="modal fade" id="modalEvidenciaImg" role="dialog" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-red-active">
							<div class="box-header text-center" style="color: white;">
								<button type="button" class="close" data-dismiss="modal" ng-click="close()"
									style="color: white;">&times;</button>
										<h3 class="box-title" ng-show="tipoAccionModal == 'I' ">Expediente Ingreso</h3>
										<h3 class="box-title" ng-show="tipoAccionModal == 'S' ">Expediente Salida</h3>
							</div>
						</div>
					
					     	<div class="box box-danger">
					     	   		<div style="min-height: 305px">
			 						<div uib-carousel active="0" no-wrap="noWrapSlides">
					            		<div uib-slide ng-repeat="listImg in ArrayImg track by $index" index="$index">
					            			<div class="box-body">
												<figure class="figure">
													<img ng-src="{{ listImg.img }}" class="img-responsive center-block figure-img img-fluid img-rounded"/>
													<div class="carousel-caption">
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
					         </div>  
					     
					     <div class="modal-footer" >
							<button type="button" class="btn btn-danger pull-right " data-dismiss="modal" id="btnAceptar" ng-click = "descargarExpediente()">
								<span>Descargar</span>
							</button>
						</div>
					</div>
				</div>
			</div>
	
	<script type="text/javascript">
	
		$(function () {
		    $("#fInicio").datepicker({             
				format: 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function (selected) {
	        	var minDate = new Date(selected.date.valueOf());
	        	$('#fFin').datepicker('setStartDate', minDate);
	    	});
			
			$("#fFin").datepicker({             
				format: 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function (selected) {
	        	var maxDate = new Date(selected.date.valueOf());
	        	$('#fInicio').datepicker('setEndDate', maxDate);
	    	});
		});
    </script> 
</body>
</html>
