<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Entrega de Garantías</title>
</head>
<body>
	
	<section class="content-header">
		<h1>Entrega de Garantías</h1>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-book"></i>Garantías</a></li>
			<li class="active">Entrega</li>
		</ol>
	</section>
	
	<section class="content"  ng-if="data.message">
		<div class="row col-md-8 col-md-offset-2">
			<div class="alert alert-teclo  alert-dismissable text-center">
<!-- 				<button type="button" class="close" data-dismiss="alert">×</button> -->
				<strong class="mensajeAutorizacion">{{data.msg}}</strong>
			</div>
		</div>
	</section>

	<section class="content" ng-if="viewHelpers.viewForm">
		<form role="form" name="forms.garantiaEntrega">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group input-group">
										<div class="input-group-addon">
											<i class="fa fa-list"></i>
										</div>
										<select class="form-control" ng-model="parametroBusqueda.opcionBusqueda"
										ng-change="limpiaValor()">
											<option value="1" ng-selected="true">Placa Vehículo</option>
											<option value="2">Folio Documento</option>
											<option value="3">No. Infracción</option>
											<option value="4">No. Garantía</option>
										</select>
									</div>
								</div>
							
										<div class="col-md-6">
											<div class="form-group" ng-class="{'has-error': forms.garantiaEntrega.dato.$invalid &&  forms.garantiaEntrega.dato.$dirty }">
												<div class="input-group date" >
													<div class="input-group-addon">
														<i class="fa fa-pencil"></i>
													</div>
													<input capitalize maxlength="18" ng-required="true" type="text" id="dato" name="dato" ng-model="parametroBusqueda.dato" class="form-control"></input>
														<span class="input-group-btn">
														<button type="button" id="buscarPorOpcion" 
	 													ng-click="buscarPorOpcionEntrega()" 
	 													class="btn btn-danger btn-flat">Buscar</button> 
														</span>					
												</div>
													<div ng-show="forms.garantiaEntrega.dato.$error.required &&  forms.garantiaEntrega.dato.$dirty "
														ng-style="{color:'red'}">El valor es requerido</div>
											
	                     					</div>
								   </div>
							</div>
						</div>
					</div>
				</div>


			</div>
			
			<div class="col-md-4"></div>
				<div class="row"  ng-show="tablaShow">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-7 col-xs-12">
								<h3 class="box-title">
									Registros Encontrados: <span>{{(garantiaEntragaResult | filter:view.filterSearch).length}}</span>
								</h3>
							</div>
							<div class="col-md-4 form-group">
								<div class="input-group ">
									<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.filterSearch">
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
								</div>
							</div>
							<div ng-show="garantiaEntragaResult.length>0" class="col-md-1 col-xs-1">
		     					<a ng-click="generarExcelEntrega()">
									<span class="pull-right "><img src="static/dist/img/excel.png"></span>
								</a>
		     				</div>
		     			</div>
						
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th sort order="'infraccNum'" by="order" reverse="reverse">No. INFRACCIÓN</th>
										<th sort order="'garantiaId'" by="order" reverse="reverse">No. GARANTÍA</th>
										<th sort order="'documentoFolio'" by="order" reverse="reverse">FOLIO DOCUMENTO</th>
										<th sort order="'infracMFechaHora'" by="order" reverse="reverse">FECHA INFRACCIÓN</th>
										<th sort order="'fechaPagoOrder'" by="order" reverse="reverse">FECHA PAGO</th>
										<th sort order="'recibida'" by="order" reverse="reverse">RECIBIDA</th>
										<th sort order="'nombre'" by="order" reverse="reverse">TIPO DOCUMENTO</th>
										<th>ENTREGA</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="resultBusqueda in garantiaEntragaResult | orderBy:order:reverse |  filter:view.filterSearch | itemsPerPage: 5">

										<td class="center">{{resultBusqueda.infraccionDTO.infraccNum}}</td>
										<td class="center">{{resultBusqueda.garantiaId}}</td>
										<td class="center">{{resultBusqueda.documentoFolio}}</td>
										<td class="center">{{resultBusqueda.infraccionDTO.infracMFechaHora | date:'dd/MM/yyyy'}}</td>
										<td class="center">{{resultBusqueda.fechaPago}}</td>
										<td class="center">{{resultBusqueda.recibida === "true" ? "No" : "Si"}}</td>
										<td class="center">{{resultBusqueda.garantiaDocumentoDTO.nombre}}</td>
										<td class="center">
											<span data-toggle="tooltip" data-placement="left" title="Entregar garantía">
												<a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalInfoEntrega" ng-click="buscarGarantiaEntregaId(resultBusqueda.garantiaId)">
													<i class="fa fa-share-square-o"></i>
												</a>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
							<dir-pagination-controls filtro="view.filterSearch"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
			
		<div class="modal fade" id="modalInfoEntrega" role="dialog" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
<!-- 						<div class="modal-header bg-red-active"> -->
<!-- 							<div class="box-header text-center" style="color: white;"> -->
<!-- 								<button type="button" class="close" data-dismiss="modal" ng-click="buscarPorOpcionEntrega()" -->
<!-- 									style="color: blue;">&times;</button> -->
<!-- 								<i class="fa fa-"></i> -->
<!-- 								<h3 class="box-title"></h3> -->
<!-- 							</div> -->
<!-- 						</div> -->
						
						<div class="modal-header bg-red-active">
							<button type="button" class="close" data-dismiss="modal" ng-click="buscarPorOpcionEntrega()">&times;</button>
							<h3 class="modal-title">Entrega de Garantías</h3>
						</div>
						
						<div class="modal-body"  >
							<div class="row" id="formRecepcion">
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-9">									
										<table class="table">
											<tbody>
												<tr >
													<th>INFRACCIÓN:</th>
													<td>{{garantiaEntragaResul.infraccionDTO.infraccNum}}</td>
													<td ng-show="false">{{garantiaEntragaResul.garantiaId}}</td>
												</tr>
												<tr >
													<th>FECHA INFRACCIÓN:</th>
													<td>{{garantiaEntragaResul.infraccionDTO.infracMFechaHora | date:'dd/MM/yyyy'}}</td>
												</tr>
												<tr >
													<th>RECIBIDA:</th>
													<td>{{garantiaEntragaResul.recibida === "true" ? "No" : "Si"}}</td>												
												</tr>
												<tr>
													<th>FÓLIO DOCUMENTO:</th>
													<td>{{garantiaEntragaResul.documentoFolio}}</td>
												</tr>
												<tr>
													<th>FECHA DE PAGO:</th>
													<td>{{garantiaEntragaResul.fechaPago}}</td>
												</tr>
												<tr>
													<th>TIPO DOCUMENTO:</th>
													<td>{{garantiaEntragaResul.garantiaDocumentoDTO.nombre}}</td>
												</tr>
											<tr ng-hide="banderaView" ng-class="{'has-error': forms.garantiaEntrega.txtObserv.$invalid &&  forms.garantiaEntrega.txtObserv.$dirty }">	
												<th>OBSERVACIONES:</th>
												<td>									
													<textarea ng-required="ocultar" maxlength="200" id="txtObserv" name="txtObserv" placeholder="Escriba sus observaciones" ng-model="parametroBusqueda.observacion" class="form-control" rows="3" style="resize:none;"></textarea>
													<div ng-show="forms.garantiaEntrega.txtObserv.$error.required &&  forms.garantiaEntrega.txtObserv.$dirty "
															ng-style="{color:'red'}">El campo observaciones es requerido</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
								<div class="row" >
								<div class="col-xs-5"></div>
								<div class="col-xs-2" >
									<button  ng-hide="banderaView" type="button" class="btn bg-red-active" id="btnAceptar" 
										 ng-click="guardarGarantiaEntregaId()">Guardar</button>
										
								<button ng-show="mostrarDescarga" data-dismiss="modal" class="btn btn-link" type="button" ng-model="NomBoton" data-dismiss="modal" ng-click="buscarPDF(garantiaEntragaResul.garantiaId)"><img height="65" width="65" src="{{fileNameImg}}"></button>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>