<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Reportes de Garantías</title>
</head>
<body>
	
	<section class="content-header">
		<h1>Reportes de Garantías</h1>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-book"></i>Garantías</a></li>
			<li class="active">Reportes</li>
		</ol>
	</section>

	<section class="content">

		<form role="form" name="reporteGarantia">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">

					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda </h3>

						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-12" >
										<div class="col-md-6">
											<div class="form-group" ng-class="{'has-error': reporteGarantia.fInicio.$invalid &&  reporteGarantia.fInicio.$dirty }">
											  <label>Fecha Inicio:</label>	
												<div class="input-group date" class="col-md-6">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input type="text" ng-required="true" class="form-control inputFecha" 
													ng-model="fechas.fechaInicio" id="fInicio" name="fInicio" 
													onkeydown="return false" autocomplete="off" readonly
													date-picker	idioma-dp="{{currentLanguage}}" 
													elemento="'fFin'" mindate="fechas.fechaInicio"
											 		/>
												</div>
												
												<div ng-show="reporteGarantia.fInicio.$error.required &&  reporteGarantia.fInicio.$dirty "
														ng-style="{color:'red'}">La fecha inicio es requerida</div>
											</div>
										</div>
										
										<div class="col-md-6">
												<div class="form-group"  ng-class="{'has-error': reporteGarantia.fFin.$invalid &&  reporteGarantia.fFin.$dirty }">
												 <label>Fecha Fin:</label>	
													<div class="input-group date" class="col-md-6">
															<div class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</div>
															<input type="text" ng-required="true" 
															class="form-control inputFecha" ng-model="fechas.fechaFin"
															id="fFin" name="fFin" onkeydown="return false" 
															autocomplete="off" readonly 
															date-picker	idioma-dp="{{currentLanguage}}" 
															elemento="'fInicio'" maxdate="fechas.fechaFin"/>
													</div>
													<div ng-show="reporteGarantia.fFin.$error.required &&  reporteGarantia.fFin.$dirty "
																ng-style="{color:'red'}">La fecha fin es requerida</div>
												
												</div>
										</div><br>
										<div class="col-xs-4"></div>
												<div class="col-xs-4" >
													<button  type="button" class="btn bg-red-active center-block" ng-click="buscarReporteGral()">Buscar</button>
												</div>
										<div class="col-xs-4"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="col-md-4"></div>
				<div class="row" ng-if="garantiaConsultaResult.length > 0">
					<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header">
								<div class="col-md-6">
										<h3 class="box-title">
											Registros Encontrados: <span>{{ (garantiaConsultaResult | filter:view.searchSomething).length }}</span>
										</h3>
								</div>
										      						
		      					<div class="row col-sm-6">	      						
			      					<div class="form-group col-sm-offset-4 col-sm-7 col-xs-10">
										    <div class="input-group ">
										        <input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
												<div class="input-group-addon"><i class="fa fa-search"></i></div>
										     </div>  
									
	   								</div>
	   								<div class="col-xs-1" >
										<span class="pull-right" ng-show="descShow">
													<a ng-click="descargaDeExcel()"><img width="30" height="30" src="{{fileNameImg}}" ></a>
										</span>
									</div>
								</div>
						</div>
						
						<div class="box-body table-responsive no-padding ">
							<table 
								class="table table-hover">
								<thead>
									<tr>
										
										<th sort order="'infrac_num'" by="order" reverse="reverse" >No. INFRACCIÓN</th>
										<th sort order="'infrac_fechaOrder'" by="order" reverse="reverse" >FECHA INFRACCIÓN</th>
										<th sort order="'infrac_placa'" by="order" reverse="reverse" >VEHÍCULO PLACA</th>
										<th sort order="'emp_placa'" by="order" reverse="reverse" >OFICIAL PLACA</th>
										<th sort order="'emp_nombre'" by="order" reverse="reverse" >OFICIAL NOMBRE</th>
										<th sort order="'documento_nombre'" by="order" reverse="reverse" >DOC. NOMBRE</th>
										<th sort order="'documento_folio'" by="order" reverse="reverse" >DOC. FOLIO</th>
										<th sort order="'proceso_recepcion'" by="order" reverse="reverse" >PROCESO RECEPCIÓN</th>
										<th sort order="'recibida'" by="order" reverse="reverse" >RECIBIDA</th>
										<th sort order="'deposito'" by="order" reverse="reverse" >DEPÓSITO</th>
										<th sort order="'pagada'" by="order" reverse="reverse" >PAGADA</th>
										<th sort order="'cancelada'" by="order" reverse="reverse" >CANCELADA</th>
										<th sort order="'observaciones'" by="order" reverse="reverse" >OBSERVACIONES</th>
									</tr>
								</thead>
							
								<tbody>
									<tr dir-paginate="resultBusqueda in garantiaConsultaResult | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">

										<td>{{resultBusqueda.infrac_num}}</td>
										<td>{{resultBusqueda.infrac_fecha}}</td>
										<td>{{resultBusqueda.infrac_placa}}</td>
										<td>{{resultBusqueda.emp_placa}}</td>
										<td>{{resultBusqueda.emp_nombre}}</td>
										<td>{{resultBusqueda.documento_nombre}}</td>
										<td>{{resultBusqueda.documento_folio}}</td>
										<td>{{resultBusqueda.proceso_recepcion}}</td>
										<td>{{resultBusqueda.recibida}}</td>
										<td>{{resultBusqueda.deposito}}</td>
										<td>{{resultBusqueda.pagada}}</td>
										<td>{{resultBusqueda.cancelada}}</td>
										<td>{{resultBusqueda.observaciones}}</td>
										
										</tr>
									<tr ng-if="(garantiaConsultaResult | filter:view.searchSomething).length < 1"><td colspan="20" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="garantiaConsultaResult"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
	

</body>
</html>