<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Consulta de Garantías</title>
</head>
<body>
	
	<section class="content-header">
		<h1>Consulta de Garantías</h1>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-book"></i>Garantías</a></li>
			<li class="active">Consulta</li>
		</ol>
	</section>

	<section class="content">

		<form role="form" name="garantiaConsulta">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">

					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda </h3>

						</div>
	 
						<div class="box-body">
							<div class="row">
										<div class="col-md-4">
											<label>Tipo de Busqueda:</label>
										</div>
										<div class="col-md-12 col-xs-12">
											<div class="col-md-6 col-xs-6 center">
												<label class="radio-inline"><input type="radio" ng-model="opcion" value="1" ng-click="getVal()"> Fechas</label>
											</div>
											<div class="col-md-6 col-xs-6 center">
											<label class="radio-inline"><input type="radio" ng-model="opcion" value="2" ng-click="getVal()"> Parámetro</label>
											</div>
										</div>
									
									<br><br>
								<div class="col-md-12" ng-show="consultaPorFecha">
										
										<div class="row">	
											<div class="col-md-6" ng-class="{'has-error': garantiaConsulta.opcionTipoFecha.$invalid &&  garantiaConsulta.opcionTipoFecha.$dirty }">
													<label>Tipo de Fecha:</label>
													<div class="form-group">
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-list"></i>
															</div>
															<select class="form-control" ng-required="parametroReqB" ng-model="opcionTipoFecha" id="opcionTipoFecha" name= "opcionTipoFecha">
																<option value="1">FECHA DE CREACIÓN</option>
																<option value="2">FECHA DE RECEPCIÓN</option>
																<option value="3">FECHA DE PAGO</option>
																<option value="4">FECHA DE ENTREGA</option>
															</select>
														</div>
														<span ng-show="tipoFecha" ng-style="{color:'red'}">El tipo de fecha es requerido</span>							
													</div>										
												
											</div>
											<div class="col-md-6" ng-class="{'has-error': garantiaConsulta.opcionTipoProceso.$invalid &&  garantiaConsulta.opcionTipoProceso.$dirty }">
												<label>Estatus Proceso:</label>
												<div class="form-group">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-list"></i>
														</div>
														<select  class="form-control" id="opcionTipoProceso" name="opcionTipoProceso" ng-model ="opcionTipoProceso" ng-options="opcionTipoProcesoList.indexOf(opcionTipoProceso) as opcionTipoProceso.nombre for opcionTipoProceso in opcionTipoProcesoList track by opcionTipoProceso.procesoId" >
															<option value="" ng-selected="true">TODOS</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">		
											<div class="form-group col-md-6" ng-class="{'has-error': garantiaConsulta.fechaInicio.$invalid &&  garantiaConsulta.fechaInicio.$dirty }">	
													<label>Fecha Inicio:</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</div>
															<input class="form-control inputFecha" id="fechaInicio" name="fechaInicio"
																date-picker	idioma-dp="{{currentLanguage}}"
																elemento="'fechaFin'" mindate="fechaInicio"
																ng-model="fechaInicio" readonly ng-required="parametroReqB"/>
													</div>
													<span ng-show="garantiaConsulta.fechaInicio.$error.required &&  garantiaConsulta.fechaInicio.$dirty "
														ng-style="{color:'red'}">La fecha inicio es requerida</span>
											</div>
												
												
											<div class="form-group col-md-6" ng-class="{'has-error': garantiaConsulta.fechaFin.$invalid &&  garantiaConsulta.fechaFin.$dirty }">
												<label for="radar">Fecha Fin:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input class="form-control inputFecha" id="fechaFin" name="fechaFin"
														date-picker	idioma-dp="{{currentLanguage}}"
														elemento="'fechaInicio'" maxdate="fechaFin"
														ng-model="fechaFin" readonly ng-required="parametroReqB"/>
												</div>
												<span ng-show="garantiaConsulta.fechaFin.$error.required &&  garantiaConsulta.fechaFin.$dirty "
													ng-style="{color:'red'}">La fecha fin es requerida</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-4"></div>
											<div class="col-xs-4" >
												<button  type="button" class="btn bg-red-active center-block" ng-click="buscarPorOpcionParametroB(opcionTipoFecha,opcionTipoProceso,fechaInicio, fechaFin )">Buscar</button>
											</div>
											<div class="col-xs-4"></div>
										</div>
									</div>

									<div class="col-md-12" ng-show="consultaPorParametro" >
									<div class="row">
												<div class="col-md-6">
														<div class="form-group" ng-class="{'has-error': garantiaConsulta.opcionParametro.$invalid &&  garantiaConsulta.opcionParametro.$dirty }">
															<label for="radar"></label>
															<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-list"></i>
															</div>
															<select class="form-control" ng-required="parametroRequired" ng-model="opcionParametro" id= "opcionParametro" name= "opcionParametro">
																<option value="1">INFRACCIÓN</option>
																<option value="2">PLACA VEHICULAR</option>
																<option value="3">GARANTÍA</option>
																
															</select>
															</div>
														</div>
														<div 
														ng-show="garantiaConsulta.opcionParametro.$error.required &&  garantiaConsulta.opcionParametro.$dirty "
														ng-style="{color:'red'}">El valor es requerido</div>
												</div>
									<div class="col-md-6">
										<div class="form-group" ng-class="{'has-error': garantiaConsulta.inputParam.$invalid &&  garantiaConsulta.inputParam.$dirty }">
											<label for="radar"></label>
												<div class="input-group date" ng-if= "opcionParametro != 3" >
														<div class="input-group-addon">
															<i class="fa fa-pencil"></i>
														</div>
														<input  maxlength="18" capitalize  type="text" ng-required="parametroRequired" ng-model="parametro" id="inputParam" name= "inputParam" class="form-control pull-right"></input>
														<span class="input-group-btn">
															<button type="button" ng-click="buscarPorOpcionParametroA(opcionParametro, parametro )"
															class="btn btn-danger btn-flat center-block">Buscar</button>
														</span>
													</div>
													<div class="input-group date" ng-if= "opcionParametro == 3">
														<div class="input-group-addon">
															<i class="fa fa-pencil"></i>
														</div>
														<input   integer-number maxlength="18" capitalize  type="text" ng-required="parametroRequired" ng-model="parametro" id="inputParam" name= "inputParam" class="form-control pull-right"></input>
														<span class="input-group-btn">
															<button type="button" ng-click="buscarPorOpcionParametroA(opcionParametro, parametro )"
															class="btn btn-danger btn-flat center-block">Buscar</button>
														</span>
													</div>
												
													<span ng-show="garantiaConsulta.inputParam.$error.required &&  garantiaConsulta.inputParam.$dirty "
														ng-style="{color:'red'}">El valor es requerido</span>
										</div>
									</div>	
									</div>				
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
				<div class="row" ng-if="garantiaConsultaResult.length > 0">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-7">
								<h3 class="box-title"> Registros Encontrados: <span>{{ (garantiaConsultaResult | filter:view.searchSomething).length }}
									</span>
								</h3>					
							</div>
							<div class="form-group col-md-4">
								<div class="input-group">
									<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
								</div>
							</div>
							<div ng-show="garantiaConsultaResult.length>0" class="col-md-1">
			     				<a ng-click="descargarExcel()">
									<span class="pull-right "><img src="static/dist/img/excel.png"></span>
								</a>
			     			</div>
						</div>
						<div class="box-body table-responsive no-padding ">
							<table id="garantiasTable" class="table table-hover header-fixed">
								<thead>
									<tr>
										
										<th sort order="'infraccNum'" by="order" reverse="reverse" class="wrap-text">INFRACCIÓN</th>
										<th sort order="'fechaInfraccionOrder'" by="order" reverse="reverse" class="wrap-text">FECHA INFRACCIÓN</th>
										<th sort order="'garantiaId'" by="order" reverse="reverse" class="wrap-text">GARANTÍA </th>
										<th sort order="'nombreDocumento'" by="order" reverse="reverse" class="wrap-text">TIPO DOCUMENTO</th>
										<th sort order="'documentoFolio'" by="order" reverse="reverse" class="wrap-text">FOLIO DOCUMENTO</th>
										<th sort order="'nombreProceso'" by="order" reverse="reverse" class="wrap-text">PROCESO GARANTÍA</th>
										<th sort order="'deposito'" by="order" reverse="reverse" class="center">DEPOSITO</th>
										<th sort order="'recibida'" by="order" reverse="reverse" class="center">RECIBIDA</th>
										<th sort order="'tipoPago'" by="order" reverse="reverse" class="center">PAGADA</th>
										<th sort order="'entregada'" by="order" reverse="reverse" class="wrap-text">ENTREGADA A INFRACTOR</th>
									</tr>
								</thead>
							
								<tbody>
									<tr dir-paginate="resultBusqueda in garantiaConsultaResult | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
										<td class="center" ng-hide="opBusqA">{{resultBusqueda.infraccNum}}</td>
										<td class="center" ng-hide="opBusq">{{resultBusqueda.infraccNum}}</td>
										<td class="center" ng-hide="opBusqA">{{resultBusqueda.fechaInfraccion}}</td>
										<td class="center" ng-hide="opBusq">{{resultBusqueda.fechaInfraccion}}</td>
										<td class="center" ng-hide="opBusqA">{{resultBusqueda.garantiaId}}</td>
										<td class="center" ng-hide="opBusq">{{resultBusqueda.garantiaId}}</td>
										<td class="wrap-text" ng-hide="opBusqA">{{resultBusqueda.nombreDocumento}}</td>
										<td class="wrap-text" ng-hide="opBusq">{{resultBusqueda.nombreDocumento}}</td>
										<td class="wrap-text" ng-hide="opBusqA">{{resultBusqueda.documentoFolio}}</td>
										<td class="wrap-text" ng-hide="opBusq">{{resultBusqueda.documentoFolio}}</td>
										<td class="center" ng-hide="opBusqA">{{resultBusqueda.nombreProceso}}</td>
										<td class="center" ng-hide="opBusq">{{resultBusqueda.nombreProceso}}</td>
										<td class="center" ng-hide="opBusqA">{{resultBusqueda.deposito}}</td>
										<td class="center" ng-hide="opBusq">{{resultBusqueda.deposito}}</td>
										
										<td class="center" ng-hide="opBusqA"><a  ng-if="resultBusqueda.recibida == 'SI'" ng-click="descargaPDFRecibida(resultBusqueda.garantiaId)"><img width="30" height="30" src="static/dist/img/pdf_logo.png" ></a><a  ng-if="banderaMasiva" ng-click="descargaPDFRecibidaMasiva(resultBusqueda.idLote, resultBusqueda.garantiaId)"><img width="30" height="30" src="static/dist/img/pdf-blue.png" ></a></td> 
										<td class="center" ng-hide="opBusq"><a ng-if="resultBusqueda.recibida == 'SI'" ng-click="descargaPDFRecibida(resultBusqueda.garantiaId)"><img  width="30" height="30" src="static/dist/img/pdf_logo.png" ></a><a  ng-if="resultBusqueda.idLote > 0" ng-click="descargaPDFRecibidaMasiva(resultBusqueda.idLote, resultBusqueda.garantiaId)"><img width="30" height="30" src="static/dist/img/pdf-blue.png" ></a></td> 
										
										<td class="center" ng-hide="opBusqA"><a ng-if="resultBusqueda.tipoPago == '2'" ng-click="descargaVaucher(resultBusqueda.infraccNum)"><img width="30" height="30" src="static/dist/img/pdf_logo.png" ></a>{{resultBusqueda.pagada}}</td> 
										<td class="center" ng-hide="opBusq"><a  ng-if="resultBusqueda.tipoPago == '2'" ng-click="descargaVaucher(resultBusqueda.infraccNum )"><img width="30" height="30" src="static/dist/img/pdf_logo.png" ></a>{{resultBusqueda.pagada}}</td>
										
										<td class="center" ng-hide="opBusqA"><a ng-if="resultBusqueda.entregada == 'SI'"  ng-click="descargaPDFEntregada(resultBusqueda.garantiaId, resultBusqueda.idLote)"><img width="30" height="30" src="static/dist/img/pdf_logo.png" ></a>{{resultBusqueda.entregada}}</td> 
										<td class="center" ng-hide="opBusq"><a ng-if="resultBusqueda.entregada == 'SI'"  ng-click="descargaPDFEntregada(resultBusqueda.garantiaId,  resultBusqueda.idLote)"><img width="30" height="30" src="static/dist/img/pdf_logo.png" ></a>{{resultBusqueda.entregada}}</td>	
										
										
										
										
										
										
										
<!-- 										<td class="center" ng-hide="opBusqA">{{resultBusqueda.infraccionDTO.infraccNum}}</td> -->
<!-- 										<td class="center" ng-hide="opBusq">{{resultBusqueda.garantia.infraccionDTO.infraccNum}}</td> -->
<!-- 										<td class="center" ng-hide="opBusqA">{{resultBusqueda.infraccionDTO.infracMFechaHora | date:'dd/MM/yyyy'}}</td> -->
<!-- 										<td class="center" ng-hide="opBusq">{{resultBusqueda.garantia.infraccionDTO.infracMFechaHora | date:'dd/MM/yyyy'}}</td> -->
<!-- 										<td class="center" ng-hide="opBusqA">{{resultBusqueda.garantiaId}}</td> -->
<!-- 										<td class="center" ng-hide="opBusq">{{resultBusqueda.garantia.garantiaId}}</td> -->
<!-- 										<td class="wrap-text" ng-hide="opBusqA">{{resultBusqueda.garantiaDocumentoDTO.nombre}}</td> -->
<!-- 										<td class="wrap-text" ng-hide="opBusq">{{resultBusqueda.garantia.garantiaDocumentoDTO.nombre}}</td> -->
<!-- 										<td class="wrap-text" ng-hide="opBusqA">{{resultBusqueda.documentoFolio}}</td> -->
<!-- 										<td class="wrap-text" ng-hide="opBusq">{{resultBusqueda.garantia.documentoFolio}}</td> -->
<!-- 										<td class="center" ng-hide="opBusqA">{{resultBusqueda.garantiaProcesoDTO.nombre}}</td> -->
<!-- 										<td class="center" ng-hide="opBusq">{{resultBusqueda.garantia.garantiaProcesoDTO.nombre}}</td> -->
<!-- 										<td class="center" ng-hide="opBusqA">{{resultBusqueda.deposito}}</td> -->
<!-- 										<td class="center" ng-hide="opBusq">{{resultBusqueda.deposito}}</td> -->
										
<!-- 										<td class="center" ng-hide="opBusqA"><a  ng-if="resultBusqueda.recibida == '1'" ng-click="descargaPDFRecibida(resultBusqueda.garantiaId)"><img width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.recibida  === false ? "No" : "Si"}}</td>  -->
<!-- 										<td class="center" ng-hide="opBusq"><a ng-if="resultBusqueda.garantia.recibida == '1'" ng-click="descargaPDFRecibida(resultBusqueda.garantia.garantiaId)"><img  width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.garantia.recibida === false ? "No" : "Si" }}</td>  -->
										
<!-- 										<td class="center" ng-hide="opBusqA"><a ng-if="resultBusqueda.tipoPago == '2'" ng-click="descargaVaucher(resultBusqueda.infraccionDTO.infraccNum)"><img width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.pagada  === false ? "No" : "Si"}}</td>  -->
<!-- 										<td class="center" ng-hide="opBusq"><a  ng-if="resultBusqueda.garantia.tipoPago == '2'" ng-click="descargaVaucher(resultBusqueda.garantia.infraccionDTO.infraccNum )"><img width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.garantia.pagada === false ? "No" : "Si"}}</td> -->
										
<!-- 										<td class="center" ng-hide="opBusqA"><a ng-if="resultBusqueda.entregada == '1'"  ng-click="descargaPDFEntregada(resultBusqueda.garantiaId)"><img width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.entregada  === false ? "No" : "Si"}}</td>  -->
<!-- 										<td class="center" ng-hide="opBusq"><a ng-if="resultBusqueda.garantia.entregada == '1'"  ng-click="descargaPDFEntregada(resultBusqueda.garantia.garantiaId)"><img width="30" height="30" src="{{fileNameImg}}" ></a>{{resultBusqueda.garantia.entregada === false ? "No" : "Si"}}</td>								 -->
									</tr>
									<tr ng-if="(garantiaConsultaResult | filter:view.searchSomething).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="garantiaConsultaResult"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
	
		<!--<script type="text/javascript">
			$(function () {
					    $("#fInicio").datepicker({             
							format: 'dd/mm/yyyy',
							//language: 'es',
							todayHighlight : true,
							autoclose : true
						}).on('changeDate', function (selected) {
				        	var minDate = new Date(selected.date.valueOf());
				        	$('#fFin').datepicker('setStartDate', minDate);
				    	});
						
						$("#fFin").datepicker({             
							format: 'dd/mm/yyyy',
							//language: 'es',
							todayHighlight : true,
							autoclose : true
						}).on('changeDate', function (selected) {
				        	var maxDate = new Date(selected.date.valueOf());
				        	$('#fInicio').datepicker('setEndDate', maxDate);
				    	});
					});
	
    </script>--> 
</body>
</html>