<div id="modalValidacionCer" class="modal fade" role="dialog"
	data-keyboard="false" data-backdrop="static">
	<meta charset="utf-8" />
	<style>
		fieldset{
			padding: 0.3rem 0 0 1rem;
			margin:0;
		}
		.modal-lg{
			width: 45%;
		}
		.labelBusqueda{
			vertical-align: middle;
			line-height: 2.4rem;
		}
	</style>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			
			<div class="modal-header bg-red-active">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="updateFront()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title center" id="myModalLabel">Validar Certificado</h4>
			</div>
			
			<div class="modal-body">
				<form name="formVCertSAT" novalidate>
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<legend>Buscar oficial</legend>
								<div class="row col-md-12">
									<div class="col-md-1"></div>
									<div class="col-md-3 text-right">
										<label class="labelBusqueda" for="placa">*Placa oficial:</label>
									</div>
									<div class="col-md-4">
										<div class="form-group" ng-class="{'has-error': formVCertSAT.placa.$invalid && formVCertSAT.placa.$dirty}">
											<div class="input-group">
												<input type="text" id="placa" class="form-control" name="placa" 
													ng-model="parametroBusqueda.placa" autocomplete="off" ng-required="true">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<button class="btn btn-danger" ng-click="buscarUsuarios()">Buscar</button>
									</div>
								</div>
								<div class="row col-md-12 col-xs-12 center" ng-if="mostrarErrorEmpleado">
									<h5 ng-style="{color:'red'}" class="box-title">{{ errorEmpleado }}</h5>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
				
				<form name="formVContCert" novalidate>
					<div class="row" ng-show="mostrarEmpleado" ng-repeat="user in usuariosVO">
						<div class="col-md-12">
							<div id="busquedaOficial">
								<fieldset>
									<legend>Datos Generales</legend>
									<div class="row">
										<div class="col-md-12" align="left">
											<div class="col-md-6 col-xs-6">
												<label for="example1">Nombre Usuario:</label>
												<div class="form-group">{{user.emp_nombre}}
													{{user.emp_ape_paterno}} {{user.emp_ape_materno}}
												</div>
											</div>
											<div class="col-md-6 col-xs-6">
												<label for="example2"> RFC:</label>
												<div class="form-group">{{user.emp_rfc}}</div>
											</div>
										</div>
										<div class="col-md-12" align="left">
											<div class="col-md-6 col-xs-6">
												<label for="example1">Placa Usuario:</label>
												<div class="form-group">{{imp.actorNombre}}
													{{user.emp_placa}}
												</div>
											</div>
											<div class="col-md-6 col-xs-6">
												<label for="example2">Perfil Asignado:</label>
												<div class="form-group">{{user.perfil_web}}</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
									
							<div id="detalleArchivos" ng-show="detalleArchivos">
								<fieldset>
									<legend align="left">Detalle Archivos</legend>
									<div class="row">
										<div class="col-md-12 col-xs-12">
											<div class="col-md-6 col-xs-6" align="left">
												<label>Certificado:</label>
												<div class="form-group">
													{{certNombre}} 
													<a ng-click="obtieneCertificado('cer',usuariosVO[0].emp_placa)"
														data-toggle="tooltip" data-placement="rigth"
														title="Certificado"><img ng-show="certImage" title=''
														src='static/dist/img/certificado.png' width="19" height="15" />
													</a>
												</div>
											</div>
											<div class="col-md-6 col-xs-6" align="left">
												<label>Llave:</label>
												<div class="form-group">
													{{keyNombre}} <a
														ng-click="obtieneCertificado('key',usuariosVO[0].emp_placa)"
														data-toggle="tooltip" data-placement="rigth"
														title="Llave Privada"> <img ng-show="keyImage" title=''
														src='static/dist/img/llave.png' width="19" height="15" />
													</a>
												</div>
											</div>
											<div class="col-md-6 col-xs-6" align="left">
												<label>Válido desde:</label>
												<div class="form-group">{{certValidoDesde}}</div>
											</div>
											<div class="col-md-6 col-xs-6" align="left">
												<label>Válido hasta:</label>
												<div class="form-group">{{certValidoHasta}}</div>
											</div>
											<div class="col-md-6 col-xs-6" align="left">
												<label>Emitido por:</label>
												<div class="form-group">{{certEmitidoPor}}</div>
											</div>
											<div class="col-md-6 col-xs-6" align="left">
												<label>Emitido para:</label>
												<div class="form-group">{{certEmitidoPara}}</div>
											</div>
											<div class="row">
												<div class="col-md-4"></div>
												<div class="col-md-4 center">
													<br>
													<div class="form-group"
														ng-class="{ 'has-error' : formVContCert.pwdValidaCertCargado.$invalid && !formVContCert.pwdValidaCertCargado.$pristine }">
														<div id="divValidaCertCargado" ng-show="divValidaCertCargado">
															<label> Contraseña de Validación: </label>
															<div class="input-group">
																<span class="input-group-addon"> 
																	<i class="fa fa-asterisk"></i>
																</span>
																<input class="form-control" type="password"
																	ng-model="certificado.pwdValidaCertCargado"
																	name="pwdValidaCertCargado"
																	ng-show="pwdValidaCertCargadoShow" 
																	 autocomplete="off" required />
															</div>
															<p ng-show="formVContCert.pwdValidaCertCargado.$invalid && !formVContCert.pwdValidaCertCargado.$pristine"
																class="help-block">La Contraseña de Validación es
																requerida</p>
														</div>
														
													</div>
												</div>
												<div class="col-md-4"></div>
											</div>
											<div class="row">
												<div class="col-md-4"></div>
												<div class="col-md-4 center">
							 						<button
														ng-click="validarCertificado(usuariosVO[0].emp_placa,certificado.pwdValidaCertCargado)"
														ng-show="divValidaCertCargado" type="button"
														id="idValidarCertificado" value="Validar"
														class="btn btn-primary" >
														Validar contraseña
													</button>
							 					</div>
							 					<div class="col-md-4"></div>
						 					</div>
						 					<br>
						 					<div class="row col-md-12 col-xs-12 center" ng-if="mostrarErrorCertificado">
												<h5 ng-style="{color:'red'}" class="box-title">{{ errorCertificado }}</h5>
												<br>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>