<div class="modal fade" id="modalReasignacionCP2" role="dialog"
	data-keyboard="false" data-backdrop="static">
	<meta charset="utf-8" />
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-red-active">
				<div class="box-header text-center" style="color: white;">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="" style="color: blue;">&times;</button>
					<h3 class="box-title" id="idtl">Detecciones pertenecientes al C.P: {{localVariables.thisCP}} </h3>
				</div>
			</div>
			<div class="modal-body">
				

			<h4 class="box-title text-center" style="margin-top:6px;">Total de detecciones: {{localVariables.totalDetecciones}}</h4>
			
			<div class="container col-xs-12">
				<div class="box-header text-center">
					<h3 class="box-title" id="labelValid" ng-if='showMsjValida'>
					Detecciones	con Centro de Reparto Válidos: {{sumValid}}
					</h3>
					<h3 class="box-title" id="labelInvalid" ng-if='showMsjInValida'>
					Detecciones	con Centro de Reparto Inválidos: {{sumInValid}}
					</h3>
					<h3 class="box-title" ng-if='menuState.recomplementar'>Se
						verificarán los Códigos Postales nuevamente comparándolos contra
						el catálogo de Centros de Reparto.</h3>
					<h3 class="box-title" ng-if='menuState.deteccionesValidas'>
						Proceso de reasignación de Códigos Postales terminado. Se continua
						con el proceso.</h3>
					<h3 class="box-title" ng-if='menuState.noDeteccionesValidas'>
						No hay registros para procesar. Por lo que se cancelará el
						proceso.</h3>
				</div>
			</div>


				<div class="row" id="form">
					<div class="col-xs-14 col-md-12">
						<button ng-show='menuState.recomplementar' type="button"
							class="btn btn-danger center-block" ng-click="updateFront()" data-dismiss="modal">Cerrar</button>
						<button ng-show='menuState.noDeteccionesValidas' type="button"
							class="btn btn-danger center-block" data-dismiss="modal"
							ng-click="consultaLotes()">Cerrar</button>
						<button ng-show='menuState.deteccionesValidas' type="button"
							class="btn btn-danger center-block" data-dismiss="modal" ng-click="updateFront()">Cerrar</button>

					</div>
					<div class="row" ng-if="localVariables.totalDetecciones > 0 ">
						
						
<!--INICIO DE TABLA-->
			<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
<!-- 								<h3 class="box-title"> -->
<!-- 									Detecciones	con Centro de Reparto Válidos: {{globalData.totalValid}} / {{globalData.totalDetect}} -->
<!-- 								</h3> -->
							</div>
											      						
  						 	<div class="col-md-offset-3 col-md-3 col-xs-10">
      						 	<div class="input-group">
					        		<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething3">
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
								</div>
					 		</div>
			      														
						</div>
						
						<div  class="box-body table-responsive">
							<div class="col-md-12">
								<div style="display: block; overflow: auto;">
									<table class="table table-striped table-hover" id="modalReasignacionCPContent">
										<thead>
											<tr>
												<th class="text-center">
													Todos<input type="checkbox" id="chekid" ng-model="valorallitems" ng-change="fillAllItems(valorallitems)" name="all">
												</th>														
												<th class="text-center">#</th>
				                                <th class="text-center">PLACA</th>
				                                <th class="text-center">FECHA</th>
				                                <th class="text-center">HORA</th> 
												<th class="text-center">NOMBRE</th> 
												<th class="text-center">DOMICILIO</th> 
												<th class="text-center">CP</th> 
												<th class="text-center">CENTRO DE REPARTO</th> 
												<th class="text-center">DELEGACIÓN/MUNICIPIO</th> 
												<th class="text-center">ENTIDAD FEDERATIVA</th> 
												
											</tr>
										</thead>
										<tbody id="tablesizemax">
											<tr ng-if="(detecciondetail | filter:view.searchSomething3).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
											<tr pagination-id="cust3" dir-paginate="detecciondetail in localVariables.objetoDetecciones | filter:view.searchSomething3 | itemsPerPage: view.rowsPerPage3 track by localVariables.objetoDetecciones.indexOf(detecciondetail)+1 ">
												<td>
													<input type="checkbox" ng-model="detecciondetail.show" ng-change="fillItems(detecciondetail)" name="detecciondetail.idDeteccion" value="detecciondetail.idDeteccion">											
												</td>
												<td class="text-center">{{localVariables.objetoDetecciones.indexOf(detecciondetail) + 1}}</td>
												<td class="text-center">{{detecciondetail.placa}}</td>
												<td class="text-center">{{detecciondetail.fecha }}</td>
												<td class="text-center">{{detecciondetail.hora }}</td>
												<td class="text-center">{{detecciondetail.nombre}}</td>
												<td class="text-center">{{detecciondetail.domicilio}}</td>
												<td class="text-center">{{detecciondetail.codigoPostal}}</td>
												<td class="text-center">{{detecciondetail.centroReparto}}</td>
												<td class="text-center">{{detecciondetail.municipio}}</td>
												<td class="text-center">{{detecciondetail.entidadFederativa}}</td>														
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage3" filtro="view.searchSomething3" array="localVariables.objetoDetecciones"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls pagination-id="cust3" class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>	
						
						
					</div>	
					<div class="btnCenter">
							<div class="col-md-6 text-center">
								<button data-dismiss="modal" data-placement="top"
									type="button" class="btn btn-danger	">
									Cancelar</button>
								<button ng-show="!temporalData.cambiarCP" data-toggle="tooltip" data-placement="top"
									title="Clic para deshabilitar las detecciones seleccionadas"
									type="button" class="btn btn-danger	"
									ng-click="disableDetecciones()">
									Deshabilitar detecciones</button>
								<button ng-show="temporalData.cambiarCP" data-toggle="tooltip" data-placement="top"
									title="Puede cambiar el CP de las detecciones"
									type="button" class="btn btn-danger	"
									ng-click="cambiarCP()">
									Cambiar código postal</button>				
							</div>
						</div>
			</div>						
<!--FIN DE TABLA-->
						
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>