
<div id="detallePagosCompletos" class="modal  fade bannerformmodal"
	tabindex="-1" role="dialog" aria-labelledby="bannerformmodal"
	aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<meta charset="utf-8" />
	<div class="modal-dialog" role="document" style="width:29.86rem;">
		<div class="modal-content">
			<div class="modal-header bg-red-active">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="cerrarModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Datos del Vehículo</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
<!-- 						<fieldset> -->

<!-- 							<legend>Información de Pago</legend> -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="DGInfraccion"> <strong>NCI:</strong>
											{{infracDetalleVO.nci}}
										</label>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="example2"> <strong>Marca:</strong>
											{{infracDetalleVO.marca}}
										</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="DGInfraccion"><strong>Modelo:</strong>
											{{infracDetalleVO.modelo}}</label>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="example2"><strong>Color:</strong>
											{{infracDetalleVO.color}}</label>
									</div>

								</div>
							</div>
<!-- 						</fieldset> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

