<div class="modal fade" role="dialog">
<meta charset="utf-8" />
  
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header bg-red-active">
			<button type="button" class="close" data-dismiss="modal" >&times;</button>
			<h3 class="modal-title">{{paramsModal.tipo}}</h3>
		</div>
        
        <div class="modal-body">
	  		<form name="form" novalidate ng-if="paramsModal.action == 0">
	  			<div class="row">
			  		<div class="col-md-12">
			  		<fieldset>
			  		<legend>Datos del Oficial</legend>
			  			<div class="box-body table-responsive no-padding">
			  				<div class="col-md-6 col-xs-12" >
									<label>Área Operativa: </label><br>
										<div class="form-group">
											<label>{{paramsModal.areaOperativa}}</label>
										</div>
							</div>
							<div class="col-md-6 col-xs-12 center">
									<label>Placa: </label><br>
										<div class="form-group">
											<label>{{paramsModal.oficial_placa}}</label>
										</div>
							</div>
							<div class="col-md-6 col-xs-12 ">
									<label>Nombre: </label><br>
										<div class="form-group">
											<label>{{paramsModal.oficial_nombre}}</label>
										</div>
							</div>
			  				</div>
						</fieldset>
			  		</div>
	  			</div>
	  			
	  			<div class="row">
			  		<div class="col-md-12">
			  			<div class="">
							<div class="box-header">
								<h3 class="box-title">Cambiar Oficial</h3>	
							</div>
						
							<div class="box-body">
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-style="{color:values.validColor}">
										<label>*Placa Oficial:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-star"></i>
											</div>
											<input type="text" class="form-control" ng-model="values.placaOficial" name="txtvalor" ng-required="true" ng-change="changePlaca()" autocomplete="off" size="10" maxlength="12"></input> 
											<span class="input-group-btn">
												<button type="button" ng-click="consultarPlaca()" class="btn btn-danger btn-flat">Buscar</button>
											</span>
										</div>
										<div ng-if="values.viewMessage" ng-style="{color:values.validColor}">{{values.validMessage}}</div>
									</div>
								</div>
								
								<div class="col-xs-12 col-md-6" ng-if="values.viewData">
									<div class="form-group">
										<label>Nombre Oficial:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-font"></i>
											</div>
											<input type="text" class="form-control" name="txtnoficial" ng-value="values.oficial" readOnly></input> 
										</div>
									</div>
								</div>
							</div>
						</div>
			  		</div>
	  			</div>
  			</form>

				<form name="form" novalidate ng-if="paramsModal.action == 1">
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<legend>Información General</legend>
								<div class="">
									<div class="box-body">
										<div class="form-group col-md-6 col-xs-6">
											<label class="box-title" style="display: inline-block;">Regional: </label>
											<div class="input-group">
												<label style="display: inline-block;">{{paramsModal.regionales}}</label> 
											</div>
										</div>
										<div class="form-group col-md-6 col-xs-6">
											<label class="box-title" style="display: inline-block;">Área Operativa: </label>
											<div class="input-group">
												<label style="display: inline-block;">{{paramsModal.areaOperativa}}</label> 
											</div>
											
											
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

					<div class="row">
						<div class="">
							<div class="box-header">
								<h3 class="box-title">Buscar Auxiliar</h3>
							</div>

							<div class="box-body">
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<div class="form-group" ng-style="{color:values.validColor}">
											<label>*Placa Oficial:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-star"></i>
												</div>
												<input type="text" class="form-control"
													ng-model="values.placaOficial" name="txtvalor"
													ng-required="true" ng-change="changePlaca()"
													autocomplete="off" size="10" maxlength="12"></input> <span
													class="input-group-btn">
													<button type="button" ng-click="consultarPlaca()"
														class="btn btn-danger btn-flat">Buscar</button>
												</span>
											</div>
											<div ng-if="values.viewMessage"
												ng-style="{color:values.validColor}">{{values.validMessage}}</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-6" ng-if="values.viewData">
										<div class="form-group">
											<label>Nombre Oficial:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-font"></i>
												</div>
												<input type="text" class="form-control" ng-disabled="true"
													name="txtnoficial" ng-value="values.oficial"></input>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
        <div class="modal-footer" ng-if="values.viewData">
        	<div class="row">
        		<div class="col-xs-12 text-center">
        			<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        			<button class="btn btn-danger" data-dismiss="modal" ng-click="executeMethod()">Guardar</button>
        		</div>
        	</div>
        </div>
    </div>
  </div>
  
</div>


