<div class="modal fade" id="modalIdd" role="document" 
	data-keyboard="false" data-backdrop="static">
	<meta charset="utf-8" />
	<div class="modal-dialog">
	<form name="formCP">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="closeModal()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Actualizar Código Postal</h4>
			</div>
			<div class="modal-body">		
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive no-padding">
							<table class="table table-striped tblsnborder">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="text-center">CÓDIGO POSTAL</th>
										<th class="text-center" ng-if="optionCP.actualCP">CÓDIGO ACTUAL</th>
										<th ng-if="optionCP.newCP">CÓDIGO NUEVO</th>
									<tr>
								</thead>
								
								<tbody>
									<tr>
										<td align="center">{{dataCP.idCP}}</td>
										<td align="center">{{dataCP.codigoPost}}</td>
										<td align="center" ng-if="optionCP.actualCP">{{dataCP.codigoPost}}</td>
										<td  ng-if="optionCP.newCP">
										  
											   <div class="form-group"
													ng-class="{ 'has-error' : formCP.newCP.$invalid && !formCP.newCP.$pristine }">
													<input type="text" ng-model="dataCP.newCP" name="newCP" minlength="5" maxlength="5"  ng-minlength="5"
														class="form-control" placeholder="Ingrese el CP" required="required" integer-number disabled>
										    			<p ng-show="formCP.newCP.$invalid && !formCP.newCP.$pristine"
		    												class="help-block">El código postal es requerido</p>
											  </div>
											  
										</td>
									</tr>
									
									<tr></tr>
									
									<tr class="text-center">
										<td ng-if="confirmDesh" colspan="4"><label>¡Se ha deshabilitado el
											registro!</label></td>
										<td ng-if="confirmHabil" colspan="4">¡Se ha cambiado el CP del
											registro a <b>{{dataCP.newCP}}</b>!
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div> 
			<div class="modal-footer">
				<button ng-if="optionCP.cancelarCP"  type="button" ng-click="closeModal()"
					data-dismiss="modal" class="btn btn-primary">Cancelar</button>
				<button ng-if="optionCP.deshabilitarCP" type="button"
					class="btn btn-secondary"
					ng-click="radarCambiaCpDesh(dataCP.codigoPost)">Deshabilitar
					registro</button>
				<button ng-if="optionCP.habilitarCP" type="button"
					class="btn btn-secondary"
					ng-click="radarCambiaCpHabil(dataCP.realCode, dataCP.newCP, dataCP.centroReparto)">Cambiar
					CP</button>
				<button ng-if="confirmDeshButton" type="button"
					 class="btn btn-secondary" data-dismiss="modal"
					 ng-click="cerrar(banderaOpcion)">Aceptar</button>

			</div>
		</div>			
	   </form>
	</div>
</div>