<div class="modal fade" id="modalReasignacionCP2" role="dialog"
	data-keyboard="false" data-backdrop="static">
	<meta charset="utf-8" />
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-red-active">
				<div class="box-header text-center" style="color: white;">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="" style="color: blue;">&times;</button>
					<h3 class="box-title" id="idtl">Detecciones pertenecientes al C.P: {{localVariables.thisCP}} </h3>
				</div>
			</div>
			<div class="modal-body">
				

			<h3 class="box-title text-center" style="margin-top:6px;">Total de detecciones: {{localVariables.totalDetecciones}}</h3>
			
			<div class="container col-xs-12">
				<div class="box-header text-center">
					<h3 class="box-title" id="labelValid" ng-if='showMsjValida'>
					Detecciones	con Centro de Reparto Válidos: {{sumValid}}
					</h3>
					<h3 class="box-title" id="labelInvalid" ng-if='showMsjInValida'>
					Detecciones	con Centro de Reparto Inválidos: {{sumInValid}}
					</h3>
					<h3 class="box-title" ng-if='menuState.recomplementar'>Se
						verificarán los Códigos Postales nuevamente comparándolos contra
						el catálogo de Centros de Reparto.</h3>
					<h3 class="box-title" ng-if='menuState.deteccionesValidas'>
						Proceso de reasignación de Códigos Postales terminado. Se continua
						con el proceso.</h3>
					<h3 class="box-title" ng-if='menuState.noDeteccionesValidas'>
						No hay registros para procesar. Por lo que se cancelará el
						proceso.</h3>
				</div>
			</div>


				<div class="row" id="form">
					<div class="col-xs-14 col-md-12">
						<button ng-show='menuState.recomplementar' type="button"
							class="btn btn-danger center-block" ng-click="updateFront()" data-dismiss="modal">Cerrar</button>
						<button ng-show='menuState.noDeteccionesValidas' type="button"
							class="btn btn-danger center-block" data-dismiss="modal"
							ng-click="consultaLotes()">Cerrar</button>
						<button ng-show='menuState.deteccionesValidas' type="button"
							class="btn btn-danger center-block" data-dismiss="modal" ng-click="updateFront()">Cerrar</button>

					</div>
					<div class="row"
						ng-if="localVariables.totalDetecciones > 0 ">
						<div class="col-md-2"></div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-xs-12">
									<div class="box">
										<div class="box-body table-responsive no-padding">
											<table class="table table-hover">
<!-- 											{{items}} -->
												<thead>
													<tr>
														<th><input type="checkbox" id="chekid" ng-model="valorallitems" ng-change="fillAllItems(valorallitems)" name="all">Todos</th>
														<th>#</th>
														<th>PLACA</th>
														<th>FECHA</th>
														<th>HORA</th>
														<th>NOMBRE</th>
														<th>DOMICILIO</th>
														<th>CP</th>
														<th>CENTRO DE REPARTO</th>
														<th>DELEGACIÓN/MUNICIPIO</th>
														<th>ENTIDAD FEDERATIVA</th>
														
														 
													</tr>
												</thead>
												<tbody>
												
													<tr
														dir-paginate="detecciondetail in localVariables.objetoDetecciones  | itemsPerPage: 5 track by localVariables.objetoDetecciones.indexOf(detecciondetail)+1">
														<td><input type="checkbox" ng-model="detecciondetail.show" ng-change="fillItems(detecciondetail)" name="detecciondetail.idDeteccion" value="detecciondetail.idDeteccion">
<!-- 														{{detecciondetail.show}} -->
														</td>
														<td>{{localVariables.objetoDetecciones.indexOf(detecciondetail) + 1}}</td>
														<td class="center">{{detecciondetail.placa}}</td>
														<td class="center">{{detecciondetail.fecha }}</td>
														<td class="center">{{detecciondetail.hora }}</td>
														<td class="center">{{detecciondetail.nombre}}</td>
														<td class="center">{{detecciondetail.domicilio}}</td>
														<td class="center">{{detecciondetail.codigoPostal}}</td>
														<td class="center">{{detecciondetail.centroReparto}}</td>
														<td class="center">{{detecciondetail.municipio}}</td>
														<td class="center">{{detecciondetail.entidadFederativa}}</td>
														<!-- 
														<td class="center"><a ng-if="menuState.Valid"
															class="glyphicon glyphicon-minus-sign"
															data-toggle="tooltip" title="Deshabilitar registro"
															ng-click="radarCambiarCP(listaDeteccionValidaVO.indexOf(detecciones) + 1 , detecciones, 'deshabilitar')"></a>
															<span ng-if="menuState.Invalid"><a
																class="glyphicon glyphicon-edit"
																data-toggle="tooltip" title="Cambiar Codigo Postal"
																ng-click="radarCambiarCP(listaDeteccionValidaVO.indexOf(detecciones) + 1 , detecciones, 'habilitar')"></a></span>
														</td>
														 -->
														 
													</tr>
												</tbody>
												
											</table>
											<dir-pagination-controls></dir-pagination-controls>
											<div class="btnCenter">
										<div class="col-md-6 text-center">
											<button data-dismiss="modal" data-placement="top"
												type="button" class="btn btn-danger	">
												Cancelar</button>
											<button ng-show="!temporalData.cambiarCP" data-toggle="tooltip" data-placement="top"
												title="Clic para deshabilitar las detecciones seleccionadas"
												type="button" class="btn btn-danger	"
												ng-click="disableDetecciones()">
												Deshabilitar detecciones</button>
											<button ng-show="temporalData.cambiarCP" data-toggle="tooltip" data-placement="top"
												title="Puede cambiar el CP de las detecciones"
												type="button" class="btn btn-danger	"
												ng-click="cambiarCP()">
												Cambiar código postal</button>
											
										</div>
									</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>