<html>
<head>
<meta charset="utf-8">
<title>Centro de pagos</title>
</head>
<body>

	<section class="content-header">
		<h1>Centro de Pagos</h1>
		<ol class="breadcrumb">
				<li ng-if="fechaUltimaConsulta !=null" style="font-size: 1.2rem;">Última consulta centro de pagos: {{fechaUltimaConsulta}}</li>
				<li><a href=""><i class="fa fa-paypal"></i> Pagos</a></li>
				<li class="active">Centro de Pagos</li>
			</ol>
	</section>

	<section class="content">
<!-- 		<div class="row"> -->
<!-- 			<div class="col-md-8"></div> -->
<!-- 			<div class="col-md-5" ng-if="fechaUltimaConsulta !=null"> -->
<!-- 				<span>Última consulta Centro de Pagos: -->
<!-- 					{{fechaUltimaConsulta}}</span> -->
<!-- 			</div> -->

<!-- 		</div> -->
		<br>
		<form id="form1" role="form" name="consultaCentroPagos" novalidate>

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>
						</div>
						<div class="box-body ">
							<!-- PARAMETROS DE BÚSQUEDA -->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group"
										ng-class="{'has-error': consultaCentroPagos.fInicio.$invalid && consultaCentroPagos.fInicio.$dirty}">
										<label for="fInicio">Fecha Inicio:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" id="fInicio" name="fInicio" readonly
												class="form-control pull-right inputFecha" ng-required="true"
												autocomplete="off" ng-model="parametroBusqueda.fechaInicio">
										</div>
										<div
											ng-show="consultaCentroPagos.fInicio.$invalid && consultaCentroPagos.fInicio.$dirty"
											ng-style="{color:'red'}">La fecha inicio es requerida</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group"
										ng-class="{'has-error': consultaCentroPagos.fFin.$invalid && consultaCentroPagos.fFin.$dirty}">

										<label for="fFin">Fecha Fin:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" id="fFin" name="fFin" readonly
												class="form-control pull-right inputFecha" ng-required="true"
												ng-model="parametroBusqueda.fechaFin">
										</div>
										<div
											ng-show="consultaCentroPagos.fFin.$invalid && consultaCentroPagos.fFin.$dirty"
											ng-style="{color:'red'}">La fecha fin es requerida</div>
									</div>
								</div>

								<div class="col-md-12 text-center">
									<button class="btn btn-danger"
										ng-click="totalTransaccionesCentroPagos( parametroBusqueda.fechaInicio,parametroBusqueda.fechaFin)">Buscar</button>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>


		<div class="row ngIfAnimate"
			ng-if="transaccionesCentroPago.totalTransacciones > 0 ">
			<div class="col-md-2"></div>

			<div class="col-md-8 text-center">
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Consulta General</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body ">
						<div class="col-xs-12 col-md-12">
							<div class="col-xs-12 col-md-12">
								<div class="info-box ">

									<div class="col-md-6 col-xs-12">
										<span style="font-size: 1.2em;"><strong>Período de Fechas: </strong></span> <span>
											<a style="font-size: 1.2em;" name="linkRangoFechas" id="linkRangoFechas"
											ng-click="totalesCentroPagosRangoFecha (parametroBusqueda.fechaInicio , parametroBusqueda.fechaFin )">
												<b>{{parametroBusqueda.fechaInicio}} -
													{{parametroBusqueda.fechaFin}}</b>
											</a>
										</span>
									</div>
									<div class="col-md-6 col-xs-12">
											<span style="font-size: 1.2em;"><strong>Total Pagos: </strong></span><span style="font-size: 1.2em;"><b>{{transaccionesCentroPago.totalTransacciones}}</b></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="info-box">
										<div class="info-box-icon bg-red-active">
										<i class="fa fa-tablet img-position-cp-hh" ></i>
										</div>
										<div class="info-box text-center back-ground-cp" >
											<div class="itemsBox">
												<span>Total pagos HH incompletos:</span> 
												<span ng-if="transaccionesCentroPago.hhIncompletas > 0"> 
												<a name="linkhhIncompletas" id="linkhhIncompletas" ng-click="consultaCentroPagosIncompleto(parametroBusqueda.fechaInicio,parametroBusqueda.fechaFin ,'H', 'p')">
													{{transaccionesCentroPago.hhIncompletas}}</a></span> 
												<span ng-if="transaccionesCentroPago.hhIncompletas == 0">{{transaccionesCentroPago.hhIncompletas}} </span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="info-box">
										<div class="info-box-icon bg-red-active">
											<i class="fa fa-tablet img-position-cp-hh" ></i>
										</div>
										<div class="info-box text-center back-ground-cp" >
											<div class="itemsBox">
												<span>Total pagos HH completos:</span>
												<span ng-if="transaccionesCentroPago.hhCompletas > 0"> 
												<a name="linkhhCompletas" id="linkhhCompletas" ng-click="consultaCentroPagosCompleto(parametroBusqueda.fechaInicio,parametroBusqueda.fechaFin ,'H','p')">
													{{transaccionesCentroPago.hhCompletas}} </a>
												</span> <span ng-if="transaccionesCentroPago.hhCompletas == 0">	{{transaccionesCentroPago.hhCompletas}} </span>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<div class="info-box">
										<div align="center" class="info-box-icon bg-red-active">
											<i class="fa fa-globe img-position-cp-web" ></i>
										</div>
										<div class="info-box text-center back-ground-cp" >
											<div class="itemsBox">
												<span>Total pagos web incompletos:</span> 
												<span ng-if="transaccionesCentroPago.webIncompletas > 0"> 
												<a name="linkwebIncompletas" id="linkwebIncompletas"
												ng-click="consultaCentroPagosIncompleto(parametroBusqueda.fechaInicio,parametroBusqueda.fechaFin ,'W','p')">
													{{transaccionesCentroPago.webIncompletas}}</a></span> 
												<span ng-if="transaccionesCentroPago.webIncompletas == 0"> {{transaccionesCentroPago.webIncompletas}} </span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-xs-12">
									<div class="info-box">
										<div class="info-box-icon bg-red-active">
											<i class="fa fa-globe img-position-cp-web" ></i>
										</div>
										<div class="info-box text-center" style="background:#fafafa;">
											<div class="itemsBox">
												<span>Total pagos web completos:</span>
													<span ng-if="transaccionesCentroPago.webCompletas > 0"> 
													<a name="linkwebCompletas" id="linkwebCompletas" ng-click="consultaCentroPagosCompleto(parametroBusqueda.fechaInicio,parametroBusqueda.fechaFin ,'W','p')">
													{{transaccionesCentroPago.webCompletas}}</a></span> 
													<span ng-if="transaccionesCentroPago.webCompletas == 0">{{transaccionesCentroPago.webCompletas}} </span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row ngIfAnimate" id="tblTotalesFecha"
			ng-if="listaCentroPagos.length > 0">
			<div class="col-md-12 text-center">
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 id="totalxFecha" class="box-title">Totales por Fecha</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div id="parentbox" class="box-body row-flex row-flex-wrap">

						<div class="col-md-3 dynamic"
							ng-repeat="transaccionXdia in listaCentroPagos"
							ng-if="radar != 'total'">
							<div class="box box-danger">
								<div class="box-header with-border text-center bg-red-active">
									<h3 class="modal-title">{{transaccionXdia.fecha |
										date:'yyyy-MM-dd HH:mm:ss Z' }}</h3>
									 
								</div>
								<div class="box-body  no-padding"> <!--box-body table-responsive no-padding-->
								<table class="table">
								<tr><th>
 									<strong> 
 									Total pagos HH incompletos: 
 									</strong> 
 									<th>
 										<strong> <a class="align-right"
										ng-if="transaccionXdia.hhIncompleto > 0"
										name="linkwebCompletas" id="linkwebCompletas"
										ng-click="consultaCentroPagosIncompleto(transaccionXdia.fecha ,'','H','f')">
											{{transaccionXdia.hhIncompleto}}</a> <span
										ng-if="transaccionXdia.hhIncompleto == 0">
										{{transaccionXdia.hhIncompleto}} </span>
										</strong> 
									</th>
									</strong> 
									</th>
								</tr>
								<tr><th>
								
										<strong>
										  Total pagos HH completos:
										 </strong> 
									</th>
									<th>
										 <strong>
											<a ng-if="transaccionXdia.hhCompleto > 0"
											name="linkhhCompletas" id="linkhhCompletas"
											ng-click="consultaCentroPagosCompleto(transaccionXdia.fecha ,'' ,'H' ,'f')">
												{{transaccionXdia.hhCompleto}} </a> <span
											ng-if="transaccionXdia.hhCompleto == 0">{{transaccionXdia.hhCompleto}} </span>
										</strong> 
									</th>
								</tr>
								<tr><th>
										 <strong>Total pagos Web incompletos:</strong> 
									</th>
									<th>
									<strong>
										<a ng-if="transaccionXdia.webIncompleto > 0"
										name="linkwebInCompletas" id="linkwebInCompletas"
										ng-click="consultaCentroPagosIncompleto(transaccionXdia.fecha ,'','W','f')">
											{{transaccionXdia.webIncompleto}} </a> <span
										ng-if="transaccionXdia.webIncompleto == 0">{{transaccionXdia.webIncompleto}} </span>
									</strong> 
								</th>
								</tr>
								<tr><th>
								
										<strong>
											  Total pagos web completos: 
										</strong> 
									</th>
									<th>
										<strong>
											<a ng-if="transaccionXdia.webCompleto > 0"
											name="linkwebCompletas" id="linkwebCompletas"
											ng-click="consultaCentroPagosCompleto(transaccionXdia.fecha ,'','W','f')">
												{{transaccionXdia.webCompleto}} </a> <span
											ng-if="transaccionXdia.webCompleto == 0">
	
												{{transaccionXdia.webCompleto}} </span>
										</strong> 
									</th>
								</tr>	
									
									</table>
								</div>
							</div>
						</div>


						<!-- 							<div class="col-md-3 dynamic" -->
						<!-- 								ng-repeat="deteccion in deteccionesRadar" ng-if="true"> -->
						<!-- 								<div class="box box-success"> -->
						<!-- 									<div class="box-header with-border"> -->
						<!-- 										<h3 class="box-title">{{deteccion.fechaCreacion }}</h3> -->
						<!-- 										<div class="box-tools pull-right"> -->
						<!-- 											<button type="button" class="btn btn-box-tool" -->
						<!-- 												data-widget="remove"> -->
						<!-- 												<i class="fa fa-times"></i> -->
						<!-- 											</button> -->
						<!-- 										</div> -->
						<!-- 									</div> -->
						<!-- 									<div class="box-body"> -->
						<!-- 										<div class="col-xs-6 text-left"> -->
						<!-- 											<strong>RADAR</strong> -->
						<!-- 										</div> -->
						<!-- 										<div class="col-xs-6 text-center"> -->
						<!-- 											<strong>TOTAL</strong> -->
						<!-- 										</div> -->

						<!-- 										<div ng-repeat="into in deteccionesRadar"> -->
						<!-- 											<div ng-if="deteccion.fechaCreacion == into.fechaCreacion" -->
						<!-- 												class="col-xs-6 text-left"> -->
						<!-- 												<strong>{{into.nombreRadar}}</strong> -->
						<!-- 											</div> -->
						<!-- 											<div ng-if="deteccion.fechaCreacion == into.fechaCreacion" -->
						<!-- 												class="col-xs-6 text-center"> -->
						<!-- 												<strong>{{into.numeroDeteciones}}</strong> -->
						<!-- 											</div> -->
						<!-- 										</div> -->
						<!-- 									</div> -->
						<!-- 								</div> -->
						<!-- 							</div> -->


						<div class="col-md-3" ng-if="repeat"
							ng-repeat="i in getNumber(divRepeat) track by $index"></div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$(function() {
			$("#fInicio").datepicker({
				format : 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function(selected) {
				var minDate = new Date(selected.date.valueOf());
				$('#fFin').datepicker('setStartDate', minDate);
			});

			$("#fFin").datepicker({
				format : 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function(selected) {
				var maxDate = new Date(selected.date.valueOf());
				$('#fInicio').datepicker('setEndDate', maxDate);
			});
		});
	</script>
</body>
</html>
