<html>
<head>
<meta charset="utf-8">
<title>Asignación de Depósito a Usuario
</title>
</head>
<body>
	<form name="userForm" novalidate>
		<section class="content-header">

			<h1>Asignación de Depósito a Usuario</h1>
			<ol class="breadcrumb">
				<li><a ><i class="fa fa-book"></i>Administración</a></li>
				<li class="active">Usuarios</li>
			</ol>
		</section>
		<!-- Main content -->

		<section class="content">


			<div class="row">
				<section class="content">
					<div class="row" align="center">
						<div class="col-lg-2"></div>
						<section class="col-lg-8 connectedSortable">

							<!-- Datos generales -->
							<div class="box box-danger" 
								align="center">
								<div class="box-header with-border">
									<div align="center">
										<h3 class="box-title">Depósito</h3>
									</div>
									
								</div>
								
						<div class="box-body">
							<div class="form-group">		
								
							<div ng-repeat="user in usuariosVO" align="left">
								<fieldset>
									<legend>Datos Generales</legend>
									
										<div class="col-md-8" align="left">
										  <label for="example1">Nombre Usuario:</label>
											<div class="form-group">
												{{user.emp_nombre}} {{user.emp_ape_paterno}}
												{{user.emp_ape_materno}}

											</div>

										</div>

										<div class="col-md-4" ></div>
										<div class="col-md-12"></div>

										<div class="col-md-6" align="left">
											<label for="example2"> Número de Caja:</label>
										    <div class="form-group">{{user.caja_cod}}</div>
										</div>


										<div class="col-md-6" align="left">
											<label for="example1">Depósito Vehicular Asignado :</label>
											<div class="form-group">
												{{user.dep_nombre}}
											</div>
										</div>
								</fieldset>
								</div>
								
								
								<hr />

								<fieldset class="text-left">
									<legend>Depósito Vehicular</legend>

											<div ng-show="usuariosVO[0].tiene_operaciones=='SI'">
												<div class="col-md-12">
													<div class="col-md-12 alert alert-teclo">
														<strong> La caja que tiene el usuario, cuenta con
															operaciones en el día, por lo que se tendrá que realizar
															un corte de caja para poder acceder a esta funcionalidad</b>
														</strong>
													</div>
												</div>
											</div>



											<div ng-show="usuariosVO[0].tiene_operaciones!='SI'">
												<div ng-show="usuariosVO[0].dep_nombre!='SIN DEPOSITO'">
													<div class="radio">
														<div ng-init="result=true"></div>

														<div class="col-xs-6 col-md-6 text-center">
															<label> <input type="radio" ng-model="result"
																ng-value="true" ng-checked="result"> Desasociar
																Depósito
															</label>
														</div>
														<div class="col-xs-6 col-md-6 text-center">
															<label> <input type="radio" ng-model="result"
																ng-value="false" ng-checked="!result"> Cambiar
																Depósito
															</label>
														</div>
													</div>





													<div class="col-md-12"></div>

													<div ng-show="!result">

														<div class="col-md-3"></div>
														<div class="col-md-6" align="center">

															<div align="left">
																<label>Depósito Vehicular:</label>
															</div>

															<div class="input-group">
																<span class="input-group-addon"> <i
																	class="fa fa-map-marker"></i></span> <select
																	ng-options="item as item.depNombre for item in depositos | orderBy:'depNombre ' track by item.depId "
																	ng-model="depositoVO.selected" class="form-control"></select>
															</div>
														</div>
													</div>
												</div>


												<div ng-show="usuariosVO[0].dep_nombre=='SIN DEPOSITO'">
													<div class="col-md-4"></div>


													<div class="col-md-4" align="center">
														<br>
														<div align="left">
															<label>Depósito Vehicular:</label>
														</div>
														<div class="input-group">
															<span class="input-group-addon"> <i
																class="fa fa-map-marker"></i></span> <select
																ng-options="item as item.depNombre for item in depositos | orderBy:'depNombre ' track by item.depId "
																ng-model="depositoVO.selected" class="form-control"></select>

														</div>
													</div>
												</div>
											</div>
										</fieldset>		
										
								
							  </div>
							</div>
							
							<div class="box-footer">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-danger"
											ng-show="usuariosVO[0].tiene_operaciones!='SI'"
											ng-click="actualizaDeposito(depositoVO.selected,result,usuariosVO[0])">
											Guardar
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<a type="button" class="btn pull-left" ng-click="doBack()">
											<i class="fa fa-arrow-circle-left"></i>
											Regresar
										</a>
									</div>
								</div>
							</div>
						 </div>	
						</section>
					</div>
				</section>
			</div>
		</section>
	</form>
	
</body>


</html>
