<html>
<head>
<meta charset="utf-8">
<title>Asignación de Caja a Usuario</title>
</head>
<body>

	<section class="content-header">

		<h1>Asignación de Caja a Usuario</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Administración</a></li>
			<li class="active">Usuarios</li>
		</ol>
	</section>
	<!-- Main content -->

	<section class="content">


		<div class="row">
			<section class="content">
				<div class="row" align="center">
					<div class="col-lg-2"></div>
					<section class="col-lg-8 connectedSortable">

						<!-- Datos generales -->
						<div class="box box-danger" align="center">
							<div class="box-header with-border">
								<div align="center">
									<h3 class="box-title">Caja</h3>
								</div>

							</div>
							<div class="box-body">
								
								<!-- <hr /> -->
                                <div align="left">

									<div ng-show="usuariosVO[0].tiene_operaciones=='SI'">
										<div class="col-md-12">
											<div class="col-md-12 alert alert-teclo">
												<strong> La caja que tiene el usuario, cuenta con
													operaciones en el día, por lo que se tendrá que realizar un
													corte de caja para poder acceder a esta funcionalidad </strong>
											</div>
										</div>
									</div>

									<div ng-show="usuariosVO[0].tiene_operaciones!='SI'">
										<form name="formCaja" novalidate>
											<div ng-show="usuariosVO[0].caja_cod!='SIN CAJA'">
												<div>
													<div>
														<div class="radio">
															<div ng-init="result=true"></div>
															<div class="col-xs-6 col-md-6 text-center">
																<label> <input type="radio" ng-model="result"
																	ng-value="true" ng-checked="result"> Desasociar
																	Caja
																</label>
															</div>
															<div class="col-xs-6 col-md-6 text-center">
																<label> <input type="radio" ng-model="result"
																	ng-value="false" ng-checked="!result"> Cambiar
																	Caja
																</label>
															</div>
														</div>
													</div>
												</div>

												<div ng-if="!result">
													<div class="form-group"
														ng-class="{ 'has-error' : formCaja.numCaja1.$invalid && !formCaja.numCaja1.$pristine }">

														<div class="col-md-4"></div>
														<div class="col-md-4">
															<div align="left">
																<label>Número de Caja:</label>
															</div>



															<div class="input-group">
																<span class="input-group-addon"> <i
																	class="fa fa-book"></i></span> <input type="text"
																	class="form-control" name="numCaja1" ng-model="numCaja"
																	required> <span class="input-group-btn">
																	<button type="button" class="btn btn-primary"
																		ng-click="buscarCaja1(numCaja)" value="Buscar">Buscar</button>
																</span>
															</div>

															<p
																ng-show="formCaja.numCaja1.$invalid && !formCaja.numCaja1.$pristine"
																class="help-block">El número de caja es requerido</p>

														</div>

													</div>

												</div>
											</div>


											<div ng-show="usuariosVO[0].caja_cod=='SIN CAJA'">
												<div class="col-md-12"></div>
												<div class="col-md-4"></div>



												<div class="form-group"
													ng-class="{ 'has-error' : formCaja.numCaja.$invalid && !formCaja.numCaja.$pristine }">
													<div class="col-md-4">
														<div align="left">
															<label>Número de Caja:</label>
														</div>
														<div class="input-group">
															<span class="input-group-addon"> <i
																class="fa fa-book"></i></span> <input type="text"
																class="form-control" name="numCaja" ng-model="numCaja"
																required> <span class="input-group-btn">
																<button type="button" class="btn btn-primary"
																	ng-click="buscarCaja(numCaja)" value="Buscar">Buscar</button>
															</span>
														</div>

														<div>
															<p
																ng-show="formCaja.numCaja.$invalid && !formCaja.numCaja.$pristine"
																class="help-block">El número de caja es requerido</p>
														</div>

													</div>

												</div>

											</div>
										</form>

										<div class="col-md-12"></div>
										<!-- <div class="col-md-1"></div> -->
										<div class="col-md-12" align="left"
										 ng-show="(!result && cajaVO.length > 0)">
											<fieldset>
												<legend>Caja Encontrada:</legend>
												<table ng-repeat="caja in cajaVO" style="width: 100%" class="table-responsive">

													<tr align="center">
														<td align="center"><label>Número de Caja</label></td>
														<td align="center"><label>Usuario Asignado</label></td>
														<td align="center"><label>Depósito Asignado</label></td>

													</tr>
													<tr align="center">
														<td align="center">{{caja.caja_cod}}</td>
														<td align="center">{{caja.emp_nombre}}</td>
														<td align="center">{{caja.deposito}}</td>

													</tr>

												</table>

											</fieldset>
										</div>
									</div>


								</div>
								<br>
								
								
								<div class="col-md-12">
									<div class="form-group">
										<div ng-repeat="user in usuariosVO" align="left">
											<fieldset>
												<legend>Datos Generales</legend>
	
												<div class="col-md-6">
	
													<label for="example1">Nombre Usuario:</label>
													<div class="form-group">{{user.emp_nombre}}
														{{user.emp_ape_paterno}} {{user.emp_ape_materno}}</div>
	
												</div>
	
	
												<div class="col-md-12"></div>
	
												<div class="col-md-6">
													<label for="example2"> Placa/Usuario:</label>
													<div class="form-group">{{user.emp_placa}}</div>
												</div>
	
	
												<div class="col-md-6">
													<label for="example2"> Perfil Asignado:</label>
													<div class="form-group">{{user.perfil_web}}</div>
												</div>
												<div class="col-md-6">
													<label for="example2"> Tipo Usuario:</label>
													<div class="form-group">{{user.emp_tipo_nombre}}</div>
												</div>
												<div class="col-md-6">
													<label for="example2"> Caja Asignada:</label>
													<div class="form-group">{{user.caja_cod}}</div>
												</div>
	
												<div class="col-md-6">
													<label for="example1">Depósito Vehicular Asignado :</label>
													<div class="form-group">{{user.dep_nombre}}</div>
												</div>
	
												<div ng-show="user.perfil_web=='HANDHELD'">
	
	
													<div class="col-md-6">
														<label>Realizar Cobro:</label> <br> <input
															type="radio" name="radio" ng-model="cobro" ng-value="true">
														SI <input type="radio" name="radio" ng-model="cobro"
															ng-value="false"> NO
	
	
													</div>
	
	
												</div>
											</fieldset>
										</div>
									</div>
								</div>

							</div>
							
							<div class="box-footer">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-danger"
											ng-show="usuariosVO[0].tiene_operaciones!='SI'"
											ng-click="actualizaCaja(cajaVO,result,usuariosVO);">
											Guardar
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<a type="button" class="btn pull-left" ng-click="doBack()">
											<i class="fa fa-arrow-circle-left"></i>
											Regresar
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>
	</section>
</body>
</html>
