<html>
<head>
<meta charset="utf-8">
<title>Administración de Cajas de Recaudación</title>
</head>
<body>
<!-- 	<div ng-show="error" class="alert alert-warning"> -->
<!-- 		{{error.message}}</div> -->
	<section class="content-header">
		<h1>Administración de Cajas de Recaudación</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Administración</a></li>
			<li class="active">Cajas de Recaudación</li>
		</ol>
	</section>
	<section class="content" >
		<div class="row">
			<section class="col-lg-offset-2 col-lg-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Búsqueda de Cajas</h3>
					</div>
					<div class="box-body">
						<form role="form">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label for="">Placa del Usuario:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-user" aria-hidden="true"></i>
											</div>
											<input type="text" class="form-control inputs" ng-model="consulta.placa" placeholder="">
											
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="">Depósito Vehicular:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-automobile" aria-hidden="true"></i>
											</div>
											<select class="form-control inputs"
												ng-options="depo.depId as depo.depNombre for depo in catalogoDeposito"
												ng-model="consulta.depositoVehicular"
												style="width:100%">
												<!-- ng-change="changeBusqueda()" -->
												
												<option value="">Seleccione</option>
												<option value="TODOS">Todos</option>
												<option value="0">Sin Depósito</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="">Número de Caja:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
											</div>
											<!--integer-number-->
											<input type="text"  class="form-control inputs" ng-model="consulta.numCaja" placeholder="">	
										</div>
									</div>
								</div>
							</div>				
							<div class="row">
								<div class="col-md-offset-4 col-md-2 col-xs-6 text-center" style="padding-top:5px;">
									<button class="btn btn-danger" ng-click="buscarCaja()">Buscar</button>
								</div>
								<div class="col-md-2 col-xs-6 text-center" style="padding-top:5px;">
									<button class="btn btn-danger" ng-click="activarModal()" data-toggle="modal" data-target="#modalNuevaCaja">Nueva</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<section ng-if="caja.length > 0" class="col-lg-12 connectedSortable">
				<div class="box box-danger">
					<div class="box-header col-md-12">
						<div class="col-md-6">
							<h3 class="box-title">Registros Encontrados: {{ (caja | filter:view.searchSomething).length }}</h3>
						</div>
						<div class="col-md-6 form-group">
							<div class="row">
								<div class="col-md-offset-5 col-md-6 col-xs-8">
					      			<div class="input-group pull-right">
					        			<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
										<div class="input-group-addon"><i class="fa fa-search"></i></div>
					     			</div>
					     		</div>
								<div  ng-show="caja.length > 0" class="col-md-1">
				     				<a ng-click="downloadReporte()">
										<span class="pull-right "><img src="static/dist/img/excel.png"></span>
									</a>
				     			</div> 
				     		</div>  
						</div>
					</div>
					<div class="box-body table-responsive">
						<table id="tabla_cajas" class="table table-hover header-fixed table-striped">
							<thead>
								<tr>
									<th sort order="'cajaCod'"     by="order" reverse="reverse">CAJA</th>
									<th sort order="'empNombre'"     by="order" reverse="reverse">USUARIO</th>
									<th sort order="'empPlaca'"     by="order" reverse="reverse">PLACA USUARIO</th>
									<th sort order="'empTipo'"     by="order" reverse="reverse">TIPO USUARIO</th>
									<th sort order="'deposito'"     by="order" reverse="reverse">DEPÓSITO</th>
									<th sort order="'cajaEstatus'"     by="order" reverse="reverse" colspan="2">ESTATUS CAJA / ACCIÓN</th>
<!-- 									<th>ACCIÓN</th> -->
								</tr>
							</thead>
							<tbody  >
								<tr	dir-paginate="cajaVO in caja | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage"><!-- pagination-id="cajasVO" -->
									<td class="center">
									<a data-toggle="modal" data-target="#modalCaja" ng-click="modalCaja(cajaVO)">{{cajaVO.cajaCod}}</a></td>
									
									<td class="wrap-text" ng-show="cajaVO.cajaEstatus=='Deshabilitada'">{{cajaVO.empNombre}}</td>
									<td class="wrap-text" ng-show="cajaVO.cajaEstatus=='Habilitada'"><a data-toggle="modal" data-target="#modalUsuario" ng-click="modalUsuario(cajaVO)">{{cajaVO.empNombre}}</a></td>
									
									
									<td class="center"> {{cajaVO.empPlaca}}</td>
									<td class="center"> {{cajaVO.empTipo}}</td>
									
									<td class="wrap-text" ng-show="cajaVO.cajaEstatus=='Deshabilitada'">{{cajaVO.deposito}}</td>
									<td class="wrap-text" ng-show="cajaVO.cajaEstatus=='Habilitada'"><a data-toggle="modal" data-target="#modalDeposito" ng-click="modalDeposito(cajaVO)"> {{cajaVO.deposito}}</a></td>
									
									
									<td class="center"> {{cajaVO.cajaEstatus}}</td>
									
									<td class="center" ng-show="cajaVO.cajaEstatus=='Deshabilitada'">
										<button type="button" class="btn btn-xs btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="bottom" title="Habilitar" ng-click="toggleCaja(cajaVO, true)">
										  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
										</button>
									</td>
									
									<td class="center" ng-show="cajaVO.cajaEstatus=='Habilitada'">
										<button type="button" class="btn btn-xs btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="bottom" title="Deshabilitar" ng-click="toggleCaja(cajaVO, false)">
										  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</td>
									
								</tr>
								<tr ng-if="(caja | filter:view.searchSomething).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
							</tbody>
						</table>
<!-- 						<dir-pagination-controls  pagination-id="cajasVO"></dir-pagination-controls> -->
					</div>
					<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="caja"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
				</div>
			</section>
		</div>
	</section>	
	<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="modalCaja" data-backdrop="static">
		<div class="modal-dialog modalContent" id="scrollModCaja" role="document">
			<div class="modal-content">
				<div class="modal-header  bg-red-active text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modificación de Caja</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Datos Generales</legend>
							<form name="formEditaCaja">
								<table class="table tblsnborder">
									<tr>
										<td><dt>Usuario Asignado:</dt></td>
										<td>{{cajaPorEditar.empNombre}}</td>
										<td><dt>Depósito Vehicular Asignado:</dt></td>
										<td>{{cajaPorEditar.deposito}}</td>
									</tr>
								</table>
								<div class="col-md-offset-3 col-md-6 form-group" 
								ng-class="{ 'has-error' : formEditaCaja.cajaCOOD.$invalid && !formEditaCaja.cajaCOOD.$pristine }">
									<label for="cajaCod">*Número de Caja:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-pencil"></span>
										</div>
										<input type="text" id="numCaja" integer-number maxlength="6" class="form-control inputs" ng-model="cajaCodPorEditar" name="cajaCOOD" ng-required="true" size="10" maxlength="9"/>
									</div>
									<div ng-show="formEditaCaja.cajaCOOD.$invalid && formEditaCaja.cajaCOOD.$dirty"
										ng-style="{color:'red'}">El número de caja es requerido</div>
								</div>
							</form>
						</fieldset>
					</div>
					<div class="table-responsive">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Folios</legend>
							<table id="tabla_folios" class="table table-hover">
								<thead>
									<tr >
										<th>TIPO DE FOLIO</th>
										<th>ÚLTIMO FOLIO EN SISTEMAS</th>
										<th>FOLIO REGISTRADO EN CAJAS</th>
										<th>ESTATUS</th>
									</tr>
								</thead>
								<tbody>
									<tr	dir-paginate="folio in foliosByCaja | itemsPerPage: 5" class="center" pagination-id="foliosVO">
										<td>{{folio.tipoFolio}}</td>
										<td class="center">{{folio.ultimoFolioSistema}}</td>
										<td class="center">{{folio.ultimoFolioCaja}}</td>
										<td>
										 <div class="col-md-8">
											{{getStatus(folio.ultimoFolioSistema,folio.ultimoFolioCaja)}}
										 </div>	
										 <div class="col-md-4">
											<button
												ng-show="getStatus(folio.ultimoFolioSistema,folio.ultimoFolioCaja)=='ERRONEO'"
												type="button" class="btn btn-xs btn-danger"
												aria-label="Left Align" data-toggle="tooltip"
												data-placement="bottom" title=" Empatar Folio"
												ng-click="empatarFolios(folio, cajaPorEditar.empId)">
												<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											</button>
										 </div> 
											 </button>
										</td>
									</tr>
								</tbody>
							</table>
							<dir-pagination-controls  pagination-id="foliosVO"></dir-pagination-controls>
						</fieldset>		
					</div>
					
					<div class="modal-footer">
				        <button type="button" class="btn btn-primary" ng-click="guardarCaja()">Guardar</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="modalUsuario" data-backdrop="static" >
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-red-active text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalNuevaCaja()"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Asignación de Usuario en Caja</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Datos Generales</legend>
							<table class="table tblsnborder">
								<tr>
									<td width="37%"><dt>Número de Caja:</dt></td>
									<td width="16%">{{cajaConsultada.cajaCod}}</td>
									<td width="22%"><dt>Estatus de Caja:</dt></td>
									<td width="25%">{{cajaConsultada.cajaEstatus}}</td>
								</tr>
								<tr>
									<td><dt>Usuario Asignado:</dt></td>
									<td colspan="2" align="left">{{cajaConsultada.empNombre}}</td>
								</tr>
								<tr>
									<td><dt>Depósito Vehicular Asignado:</dt></td>
									<td>{{cajaConsultada.deposito}}</td>
									<td><dt>Placa Usuario:</dt></td>
									<td>{{cajaConsultada.empPlaca}}</td>
								</tr>
								<tr>
									<td><dt>Perfil Usuario:</dt></td>
									<td>{{cajaConsultada.perfilNombre}}</td>
									<td><dt>Tipo Usuario:</dt></td>
									<td>{{cajaConsultada.empTipo}}</td>
								</tr>
							</table>
						</fieldset>
					</div>
					<div class="col-xs-12" ng-show="cajaIndispuestaPorOperaciones">
						<div class="alert alert-teclo">
						 	<strong>
						 	   La caja tiene operaciones en el día, por lo que se tendrá que realizar un corte de caja para poder acceder a esta funcionalidad
						 	</strong>
						</div>
						
					</div>
					<div class="table-responsive">	
						<fieldset class="scheduler-border" ng-show="!cajaIndispuestaPorOperaciones">
							<legend class="scheduler-border">Usuarios</legend>
							<div ng-show="tipoEdicionUsuario != 'A'"  >
								<label class="col-sm-offset-3 col-md-4"> <input
									type="radio" ng-model="tipoEdicionUsuario" value="E" class="labelRadio">
									Desasociar Usuario
								</label>
								<label class="col-md-4"> <input type="radio"
									ng-model="tipoEdicionUsuario" value="C" class="labelRadio"> Cambiar Usuario
								</label>
							</div>
							<br><br> 
							<div class="row centerCol" ng-show="tipoEdicionUsuario == 'A' || tipoEdicionUsuario == 'C'">
								<div class="col-xs-12 col-md-6">
									<form name="placaUsuario">
										<div class="form-group"
										ng-class="{'has-error': (placaUsuario.placa.$invalid && placaUsuario.placa.$dirty) }">
											<label>*Placa del Usuario:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<span class="fa fa-pencil"></span>
												</div>
												<input type="text" class="form-control"
													ng-model="empPlaca"
													ng-change="typePlacaDeEmpleado()"
													name="placa"
													ng-required="true"
													size="10" maxlength="11"/>
												<span class="input-group-btn">
													<button type="button" class="btn btn-danger btn-flat" ng-click="buscarPlacaPorCodigo()">Buscar</button>
												</span>
											</div>
											<div ng-if="values.viewMessage && !(placaUsuario.placa.$error.required && placaUsuario.placa.$dirty)" ng-style="{color:values.validColor}">{{values.validMessage}}</div>
											<div ng-if="placaUsuario.placa.$error.required && placaUsuario.placa.$dirty" ng-style="{color:values.validColor}">{{values.validMessage}}</div>
<!-- 											<div -->
<!-- 											ng-show="placaUsuario.placa.$invalid && placaUsuario.placa.$dirty" -->
<!-- 											ng-style="{color:'red'}">La placa del usuario es requerida</div> -->
										</div>
									</form>
								</div>
							</div>
							<div class="row" ng-show="empleado.length>0 && (tipoEdicionUsuario == 'A' || tipoEdicionUsuario == 'C')">
								<div class="col-xs-12">
									<div class="box box-danger">
										<div class="box-header">
											<h3 class="box-title">Usuario Encontrado</h3>
										</div>
									
										<div class="box-body">
											<table class="table table-hover">
												<tr>
													<td><dt>PLACA</dt></td>
													<td><dt>NOMBRE</dt></td>
													<td><dt>DEPÓSITO</dt></td>
													<td><dt>CAJA</dt></td>
													<td><dt>PERFIL</dt></td>
													<td><dt>TIPO USUARIO</dt></td>
													<td ng-show="isDerechoCobro"><dt>Derecho Cobro</dt></td>
												</tr>
												<tr dir-paginate="empleado in empleado | itemsPerPage: 1" pagination-id="empleadoVO">
													<td><dt>{{empleado.empPlaca}}</dt></td>
													<td><dt>{{empleado.empNombre}}</dt></td>
													<td><dt>{{empleado.depNombre}}</dt></td>
													<td><dt>{{empleado.cajaCod}}</dt></td>
													<td><dt>{{empleado.perfilNombre}}</dt></td>
													<td><dt>{{empleado.tipoEmpleado}}</dt></td>
													<td ng-show="isDerechoCobro">
														<label> 
															<input type="radio" ng-model="puedeCobrar" value="S" class="labelRadio"> Si
														</label>
														<label> 
															<input type="radio" ng-model="puedeCobrar" value="N" class="labelRadio"> No
														</label>
													</td>
												</tr>
												<tr ng-show="indispuestoPorOperaciones">
													<td colspan="7">
														<div class="alert alert-teclo">
														<strong>La caja que tiene el usuario buscado, cuenta con operaciones en el día. 
	                    								por lo que se tendrá que realizar un corte de caja para poder utilizar a éste usuario.
	                    								</strong>
	                    								</div>
													</td>
												</tr>
											</table>
											<dir-pagination-controls  pagination-id="empleadoVO"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
							<!-- {{empleado}}
							{{adminCajaUsuario}}  -->
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary" ng-click="guardarUsuario()" ng-show="!cajaIndispuestaPorOperaciones && !indispuestoPorOperaciones" >Guardar</button>
			    </div>
			</div>
		</div>
	</div>
		
	<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="modalDeposito"  data-backdrop="static">
		<div class="modal-dialog modalContent" id="scrollModDeposito" role="document">
			<div class="modal-content">
				<div class="modal-header bg-red-active text-center"">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Asignación de Depósito en Caja</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Datos Generales</legend>
							<table class="table tblsnborder">
								<tr>
									<td width="37%"><dt>Número de Caja:</dt></td>
									<td width="16%">{{cajaConsultada.cajaCod}}</td>
									<td width="22%"><dt>Estatus de Caja:</dt></td>
									<td width="25%">{{cajaConsultada.cajaEstatus}}</td>
								</tr>
								<tr>
									<td><dt>Usuario Asignado:</dt></td>
									<td colspan="2" align="left">{{cajaConsultada.empNombre}}</td>
								</tr>
								<tr>
									<td><dt>Depósito Vehicular Asignado:</dt></td>
									<td>{{cajaConsultada.deposito}}</td>
								</tr>

							</table>
						</fieldset>
					</div>
					<div class="col-xs-12" ng-show="cajaIndispuestaPorOperaciones">
					<div class="alert alert-teclo">
						<strong> La caja tiene operaciones en el día, por lo que
							se tendrá que realizar un corte de caja para poder acceder a
							esta funcionalidad </strong>
					</div>

				</div>
					<fieldset class="scheduler-border" ng-show="!cajaIndispuestaPorOperaciones">
						<legend class="scheduler-border">Depósito Vehicular</legend>
						<div class="row">
						<div class="col-sm-offset-1 col-md-5 ng-show="tipoEdicionDeposito != 'A'">
							<label labelRadio"> 
								<input type="radio" ng-model="tipoEdicionDeposito" value="E"> Desasociar Depósito 
							</label>
						</div>
						<div class="col-sm-offset-1 col-md-5 ng-show="tipoEdicionDeposito != 'A'">
							<label labelRadio"> 
								<input type="radio" ng-model="tipoEdicionDeposito" value="C"> Cambiar Depósito
							</label>
						</div>
						
						</div>
						<div class="row">
						<div class="centerCol col-sm-offset-2 col-md-8" ng-show="tipoEdicionDeposito == 'A' || tipoEdicionDeposito == 'C'">
								<form name="depositoVeh">
									<div class="form-group" 
									ng-class="{'has-error': depositoVeh.depto.$invalid && depositoVeh.depto.$dirty}">
										<label>*Depósito Vehicular:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-pencil"></span>
											</div>
											<select class="form-control inputs"
												ng-options="depo.depId as depo.depNombre for depo in catalogoDepositoEdicion"
												style="width:100%"
												ng-model="cajaConsultada.intDepId"
												name="depto"
												ng-required="true">
												<option value="">Seleccione</option>
											</select>
										</div>
										<div
											ng-show="depositoVeh.depto.$invalid && depositoVeh.depto.$dirty"
											ng-style="{color:'red'}">El depósito vehicular es requerido</div>
										
									</div>
								</form>
						</div>
					</div>
					</fieldset>
				</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary" ng-click="guardarDeposito()" ng-show="!cajaIndispuestaPorOperaciones">Guardar</button>
			    </div>
			</div>
		</div>
	</div>
		
	<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="modalNuevaCaja" data-backdrop="static">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header  bg-red-active text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalNuevaCaja()"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Nueva Caja</h4>
				</div>
				<div class="modal-body">
					<fieldset class="scheduler-border">
					<legend class="scheduler-border">Datos Generales</legend>
						<form role="form" name="nuevaCajaForm">
							<div class="form-group"
								ng-class="{'has-error': nuevaCajaForm.cajaNum.$invalid && nuevaCajaForm.cajaNum.$dirty}">
								<label>*Número de Caja: </label>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-sort-numeric-asc" aria-hidden="true"></span>
									</div>
									<input type="text" integer-number ng-required="true" size="6" maxlength="9"
									class="form-control inputs" ng-model="nuevaCaja.numCaja" name="cajaNum">
								</div>
								<div ng-if="nuevaCajaForm.cajaNum.$invalid && nuevaCajaForm.cajaNum.$dirty"
									ng-style="{color:'red'}">El número de caja es requerido</div>
							</div>	
							<div class="form-group">
								<label class="labelCheck">
									<input type=checkbox ng-model="nuevaCaja.asignaDeposito" value="false">&nbsp;Asignar Depósito Vehicular
								</label>
							</div>
							<div class="form-group" ng-class="{'has-error': nuevaCajaForm.asignardeposito.$invalid && nuevaCajaForm.asignardeposito.$dirty}" ng-if="nuevaCaja.asignaDeposito">
								<label>*Depósito Vehicular:</label>
								<div class="input-group fullWidth">
									<select class="form-control inputs" name="asignardeposito"
									ng-options="depo.depId as depo.depNombre for depo in catalogoDepositoEdicion"
									ng-model="nuevaCaja.intDepId" ng-required="nuevaCaja.asignaDeposito">
										<option value="">Seleccione</option>
									</select>
								</div>
								<div ng-if="nuevaCajaForm.asignardeposito.$invalid && nuevaCajaForm.asignardeposito.$dirty"
									ng-style="{color:'red'}">El depósito vehicular es requerido</div>
							</div>
						</form>
					</fieldset>
				</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary" ng-click="guardarNuevaCaja()"  >Guardar </button>
			    </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#scrollModCaja').slimScroll({
				height: '100%',
		        color: '#abb2b9',
		        opacity: .7,
		        size: "7px",
		        alwaysVisible: false,
		        allowPageScroll : true
	    	});
	    	
	    	$('#scrollModDeposito').slimScroll({
				height: '100%',
		        color: '#abb2b9',
		        opacity: .7,
		        size: "7px",
		        alwaysVisible: false,
		        allowPageScroll : true
	    	});
		});
	</script>
</body>
</html>
