<html>
<head>
<meta charset="utf-8">
<title>Operaciones Extemporaneas</title>
</head>
<body>
	<section class="content-header">
		<h1>Localización GPS</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Administración</a></li>
			<li class="active">Localización GPS</li>
		</ol>
	</section>
	<section class="content">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="box box-danger">
				<div class="box-body">
					<div class="row">
						<iframe class="mainContent" src="http://172.40.27.20/index.php?m=login&c=default"
							style="width:100%; height: 100%; min-height: 40vh;"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>
</html>