<html>
<head>
<meta charset="utf-8">
<title>Desbloqueo Handheld</title>
</head>
<body>
	<section class="content-header">
		<h1>Desbloqueo Handheld</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i> Bloqueo Hand Held</a></li>
			<li class="active">Desbloqueo</li>
		</ol>
	</section>


	<!-- Main content -->
	<section class="content">
		<form role="form" name="busq">

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">

					<!-- Datos Del Infractor -->
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>

						</div>

						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">

								<div class="col-md-6">

									<div class="form-group">
										<label>Placa Oficial:</label>
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-star"></i>
											</div>
											<input type="text" class="form-control pull-right"
												id="placaOficial" ng-model="bloqueohhVO.placaOficial">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group"
										ng-class="{'has-error': busq.param.$invalid && busq.param.$dirty}">
										<label>Serie Handheld: </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-barcode"></i></span> <input type="text" 
												class="form-control" id="seriehh"
												ng-model="bloqueohhVO.numeroSeriehh"> <span
												class="input-group-btn">
												
											</span>
										</div>
										<div ng-show="busq.param.$invalid && busq.param.$dirty"
											ng-style="{color:'red'}">El parámetro de búsqueda es
											requerido</div>
									</div>
								</div>
								<div class="col-md-12" align="center">
									<button type="button" class="btn bg-red-active"
										id="btnBuscarInfraccion"
										ng-click="consultaHandHeldBloqueados(bloqueohhVO)">Buscar</button>

								</div>
							</div>


							<!-- /.col -->
						</div>
					</div>
					<!-- /.row -->

				</div>
 			</div>



			<div class="row" id="listaInfracciones"	ng-if="listaBloqueohhVO.length > 0 ">
				<div class="col-md-12">

					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title  text-center">Registros Encontrados:
									{{ (listaBloqueohhVO | filter:view.searchSomething).length }}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10" style="margin-top: 5px; margin-bottom: 5px;">
								<div class="input-group pull-right">
									<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
								<div class="input-group-addon">
									<i class="fa fa-search"></i>
								</div>
							</div>
						</div>
						  
						<!-- /.box-header -->
						<div class="box-body">
							<div class="col-xs-12 table-responsive">
								<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
									<thead>
										<tr>
											<th sort order="'numeroSeriehh'" by="order" reverse="reverse" class="text-center">SERIE HANDHELD </th>
											<th sort order="'nombreOficial'" by="order" reverse="reverse" class="text-center">NOMBRE OFICIAL</th>
											<th sort order="'placaOficial'" by="order" reverse="reverse" class="text-center">PLACA OFICIAL</th>
											<th sort order="'bloqueohhCatTipoBloqueo.descripcion'" by="order" reverse="reverse" class="text-center">TIPO DE BLOQUEO</th>
											<th sort order="'fechaBloqueoOrder'" by="order" reverse="reverse" class="text-center">FECHA DE BLOQUEO</th>
											<th  class="text-center">ACCION</th>

										</tr>
									</thead>
									<tbody>
										<tr ng-if="(listaBloqueohhVO | filter:view.searchSomething).length < 1"><td colspan="6" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
										<tr
											dir-paginate="bloquehoVO in listaBloqueohhVO | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
											<td class="text-center">{{bloquehoVO.numeroSeriehh}}</td>
											<td>{{bloquehoVO.nombreOficial}}</td>
											<td class="center">{{bloquehoVO.placaOficial}}</td>
											<td class="center">{{bloquehoVO.bloqueohhCatTipoBloqueo.descripcion}}</td>
											<td class="center">{{bloquehoVO.fechaBloqueo}}</td>
											<td class="center">
												<a href="#/desbloqueoHandHeld" ng-click="eliminarRegistro($index, bloquehoVO)">
													<span>
														<img src="static/dist/img/candado-desbloqueado-red.png"
														data-toggle="tooltip" data-placement="top" title="Desbloqueo de Hand Held">
													</span>
												</a>
											</td>

										</tr>

									</tbody>
								</table>
							</div>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="listaBloqueohhVO"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			</div>
		</form>
	</section>
	<!-- /.content -->
 

</body>
</html>