
<form name="busqueda" novalidate role="form">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6" ng-repeat="a in array track by $index">
				<div class="form-group" ng-if="a.componente.cdComponente == 'INP'">
					<label>{{a.nbParametro}}</label>
					<div class="input-group">
						<div class="input-group-addon labelCheck">
							<i class="fa fa-user"></i>
						</div>
						<input class="form-control" ng-model="a.txValor" id="a.cdParametro" name="a.cdParametro">
					</div>
				</div>
				<div class="form-group" ng-if="a.componente.cdComponente == 'FH'">
					<label>{{a.nbParametro}}</label>
					<div class="input-group">
						<div class="input-group-addon labelCheck">
							<i class="fa fa-user"></i>
						</div>
						<input class="form-control inputFecha" id="a.cdParametro" date-picker  name="a.cdParametro"
							ng-model="a.txValor" readonly />
							<!-- date-picker -->
					</div>
				</div>
				<div class="form-group" ng-if="a.componente.cdComponente == 'FHT'">
					<label>{{a.nbParametro}}</label>
					<div class="input-group">
						<div class="input-group-addon labelCheck">
							<i class="fa fa-user"></i>
						</div>
						<input class="form-control inputFecha" id="a.cdParametro" datetime-picker name="a.cdParametro"
							options="dateTimePickerOptions"
							ng-model="a.txValor" readonly />
					</div>
				</div>
			</div>
		</div>
	</div>
</form>