<html>
<head>
<meta charset="utf-8">
<title>Ingreso a deposito</title>
</head>
<body>
	<section class="content-header">
		<h1>Ingreso a Depósito</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-safari"></i>Remisión a Depósito</a></li>
			<li class="active">Con Infracción</li>
		</ol>

	</section>
	
	<section class="content" ng-if="validar.message">
		<div class="row col-md-8 col-md-offset-2 center">
			<div class="alert alert-teclo  alert-dismissable">
<!-- 				<button type="button" class="close" data-dismiss="alert">×</button> -->
				<strong class="mensajeAutorizacion">{{validar.message}}</strong>
			</div>
		</div>
	</section>
	
   <section class="content" ng-if="validar.viewForm">         
    	<form name="forms.formConInfraccion" role="form" novalidate>
	       	<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
				                    <div class="form-group">
				                        <div class="input-group date">
					                        <div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
					                        <select class="form-control" name="opcion" id="opcion" style="width: 100%;"
					                        ng-options="tiposum.valor as tiposum.descripcion for tiposum in opcionInfraccion"
													ng-model="conInfraccionVO.opcion">
											</select>	
										</div>
				                    </div>
                 				</div>
	                 
	                 
	
			                  	<div class="col-md-6">
			                    	<div class="form-group" ng-class="{'has-error': forms.formConInfraccion.valor.$invalid && forms.formConInfraccion.valor.$dirty}"  ng-style="{color:validColor}">
				                    	<div class="input-group date">
				                    		<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
													
					                     	<input type="text" name="valor" ng-model="conInfraccionVO.valor" ng-required="true" class="form-control" capitalize></input>
					                        <span class="input-group-btn">
					                        	<button type="button" ng-click="consultarOpcion(conInfraccionVO.opcion,conInfraccionVO.valor)" class="btn btn-danger btn-flat">Buscar</button>
				                        	</span>
				                        </div>
			                       		<div ng-if="forms.formConInfraccion.valor.$error.required && forms.formConInfraccion.valor.$dirty"
											ng-style="{color:'red'}">El valor es requerido</div>
			                    	</div>
			                  	</div>
	           		 		</div>
	       				</div>
	  				</div>
	   			</div>	
			</div>
             
 	<div class="row" ng-if="datosInfra.length > 0">
    	<div class="col-xs-12">           
       		<div class="box box-danger">
         		<div class="box-header row">
					<div class="col-md-6 col-xs-12">
						<h3 class="box-title">
							Resultados Encontrados: {{ (datosInfra | filter:view.searchSomething).length }}
						</h3>
					</div>
										      						
		      		<div class="col-md-offset-3 col-md-3 col-xs-10">
		      			<div class="input-group">
					        <input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
			      		</div>      
				 	</div>
		      														
				</div>
  					<div class="box-body table-responsive">
						<table id="tabla_oficiales" class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th>NCI</th>
									<th class="center">NO. INFRACCIÓN/<br>NO. DOCUMENTO</th>
									<th class="center">FECHA</th>
									<th class="center">NO. PLACA</th>
									<th class="center">MARCA</th>
									<th class="center">MODELO</th>
									<th class="center">COLOR</th>
									<th class="center">INFRACTOR</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="(datosInfra | filter:view.searchSomething).length < 1"><td colspan="8" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								<tr dir-paginate="datoInfra in datosInfra |  filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
								    <span ng-if="checked" class="animate-if">
									<td><a href="#/updIngresoDeposito/{{datoInfra.t_nci}}">{{datoInfra.t_nci}}</a></td>
									<td align="center">{{datoInfra.t_infrac_mostrar}}</td>
									<td align="center">{{datoInfra.t_fecha}}</td>
									<td align="center">{{datoInfra.t_placa}}</td>
									<td align="center">{{datoInfra.t_marca}}</td>
									<td align="center">{{datoInfra.t_modelo}}</td>
									<td align="center">{{datoInfra.t_color}}</td>
									<td align="center">{{datoInfra.t_infractor}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="container-fluid">
						<div class="fixed-table-pagination" style="display:block;">
							<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="datosInfra"></rows-per-page>
							
							<div class="pull-right pagination">
								<dir-pagination-controls class="pagination"></dir-pagination-controls>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
  	</form>
  </section>
<body>
</html>