<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ingreso a depósito</title>
</head>
<body>
	<section class="content-header">
		<h1>Ingreso de Vehículo</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-user-times tool"></i>Remisión a Depósito</a></li>
			<li class="active">Por Traslado</li>
		</ol>
	</section>
	
	<section class="content">
		<form name="forms.formIngreso" role="form" novalidate>
			<div class="row">
				<section class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Ingreso de vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
			                 			<label>No. Control Interno:</label>
			                 			<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
											<input type="text" ng-model="ingresoInfracVO.ingrNumCtrl" class="form-control" ng-disabled="true" capitalize></input>
			                       		</div>
			                       	</div>
			                	</div>
				              <div class="col-md-6">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.origen.$invalid && forms.formIngreso.origen.$dirty}">
			                      		<label>Depósito Origen:</label>
			                       		<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
						      			<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.depositoOrigen" class="form-control" maxlength="18" capitalize></input>
									   </div>
									   
									   <div ng-if="forms.formIngreso.origen.$error.required && forms.formIngreso.origen.$dirty"
											ng-style="{color:'red'}">El depósito origen es requerido</div>
					                </div>
	                  			</div>
                  				<div class="col-md-6 col-xs-12">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.nvehiculo.$invalid && forms.formIngreso.nvehiculo.$dirty}">
			                      		<label>Folio de Infracción:</label>
			                      		<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.infracNum" class="form-control" maxlength="18" capitalize></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.nvehiculo.$error.required && forms.formIngreso.nvehiculo.$dirty"
											ng-style="{color:'red'}">El no. serie de vehículo es requerido</div>
				                    </div>
				                </div>
				                <div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.folio.$invalid && forms.formIngreso.folio.$dirty}">
		                      			<label>Folio de Boleta Impresa:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
		                       				<input type="text" ng-disabled="true" name="folio" ng-model="ingresoInfracVO.folioBoletaPreImpresa" class="form-control" capitalize></input>
		                      			</div>
		                      			<div ng-if="forms.formIngreso.folio.$error.required && forms.formIngreso.folio.$dirty"
											ng-style="{color:'red'}">El folio de boleta impresa es requerido</div>
		                    		</div>
	                			</div>
				                 	<div class="col-md-6 col-xs-12">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.nvehiculo.$invalid && forms.formIngreso.nvehiculo.$dirty}">
			                      		<label>Fecha de Salida del Depósito Origen:</label>
			                      		<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.fechaSalidaVehiculo | date:'dd/MM/yyyy HH:mm:ss ' " class="form-control" maxlength="18" capitalize></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.nvehiculo.$error.required && forms.formIngreso.nvehiculo.$dirty"
											ng-style="{color:'red'}">El no. serie de vehículo es requerido</div>
				                    </div>
				                </div>
							</div>
						</div>
					</div>
					
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Inventario del Vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div ng-repeat="inven in listInventario">
					              	<div class="col-xs-12 col-sm-4" ng-if="inven.comp_cod <= 6" >                 
					               		<label for="{{inven.comp_cod}}"><input id="{{inven.comp_cod}}" type="checkbox" checklist-model="ingresoInfracVO.valorInv.listInventario" 
													checklist-value="inven.comp_cod" checklist-change="imChanged()" >
										{{inven.comp_nombre}}</label>                   
					              	</div>
			                  
					            	<div class="col-xs-12 col-sm-4"  ng-if="inven.comp_cod >= 7">
						               	<label for="{{inven.comp_cod}}cod"><input id="{{inven.comp_cod}}cod" type="checkbox" checklist-model="ingresoInfracVO.valorInv.listInventario" 
													checklist-value="inven.comp_cod" checklist-change="imChanged()" >
										{{inven.comp_nombre}}</label> 
						        	</div>
			              		</div>
			              		<div class="col-xs-12">
			              			<div class="box-header with-border text-center">
		                        		<h3 class="box-title">Comentarios</h3>
		                			</div>
		                			
		                			<div class="col-xs-12">
		                   				<textarea class="form-control" rows="5" name="comentarios" ng-model="ingresoInfracVO.infracOservacion" capitalize style="resize:none;" maxlength="200"></textarea>
		                			</div>
			              		</div>
							</div>
						</div>
					</div>
				</section>
				
				<section class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Datos del Vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6 col-xs-12">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.nvehiculo.$invalid && forms.formIngreso.nvehiculo.$dirty}">
			                      		<label>Placa del Vehículo:</label>
			                      		<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.numPlacaVehiculo" class="form-control" maxlength="18" capitalize></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.nvehiculo.$error.required && forms.formIngreso.nvehiculo.$dirty"
											ng-style="{color:'red'}">El no. serie de vehículo es requerido</div>
				                    </div>
				                </div>
				                <div class="col-md-6 col-xs-12">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.nvehiculo.$invalid && forms.formIngreso.nvehiculo.$dirty}">
			                      		<label>No. Serie:</label>
			                      		<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.numSerie" class="form-control" maxlength="18" capitalize></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.nvehiculo.$error.required && forms.formIngreso.nvehiculo.$dirty"
											ng-style="{color:'red'}">El no. serie de vehículo es requerido</div>
				                    </div>
				                </div>
									
							</div>
						</div>
					</div>
				</section>
				<section class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Datos del Ingreso</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.causa.$invalid && forms.formIngreso.causa.$dirty}">
	                      				<label>Causa de Ingreso:</label>
			                       		<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
											<input ng-disabled="true" type="text" name="causa" ng-model="listCausa.causa_nombre" class="form-control"  capitalize/>
										</div>
										<div ng-if="forms.formIngreso.causa.$error.required && forms.formIngreso.causa.$dirty"
											ng-style="{color:'red'}">La causa de ingreso es requerida</div>
				                	</div>
		                  		</div>
		                  		<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.operativo.$invalid && forms.formIngreso.operativo.$dirty}">
		                      			<label>Número de Resguardo:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
			                     			<input ng-disabled="true" type="text" name="nvehiculo" ng-model="ingresoInfracVO.numResguardo" class="form-control" maxlength="18" capitalize></input>
									    </div>			
		                      	
		                      			<div ng-if="forms.formIngreso.operativo.$error.required && forms.formIngreso.operativo.$dirty"
											ng-style="{color:'red'}">El operativo es requerido</div>
		                    		</div>
	                			</div>
	                	
	                  			</div>
	                  			<div class="row">
	                			<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.medio.$invalid && forms.formIngreso.medio.$dirty}">
		                      			<label>*Medio de Transporte Entrada:</label>
		                  				<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
							                <select class="form-control" name="medio" id="medio" style="width: 100%;"
													ng-options="medioTrans.t_ingr_cod as medioTrans.t_ingr_nombre for medioTrans in listMedios"
													ng-model="ingresoInfracVO.t_ingr_id" ng-change="cambioMedioTransporte()" ng-required="true">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>
										    
										<div ng-if="forms.formIngreso.medio.$error.required && forms.formIngreso.medio.$dirty"
											ng-style="{color:'red'}">El medio de transporte entrada es requerido</div>
				                	</div>
                  				</div>
                  				<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.econo.$invalid && forms.formIngreso.econo.$dirty}">
			                      		<label>*No. Económico:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
		                        			<input type="text" name="econo" class="form-control" ng-model="valorUpdIngreso.codGrua" ng-required="true"></input>
		                   				</div>
		                      			<div ng-if="forms.formIngreso.econo.$error.required && forms.formIngreso.econo.$dirty"
											ng-style="{color:'red'}">El no. económico es requerido</div>
		                    		</div>
	               				</div>
	               				</div>
	               				<div class="row">
<!-- 	               					<div class="col-md-6"> -->
<!--                                      <div class="form-group" ng-class="{'has-error': forms.formIngreso.v_sellado.$invalid && forms.formIngreso.v_sellado.$dirty}"> -->
<!--                                      	<label>Vehículo Sellado en:</label> -->
<!--                                       	<div class="input-group"> -->
<!--                                         	<div class="radio-inline text-center"> -->
<!-- 												<label> -->
<!-- 													<input ng-disabled="true" type="radio" ng-model="ingresoInfracVO.v_sellado" name="v_sellado" value="D" />Depósito -->
<!-- 												</label> -->
<!-- 											</div> -->
<!--                                             <div class="radio-inline"> -->
<!-- 												<label> -->
<!-- 													<input ng-disabled="true" type="radio" ng-model="ingresoInfracVO.v_sellado" name="v_sellado" value="A" />Arrastre -->
<!-- 												</label> -->
<!--                                           	</div>                            -->
<!--                      					</div> -->
<!--                                        	<div ng-if="forms.formIngreso.v_sellado.$error.required && forms.formIngreso.v_sellado.$dirty" -->
<!-- 											ng-style="{color:'red'}">La valoración vehículo sellado es requerido</div> -->
<!-- 	            			 		</div> -->
<!-- 	            			 	</div> -->
<!-- 	            			 	<div class="col-md-6"> -->
<!--                                 	<div class="form-group" ng-class="{'has-error': forms.formIngreso.v_cajuela.$invalid && forms.formIngreso.v_cajuela.$dirty}"> -->
<!--                                     	<label>Cajuela Abierta:</label> -->
<!--                                         <div class="input-group"> -->
<!--                                         	<div class="radio-inline"> -->
<!-- 												<label> -->
<!-- 													<input ng-disabled="true" type="radio" ng-model="ingresoInfracVO.v_cajuela" name="v_cajuela"  value="S" />SÍ -->
<!-- 												</label> -->
<!--                                             </div> -->

<!--                                             <div class="radio-inline text-center"> -->
<!-- 												<label> -->
<!-- 													<input ng-disabled="true" type="radio" ng-model="ingresoInfracVO.v_cajuela" name="v_cajuela" value="N" />NO -->
<!-- 												</label> -->
<!--                                             </div> -->
<!--                                    		</div> -->
<!--                                         <div ng-if="forms.formIngreso.v_cajuela.$error.required && forms.formIngreso.v_cajuela.$dirty" -->
<!-- 											ng-style="{color:'red'}">La valoración cajuela abierta es requerido</div> -->
<!-- 	            			 		</div> -->
<!-- 	            				</div> -->
	            				</div>
	            				<div class="row">
	               				<div class="col-xs-12" >	
									<div class="form-group">						
										<fieldset>
											<legend>Datos del Oficial</legend>
												<div class="table-responsive">   
			                                  		<table class="table tblsnborder">
			                                            <tr>
			                                                <td><label>Nombre:</label></td>
			                                                <td>{{datosAuxiliar.nombre_comp}} </td>
			                                              
			                                            </tr>
			                                          	<tr>
			                                            	<td><label>Sector:</label></td>
			                                            	<td>{{datosAuxiliar.sec_nombre}} </td>
			                                            	<td><label>Agrupamiento:</label></td>
			                                            	<td>{{datosAuxiliar.agrp_nombre}}</td>
			                                        	</tr>
			                                  		</table>
			                         			</div>
								  		</fieldset>
							  		</div>
				  				</div>
				  				</div>
							</div>
						</div>
					</section>
					<section class="col-md-6 connectedSortable">
				
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Carga de archivos </h3>
						</div>
						
					<div class="box-body">
						<div class="row"> 
							<div class="col-md-12 col-xs-12">				
							<div class="form-group" ng-class="{'has-error': forms.formIngreso.imgFile.$invalid && forms.formIngreso.imgFile.$dirty || flagInputFileView } ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-file-text"></i>
									</div>
								<input class="form-control inputFile" disabled value="{{nombreArchivo}}">
									<span class="input-group-btn">
										<label class="btn btn-danger btn-flat" for="file">
											<input type="file" name="file" id="file" ng-model="files" class="inputFileSalidaVeh" data-multiple-caption="{count} archivos seleccionados" on-change="listenerForImg" accept="image/*" multiple  base-sixty-four-input validEmpty="1">
											<i class="fa fa-upload" style="color:white;"></i>
										</label>
									</span>
								</div>
								
								<div ng-show="flagInputFileView" ng-style="{color:'red'}">La evidencia es requerida</div>
                  			</div>
							</div>
							<div class="col-sm-3"></div>
						</div>
					</div>
				</div>
					
			</section>
				<section class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 text-center">
              				<button type="button" ng-click="guardarVOIngresoTraslado()" class="btn btn-danger">Guardar</button>
           				</div>
					</div>
				</section>
			</div>
		</form>
		
		<div class="row" ng-if="viewResultado">           
        	<div class="col-md-6 col-md-offset-3">
          		<div class="box box-danger"> 
          			<div class="box-header with-border" align="center">
                        <h3 class="box-title">Resultado de la Operación</h3>
                	</div>          
            		<div class="box-body">
            			<div class="row">
		                  	<div class="col-xs-5">
		                    	<div class="form-group">
		                  		 	<label>Número de Proceso: </label> 
		                    	</div>
		                  	</div>
                  
                  			<div class="col-xs-5">
                    			<div class="form-group">
                    				{{respuesta.resultado}}
			                    </div>
            		      	</div>
                		</div>
                
                 		<div class="row">
                  			<div class="col-xs-5">
                    			<div class="form-group" >
                  		 			<label>Resultado del Ingreso: </label>
                    			</div>
                  			</div>
                  
                  			<div class="col-xs-5">
                    			<div class="form-group">
                     				{{respuesta.mensaje}}
                    			</div>
                  			</div>
               			</div>

						<div class="row text-center">
							<div class="col-md-6 col-xs-12">
 								<button type="button" ng-click="imprimeRecibo_res()" class="btn btn-danger">Imprimir Resguardo</button>
							</div>
							<div class="col-md-6 col-xs-12"></div>
							<div class="col-md-6 col-xs-12">
								<button type="button" ng-click="imprimeRecibo_arra()" class="btn btn-danger">Imprimir Arrastre</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>