<html>
<head>
<meta charset="utf-8">
<title>Traslado Vehículo en Curso</title>
</head>
<body>

	<section class="content-header">
		<h1>Por Traslado</h1>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-book"></i>Remisión a Depósito</a></li>
			<li class="active">Por Traslado</li>
		</ol>
	</section>
	<section class="content"  ng-show="validarPerfilMsg">
		<div class="row col-md-8 col-md-offset-2">
			<div class="alert alert-teclo  alert-dismissable text-center">
				<strong class="mensajeAutorizacion">{{perfilValida}}</strong>
			</div>
		</div>
	</section>

	<!-- Main content -->
	<section class="content" ng-show="validarPerfilView">
		<form role="form" name="consultaVehTraslado">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">				
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Búsqueda</h3>
						</div>						
						<div class="box-body">									
							<div class="row" >							
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': consultaVehTraslado.tipoBusqueda.$invalid && consultaVehTraslado.tipoBusqueda.$dirty}">
										<div class="input-group date">
											<div class="input-group-addon">
												<i class="fa fa-tachometer"></i>
											</div>
											<select ng-change="accionClean()" ng-required="true" ng-model="param.tipoBusq" class="form-control select2" 
												name="tipoBusqueda" 
												ng-options='option.codigoString as option.descripcion for option in comboTipoBusq'>
											</select>
										</div>
										<span ng-show="consultaVehTraslado.tipoBusqueda.$error.required && consultaVehTraslado.tipoBusqueda.$dirty"
												ng-style="{color:'red'}">El tipo búsqueda es requerido</span>
									</div>
								</div>								
								<div class="col-md-6">
											<div class="form-group" ng-class="{'has-error': consultaVehTraslado.valorBusq.$invalid && consultaVehTraslado.valorBusq.$dirty}">
												<div class="input-group date" >
													<div class="input-group-addon">
														<i class="fa fa-pencil"></i>
													</div>
													
													<input type="text" name="valorBusq" ng-model="param.datoBusq"  ng-maxlength="30" ng-required="true"  class="form-control"></input>
													<span class="input-group-btn"><button type="button" id="valorBys" ng-disabled="btnHidden" 
 													ng-click="buscarTraslado()"
													class="btn btn-danger btn-flat">Buscar</button>	</span>
												</div>
												<div>
													<div 
														ng-show="consultaVehTraslado.valorBusq.$error.required &&  consultaVehTraslado.valorBusq.$dirty "
														ng-style="{color:'red'}">El campo es requerido</div>
												</div>
	                     					</div>
								   </div>
<!-- 								<div class="col-md-6"> -->
<!-- 									<div class="form-group" ng-class="{'has-error': consultaVehTraslado.valorBusq.$invalid && consultaVehTraslado.valorBusq.$dirty}" > -->
<!-- 											<label for="fechaConsulta">Valor Búsqueda:</label> -->
<!-- 											<div class="input-group date"> -->
<!-- 												<div class="input-group-addon"> -->
<!-- 													<i class="fa fa-pencil"></i> -->
<!-- 												</div> -->
<!-- 												<input   ng-required="true" class="form-control select2" name="valorBusq" ng-model="param.datoBusq" />												 -->
<!-- 											</div> -->
<!-- 											<span ng-show="consultaVehTraslado.valorBusq.$error.required &&  consultaVehTraslado.valorBusq.$dirty " -->
<!-- 													ng-style="{color:'red'}">El valor búsqueda es requerido</span> -->
<!-- 									</div> -->
<!-- 								</div>													 -->
							</div>		
						</div>						
					</div>
				</div>
			</div>	
				
			<div class="col-md-4"></div>
			<div class="row" ng-if="trasladoVO.length > 0">
				<div class="col-xs-12">
					<div class="box box-danger">					
						<div class="box-header">
							<div class="col-md-12">
								<div class="col-md-6 col-xs-12">
									<h3 class="box-title">Registros Encontrados: {{ (trasladoVO | filter:view.searchSomething).length }}</h3>	
								</div>
								<div class="col-md-offset-3 col-md-3 col-xs-10">
									<div class="input-group">
										<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
									</div>
								</div>
							</div>
						</div>						
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover header-fixed">
								<thead>
									<tr>						 
										<th class="wrap-text">NCI</th>
										<th class="center">NO.INFRACCIÓN</th>
										<th class="wrap-text">NO. PLACA</th>
										<th class="wrap-text">MARCA</th>
										<th class="wrap-text">MODELO</th>
										<th class="wrap-text">FECHA SALIDA ORIGEN</th>
										<th class="wrap-text">DEPÓSITO ORIGEN</th>
										<th class="wrap-text">DEPÓSITO DESTINO</th>
										
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="salidaList in trasladoVO | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
										<td class="wrap-text"  ><a data-toggle="tooltip" data-placement="top" title="Dar Ingreso" href="#/ingresoTrasladoVehiculo/{{salidaList.infracNum}}">{{salidaList.ingrNumCtrl}}</a></td>
										<td class="center">{{salidaList.infracNum}}</td>
										<td class="center">{{salidaList.numPlacaVehiculo}}</td>
										<td class="center">{{salidaList.marcaVehiculo}}</td>
										<td class="center">{{salidaList.modeloVehiculo}}</td>
										<td class="center">{{salidaList.fechaSalidaVehiculo | date:'dd/MM/yyyy  HH:mm:ss'}}</td>
										<td class="center">{{salidaList.depositoDestino}}</td>
										<td class="center">{{salidaList.depositoOrigen}}</td>
										
										
									</tr>
									<tr ng-if="( salidasVO | filter:view.searchSomething).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="salidasVO"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
		
	</section>
	
</body>
</html>
