<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ingreso a depósito</title>
</head>
<body>
	<section class="content-header">
		<h1>Ingreso de Vehículo</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-safari"></i>Remisión a Depósito</a></li>
			<li class="active">Con Infracción</li>
		</ol>
	</section>
	<section class="content">
		<form name="forms.formIngreso" role="form" novalidate>
			<div class="row" ng-if="viewFormulario">
				<section class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Ingreso de vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6 col-xs-12">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.nvehiculo.$invalid && forms.formIngreso.nvehiculo.$dirty}">
			                      		<label>No. Serie de Vehículo:</label>
			                      		<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input type="text" name="nvehiculo" id="nvehiculo" ng-model="ingresoInfracVO.num_serie_vehiculo" 
				                       		class="form-control" maxlength="18" capitalize autofocus ng-blur="tab($event,'operativo')"></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.nvehiculo.$error.required && forms.formIngreso.nvehiculo.$dirty"
											ng-style="{color:'red'}">El no. serie de vehículo es requerido</div>
				                    </div>
				                </div>
								<div class="col-md-6">
									<div class="form-group">
			                 			<label>No. Control Interno:</label>
			                 			<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
											<input type="text" ng-model="valorUpdIngreso.infrac_num_ctrl" class="form-control" ng-disabled="true" capitalize></input>
			                       		</div>
			                       	</div>
			                	</div>
			                	<div class="col-md-6">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.resguardo.$invalid && forms.formIngreso.resguardo.$dirty}">
			                  	    	<label>No. de Resguardo:</label>
			                  	    	<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-pencil" aria-hidden="true"></i>
											</span>
				                       		<input type="text" name="resguardo" ng-model="ingresoInfracVO.num_resguardo" class="form-control" ng-disabled="true" capitalize></input>
			                       		</div>
				                      	<div ng-if="forms.formIngreso.resguardo.$error.required && forms.formIngreso.resguardo.$dirty"
											ng-style="{color:'red'}">El no. de resguardo es requerido</div>
				                    </div>
				                </div>
				                <div class="col-md-6">
                    				<div class="form-group" ng-class="{'has-error': forms.formIngreso.depo.$invalid && forms.formIngreso.depo.$dirty}">
                      					<label>*Depósito:</label>
                      					<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
				                 		    <select class="form-control" name="depo" id="depo" style="width: 100%;"
													ng-options="depo.dep_cod as depo.dep_nombre for depo in listDeposito"
													ng-model="ingresoInfracVO.deposito" ng-disabled="true">
												
											</select>
										</div>
										<div ng-if="forms.formIngreso.depo.$error.required && forms.formIngreso.depo.$dirty"
											ng-style="{color:'red'}">El depósito es requerido</div>
					                </div>
                  				</div>
							</div>
							<div ng-show="viewOficialData">
								<br><br>
							</div>
						</div>
					</div>
					
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Datos del Vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
                                	<div class="form-group" ng-class="{'has-error': forms.formIngreso.si_placa.$invalid && 
											forms.formIngreso.si_placa.$dirty}">
                                    	<label>*Tiene Placa/Permiso:</label>
                                        <div class="input-group">
                                        	<div class="radio-inline">
												<label><input type="radio" ng-model="ingresoInfracVO.infrac_con_placa" 
												name="si_placa" id="si_placa" value="S" ng-change="cambioCuentaConPlaca()"
												ng-required="true" />SI</label>
											</div>
											<div class="radio-inline text-center">
												<label><input type="radio" ng-model="ingresoInfracVO.infrac_con_placa"
												name="si_placa" value="N" ng-change="cambioCuentaConPlaca()"
												ng-required="true" />NO</label>
											</div>
										</div>
										<div ng-if="forms.formIngreso.si_placa.$error.required && forms.formIngreso.si_placa.$dirty"
										ng-style="{color:'red'}">La valoración tiene Placa/Permiso es requerido</div>
	            			 		</div>
	            			 	</div>
	            			 	<div class="col-md-6">
	            			 		<div class="form-group" ng-class="{'has-error': forms.formIngreso.placa.$invalid && forms.formIngreso.placa.$dirty}">
	                      				<label>*Placa:</label>
	                      				<div class="input-group">
				                        	<div class="input-group-addon">
												<i class="fa fa-car"></i>
											</div>
		                        			<input type="text" name="placa" ng-model="ingresoInfracVO.infrac_placa"
		                        				ng-required="ingresoInfracVO.infrac_con_placa == 'S'" class="form-control"
		                        				ng-disabled="ingresoInfracVO.infrac_con_placa == 'N'" ng-blur="tab($event, firstCheck)"/>
		                   				</div>
	                      				<div ng-if="forms.formIngreso.placa.$error.required && forms.formIngreso.placa.$dirty"
											ng-style="{color:'red'}">La placa vehículo es requerida</div>
	                    			</div>
	                			</div>
	                			<div class="col-md-6 col-xs-12">
									<div class="form-group"
										ng-class="{'has-error': forms.altaInfraccion.vorigen_i.$invalid && forms.altaInfraccion.vorigen_i.$dirty}">
										<label>Origen:</label>
										<div class="input-group">
											<div class="radio-inline">
												<label><input type="radio"
													ng-model="vorigen" name="vorigen_i"
													id="vorigen_i" value="N" disabled>Nacional</label>
											</div>
											<div class="radio-inline">
												<label><input type="radio"
													ng-model="vorigen" name="vorigen_i"
													id="vorigen2_i" value="E" disabled>Extranjero</label>
											</div>
										</div>
										<div
											ng-if="forms.altaInfraccion.vorigen_i.$error.required && forms.altaInfraccion.vorigen_i.$dirty"
											ng-style="{color:'red'}">El origen es requerido</div>
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group"
										ng-class="{'has-error': forms.altaInfraccion.tipo.$invalid && forms.altaInfraccion.tipo.$dirty}">
										<label>*Tipo:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>

											<select class="form-control" name="tipo" id="tipo"
												style="width: 100%;"
												ng-options="tipo.vipoCod as tipo.vTipoNombre for tipo in listTipoV"
												ng-model="datosVehiculo.vtipo_cod" disabled >
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>


										<div
											ng-if="forms.altaInfraccion.tipo.$error.required && forms.altaInfraccion.tipo.$dirty"
											ng-style="{color:'red'}">El tipo es requerido</div>
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group"
										ng-class="{'has-error': forms.altaInfraccion.marca.$invalid && forms.altaInfraccion.marca.$dirty}">
										<label>Marca:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-registered"></i>
											</div>
											<select class="form-control" name="marca" id="origen"
												style="width: 100%;" disabled
												ng-options="marca.vMarCod as marca.vMarNombre for marca in listMarca"
												ng-model="datosVehiculo.vmar_cod">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>


										<div
											ng-if="forms.altaInfraccion.marca.$error.required && forms.altaInfraccion.marca.$dirty"
											ng-style="{color:'red'}">La marca es requerida</div>
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group"
										ng-class="{'has-error': forms.altaInfraccion.modelo.$invalid && forms.altaInfraccion.modelo.$dirty}">
										<label>Modelo:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-barcode"></i>
											</div>
											<select 
												class="form-control" name="modelo" id="modelo"
												style="width: 100%;" disabled
												ng-options="modelo.vmod_cod as modelo.vmod_nombre for modelo in listModelo"
												ng-model="datosVehiculo.vmod_cod">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>

										<div
											ng-show="forms.altaInfraccion.modelo.$error.required && forms.altaInfraccion.modelo.$dirty"
											ng-style="{color:'red'}">El modelo es requerido</div>
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group"
										ng-class="{'has-error': forms.altaInfraccion.color.$invalid && forms.altaInfraccion.color.$dirty}">
										<label>Color:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-paint-brush"></i>
											</div>

											<select class="form-control" name="color" id="color" disabled
												style="width: 100%;" ng-blur="tab($event, firstCheck)"
												ng-options="color.vColorCod as color.vColorNombre for color in listColor"
												ng-model="datosVehiculo.vcolor_cod">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>

										<div
											ng-show="forms.altaInfraccion.color.$error.required && forms.altaInfraccion.color.$dirty"
											ng-style="{color:'red'}">El color es requerido</div>
									</div>
								</div>
							</div>
							<div ng-show="viewOficialData">
								<br><br>
							</div>
						</div>
					</div>
				</section>
					
				<section class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Datos del Ingreso</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.causa.$invalid && forms.formIngreso.causa.$dirty}">
	                      				<label>*Causa de Ingreso:</label>
			                       		<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
					                    	<select class="form-control" name="causa" id="causa" style="width: 100%;"
												ng-options="causa.causa_cod as causa.causa_nombre for causa in listCausa"
												ng-model="ingresoInfracVO.causa_id"  ng-disabled="true">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>
										<div ng-if="forms.formIngreso.causa.$error.required && forms.formIngreso.causa.$dirty"
											ng-style="{color:'red'}">La causa de ingreso es requerida</div>
				                	</div>
		                  		</div>
		                  		<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.operativo.$invalid && forms.formIngreso.operativo.$dirty}">
		                      			<label>Operativo:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
			                     			<select class="form-control" name="operativo" id="operativo" style="width: 100%;"
													ng-options="oper.oper_cod as oper.oper_nombre for oper in listOperativo"
													ng-model="ingresoInfracVO.operativo">
												<option value="" selected="selected">Seleccione</option>
										    </select>
									    </div>			
		                      	
		                      			<div ng-if="forms.formIngreso.operativo.$error.required && forms.formIngreso.operativo.$dirty"
											ng-style="{color:'red'}">El operativo es requerido</div>
		                    		</div>
	                			</div>
	                			<div class="col-md-6">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.valor.$invalid && forms.formIngreso.valor.$dirty}">
			                      		<label>*Documento:</label>
			                 			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-file-text-o"></i>
											</div>
			                     			<input type="text" name="valor" ng-model="ingresoInfracVO.documento" class="form-control" ng-disabled="true" capitalize></input>      
					         			</div>
										<div ng-if="forms.formIngreso.valor.$error.required && forms.formIngreso.valor.$dirty"
											ng-style="{color:'red'}">El documento es requerido</div>
					                </div>
	                  			</div>
	                  			
<!-- 	                  			<div class="col-md-6"> -->
<!-- 		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.folio.$invalid && forms.formIngreso.folio.$dirty}"> -->
<!-- 		                      			<label>Folio de Boleta Impresa:</label> -->
<!-- 		                      			<div class="input-group"> -->
<!-- 											<div class="input-group-addon"> -->
<!-- 												<i class="fa fa-pencil"></i> -->
<!-- 											</div> -->
<!-- 		                       				<input type="text" name="folio" ng-model="ingresoInfracVO.placa_pre" class="form-control" capitalize></input> -->
<!-- 		                      			</div> -->
<!-- 		                      			<div ng-if="forms.formIngreso.folio.$error.required && forms.formIngreso.folio.$dirty" -->
<!-- 											ng-style="{color:'red'}">El folio de boleta impresa es requerido</div> -->
<!-- 		                    		</div> -->
<!-- 	                			</div> -->
								<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.folio.$invalid && forms.formIngreso.folio.$dirty}">
		                      			<label>Infracción Impresa:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
		                       				<input type="text" name="folio" ng-model="valorUpdIngreso.infrac_impresa" class="form-control" capitalize ng-disabled="true"></input>
		                      			</div>
		                      			<div ng-if="forms.formIngreso.folio.$error.required && forms.formIngreso.folio.$dirty"
											ng-style="{color:'red'}">El folio de la infracción impresa es requerido</div>
		                    		</div>
	                			</div>
								
	                			<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.medio.$invalid && forms.formIngreso.medio.$dirty}">
		                      			<label>*Medio de Transporte Entrada:</label>
		                  				<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
							                <select class="form-control" name="medio" id="medio" style="width: 100%;"
													ng-options="medioTrans.t_ingr_cod as medioTrans.t_ingr_nombre for medioTrans in listMedios"
													ng-model="ingresoInfracVO.t_ingr_id" ng-required="true" ng-change="cambioMedioTransporte()">
												<option value="" selected="selected">Seleccione</option>
											</select>
										</div>
										    
										<div ng-if="forms.formIngreso.medio.$error.required && forms.formIngreso.medio.$dirty"
											ng-style="{color:'red'}">El medio de transporte entrada es requerido</div>
				                	</div>
                  				</div>
                  				<div class="col-md-6">
		                    		<div class="form-group" ng-class="{'has-error': forms.formIngreso.econo.$invalid && forms.formIngreso.econo.$dirty}">
			                      		<label>*No. Económico:</label>
		                      			<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
		                        			<input type="text" name="econo" class="form-control" ng-model="ingresoInfracVO.grua_cod" ng-required="true"></input>
		                   				</div>
		                      			<div ng-if="forms.formIngreso.econo.$error.required && forms.formIngreso.econo.$dirty"
											ng-style="{color:'red'}">El no. económico es requerido</div>
		                    		</div>
	               				</div>
	               				<div class="row">
									<div class="col-md-12">
									</div>
								</div>
	               				<div class="col-md-6">
			                    	<div class="form-group" ng-class="{'has-error': forms.formIngreso.origen.$invalid && forms.formIngreso.origen.$dirty}">
			                      		<label>Depósito Origen:</label>
			                       		<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
						      			   <select class="form-control" name="origen" id="origen" style="width: 100%;"
													ng-options="origen.dep_cod as origen.dep_nombre for origen in listDepositoOrigen"
													ng-model="ingresoInfracVO.depo_origen" ng-disabled="true">	
										   </select>
									   </div>
									   
									   <div ng-if="forms.formIngreso.origen.$error.required && forms.formIngreso.origen.$dirty"
											ng-style="{color:'red'}">El depósito origen es requerido</div>
					                </div>
	                  			</div>
	                  			
	            			 	<div class="row">
									<div class="col-md-12">
									</div>
								</div>
								<div class="col-md-6">
                                     <div class="form-group" ng-class="{'has-error': forms.formIngreso.infra_ley.$invalid && forms.formIngreso.infra_ley.$dirty}">
                                     	<label>* Violación a la Ley de Transporte:</label>
                                     	<div class="input-group">
                                        	<div class="radio-inline">
												<label>
													<input type="radio" ng-model="ingresoInfracVO.infrac_ley_transporte" name="infra_ley" value="S"
														ng-required="true" />SÍ
												</label>
                                          	</div>
                                          	
                                          	<div class="radio-inline text-center">
                                          		<label>
                                          			<input type="radio" ng-model="ingresoInfracVO.infrac_ley_transporte" 
													name="infra_ley"  value="N" 
													ng-required="true">NO
												</label>
											</div>
										</div>
										<div ng-if="forms.formIngreso.infra_ley.$error.required && forms.formIngreso.infra_ley.$dirty"
											ng-style="{color:'red'}">Valoración a la Ley de Transporte es requerido</div>
	            			 		</div>
	            			 	</div>
	            			 	<div class="col-md-6">
                                     <div class="form-group" ng-class="{'has-error': forms.formIngreso.v_sellado.$invalid && forms.formIngreso.v_sellado.$dirty}">
                                     	<label>Vehículo Sellado en:</label>
                                      	<div class="input-group">
                                        	<div class="radio-inline text-center">
												<label>
													<input type="radio" ng-model="ingresoInfracVO.v_sellado" name="v_sellado" value="D"/>Depósito
												</label>
											</div>
                                            <div class="radio-inline">
												<label>
													<input type="radio" ng-model="ingresoInfracVO.v_sellado" name="v_sellado" value="A"/>Arrastre
												</label>
                                          	</div>                           
                     					</div>
                                       	<div ng-if="forms.formIngreso.v_sellado.$error.required && forms.formIngreso.v_sellado.$dirty"
											ng-style="{color:'red'}">La valoración vehículo sellado es requerido</div>
	            			 		</div>
	            			 	</div>
	            			 	<div class="col-md-6">
                                	<div class="form-group" ng-class="{'has-error': forms.formIngreso.v_cajuela.$invalid && forms.formIngreso.v_cajuela.$dirty}">
                                    	<label>Cajuela Abierta:</label>
                                        <div class="input-group">
                                        	<div class="radio-inline">
												<label>
													<input type="radio" ng-model="ingresoInfracVO.v_cajuela" name="v_cajuela"  value="S" />SÍ
												</label>
                                            </div>

                                            <div class="radio-inline text-center">
												<label>
													<input type="radio" ng-model="ingresoInfracVO.v_cajuela" name="v_cajuela" value="N" />NO
												</label>
                                            </div>
                                   		</div>
                                        <div ng-if="forms.formIngreso.v_cajuela.$error.required && forms.formIngreso.v_cajuela.$dirty"
											ng-style="{color:'red'}">La valoración cajuela abierta es requerido</div>
	            			 		</div>
	            				</div>
	            				<div class="col-md-6 col-xs-12">
									<div class="form-group" ng-class="{'has-error': forms.formIngreso.placaemp.$invalid && forms.formIngreso.placaemp.$dirty}" ng-style="{color:validColor}">
				                    	<label>*Placa Oficial:</label>
				                        <div class="input-group">
				                        	<div class="input-group-addon">
												<i class="fa fa-star"></i>
											</div>
											<input type="text" name="placaemp" integer-number ng-model="ingresoInfracVO.infrac_placa_empl" ng-required="!viewOficialData" class="form-control" capitalize ng-change="changePlaca()"></input>
										 	<span class="input-group-btn">
												<button type="button" ng-click="consultarPlaca(ingresoInfracVO.infrac_placa_empl)" 
												class="btn btn-danger btn-flat" ng-blur="tab($event,'si_placa')">Buscar</button>
											</span>
									    </div>	
				                      
			                     		<div ng-if="forms.formIngreso.placaemp.$error.required && forms.formIngreso.placaemp.$dirty"
									     	ng-style="{color:'red'}">La placa oficial es requerida</div>
									  	<div ng-if="!(forms.formIngreso.placaemp.$error.required && forms.formIngreso.placaemp.$dirty) && viewMessagePlaca" 
									  		ng-style="{color:validColor}">{{validMensaje}}</div>
				                  
				                    </div>
	                			</div>
	                			<div class="col-xs-12" ng-show="viewOficialData">	
									<div class="form-group">						
										<fieldset>
											<legend>Datos del Oficial</legend>
												<div class="table-responsive">   
			                                  		<table class="table tblsnborder">
			                                            <tr>
			                                                <td><label>Nombre:</label></td>
			                                                <td>{{datosAuxiliar.nombre_comp}} </td>
			                                              
			                                            </tr>
			                                          	<tr>
			                                            	<td><label>Sector:</label></td>
			                                            	<td>{{datosAuxiliar.sec_nombre}} </td>
			                                            	<td><label>Agrupamiento:</label></td>
			                                            	<td>{{datosAuxiliar.agrp_nombre}}</td>
			                                        	</tr>
			                                  		</table>
			                         			</div>
								  		</fieldset>
							  		</div>
				  				</div>
							</div>
							<div ng-show="!viewOficialData">
								<br><br><br><br>
							</div>
						</div>
					</div>
				</section>
				
				<section class="col-md-12">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Inventario del Vehículo</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div ng-repeat="inven in listInventario">
									<div class="col-xs-12 col-sm-6 col-md-4"  ng-if="inven.comp_cod <= 6">
										<label for="{{inven.comp_cod}}" class="labelCheck"><input id="{{inven.comp_cod}}" type="checkbox"
											checklist-model="ingresoInfracVO.valorInv.listInventario"
											checklist-value="inven.comp_cod"
											checklist-change="imChanged()">
											{{inven.comp_nombre}}</label>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-4" ng-if="inven.comp_cod >= 7">
										<label for="{{inven.comp_cod}}cod" class="labelCheck"><input id="{{inven.comp_cod}}cod" type="checkbox"
											checklist-model="ingresoInfracVO.valorInv.listInventario"
											checklist-value="inven.comp_cod"
											checklist-change="imChanged()">
											{{inven.comp_nombre}}</label>
									</div>
								</div>
			              		<div class="col-xs-12">
			              			<div class="box-header with-border text-center">
		                        		<h3 class="box-title">Comentarios</h3>
		                			</div>
		                			<div class="col-xs-12">
		                   				<textarea class="form-control" rows="5" name="comentarios" ng-model="ingresoInfracVO.infrac_observacion" capitalize style="resize:none;" maxlength="200"></textarea>
		                			</div>
			              		</div>
							</div>
						</div>
					</div>
				</section>
				
				<section class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 text-center">
              				<button type="button" ng-click="registroIngreso(ingresoInfracVO)" class="btn btn-danger">Guardar</button>
           				</div>
					</div>
				</section>
			</div>
		</form>
		
		<div class="row" ng-if="viewResultado">           
        	<div class="col-md-6 col-md-offset-3">
          		<div class="box box-danger"> 
          			<div class="box-header with-border" align="center">
                        <h3 class="box-title">Resultado de la Operación</h3>
                	</div>          
            		<div class="box-body">
            			<div class="row">
		                  	<div class="col-xs-5">
		                    	<div class="form-group">
		                  		 	<label>Número de Proceso: </label> 
		                    	</div>
		                  	</div>
                  
                  			<div class="col-xs-5">
                    			<div class="form-group">
                    				{{respuesta.resultado}}
			                    </div>
            		      	</div>
                		</div>
                
                 		<div class="row">
                  			<div class="col-xs-5">
                    			<div class="form-group" >
                  		 			<label>Resultado del Ingreso: </label>
                    			</div>
                  			</div>
                  
                  			<div class="col-xs-5">
                    			<div class="form-group">
                     				{{respuesta.mensaje}}
                    			</div>
                  			</div>
               			</div>

						<div class="row text-center">
							<div class="col-xs-4 col-xs-12">
								<button type="button" ng-click="nuevaRemision()" class="btn btn-danger">Regresar</button>
							</div>
							<div class="col-md-4 col-xs-12">
 								<button type="button" ng-click="imprimeRecibo_res()" class="btn btn-danger">Imprimir Resguardo</button>
							</div>
							<div class="col-md-4 col-xs-12">
								<button type="button" ng-click="imprimeRecibo_arra()" class="btn btn-danger">Imprimir Arrastre</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>