<html>
<head>
  <meta charset="utf-8">
  <title>Consulta de Detecciones sin Procesar</title>
</head>
<body>
    <section class="content-header">
      <h1>Consulta de Detecciones sin Procesar</h1>
      <ol class="breadcrumb">
        <li><a><i class="fa fa-camera"></i> Foto-Multa</a></li>
        <li class="active">Detecciones sin Procesar</li>
      </ol>
    </section>
	
    <section class="content">          	
    <form name="form" role="form">
    	<div class="row">
		   	<div class="col-md-8 col-md-offset-2">
          		<div class="box box-danger" >
	            	<div class="box-header with-border text-center">
	              		<h3 class="box-title">Fecha Consulta</h3>
	            	</div>       
		            <div class="box-body">
		            	<div class="row">
		            		<div class="col-md-5 col-xs-12">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<select class="form-control select2" name="fechaConsulta" 
										ng-model="parametroBusqueda.tipoFecha" ng-options='option.codigo as option.descripcion for option in filterValues' ng-change="changeFilter()">
									</select>
								</div>
							</div>
							
		            		<div class="col-md-2 col-xs-4 text-center marginCol">
								<label class="radio-inline">
					      			<input type="radio" name="optradio" value="2" ng-change="changeFilter()"
					      				ng-model="parametroBusqueda.origenPlaca">Todos
							    </label>
						    </div>
						    <div class="col-md-2 col-xs-4  text-center marginCol">
							    <label class="radio-inline">
					      			<input type="radio" name="optradio" value="0" ng-change="changeFilter()"
						      			ng-model="parametroBusqueda.origenPlaca">CDMX
							    </label>
						    </div>
						    <div class="col-md-2 col-xs-4 text-center marginCol">
							    <label class="radio-inline">
						      		<input type="radio" name="optradio" value="1" ng-change="changeFilter()"
						      			ng-model="parametroBusqueda.origenPlaca">Foráneas
							    </label>
							</div>
		            	</div>	
					
					</div>  
            	</div>          
         	</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
		        <div class="box box-danger" >
		            <div class="box-header with-border text-center">
		              <h3 class="box-title">Detecciones Prevalidadas</h3>
		            </div>		                             
		        <div class="box-body" >		
					<div class="row">
						<div class="col-xs-12">
							<div class="info-box bg-amarillo">
								<span class="info-box-icon bg-yellow"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
								<div class="itemsBox">
									<span>LUZ ROJA</span>
									<i>{{prevalidadas.luzRoja}}</i> 
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="info-box bg-amarillo">
							<span class="info-box-icon bg-yellow"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
								<div class="itemsBox">
									<span>BOSCH</span>
									<i>{{prevalidadas.bosch}}</i>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="info-box bg-amarillo">
								<span class="info-box-icon bg-yellow"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
								<div class="itemsBox">
									  <span>LÁSER</span>
									  <i>{{prevalidadas.laser}}</i>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="info-box bg-amarillo">
								<span class="info-box-icon bg-yellow"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
								<div class="itemsBox">
									  <span>TOTAL</span>
									  <i>{{prevalidadas.total}}</i>
								</div>
							</div>
						</div>
					</div>
		        </div>               
	        </div>
        </div>

	    	<div class="col-xs-12 col-md-4">
				<div class="box box-danger" >
		            <div class="box-header with-border text-center">
		              <h3 class="box-title">Detecciones Validadas Actuales</h3>
		            </div>
		        	<div class="box-body">		
						<div class="row">
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
										<span>LUZ ROJA</span>
										<i>
											<a ng-if="validadas.luzRoja > 0" name="linkLR" id="linkLR" ng-click="buscarDeteccionesPorFechaYRadar('LR', 0)">{{validadas.luzRoja}}</a>
											<span ng-if="validadas.luzRoja < 1" name="linkLR" id="linkLR" >{{validadas.luzRoja}}</span>
										</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
										<span>BOSCH</span>
										<i>
											<a ng-if="validadas.bosch > 0" name="linkBH" id="linkBH" ng-click="buscarDeteccionesPorFechaYRadar('MI', 0)">{{validadas.bosch}}</a>
											<span ng-if="validadas.bosch < 1" name="linkBH" id="linkBH" >{{validadas.bosch}}</span>
										</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
									  	<span>LÁSER</span>
									  	<i>
									  		<a ng-if="validadas.laser > 0" name="linkLS" id="linkLS" ng-click="buscarDeteccionesPorFechaYRadar('MR', 0)">{{validadas.laser}}</a>
									  		<span ng-if="validadas.laser < 1" name="linkLS" id="linkLS">{{validadas.laser}}</span>
									  	</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
									  	<span>TOTAL</span>
									  	<i>
									  		<a ng-if="validadas.total > 0" name="linktotal" id="linktotal" ng-click="buscarDeteccionesPorFechaYRadar('total', 0)">{{validadas.total}}</a>
									  		<span ng-if="validadas.total < 1" name="linktotal" id="linktotal">{{validadas.total}}</span>
									  	</i>
									</div>
								</div>
							</div>
						</div>			
				</div> 
        	</div>           
        </div>

			<div class="col-xs-12 col-md-4">
				<div class="box box-danger" >
		            <div class="box-header with-border text-center">
		              <h3 class="box-title">Detecciones Validadas Históricas</h3>
		            </div>
		        	<div class="box-body">		
						<div class="row">
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
										<span>LUZ ROJA</span>
										<i>
											<a ng-if="validadasHistorico.luzRoja > 0" name="linkLR" id="linkLR" ng-click="buscarDeteccionesPorFechaYRadar('LR', 1)">{{validadasHistorico.luzRoja}}</a>
											<span ng-if="validadasHistorico.luzRoja < 1" name="linkLR" id="linkLR">{{validadasHistorico.luzRoja}}</span>
										</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
										<span>BOSCH</span>
										<i>
											<a ng-if="validadasHistorico.bosch > 0" name="linkBH" id="linkBH" ng-click="buscarDeteccionesPorFechaYRadar('MI',1)">{{validadasHistorico.bosch}}</a>
											<span ng-if="validadasHistorico.bosch < 1" name="linkBH" id="linkBH">{{validadasHistorico.bosch}}</span>
										</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
									  	<span>LÁSER</span>
									  	<i>
									  		<a ng-if="validadasHistorico.laser > 0" name="linkLS" id="linkLS" ng-click="buscarDeteccionesPorFechaYRadar('MR', 1)">{{validadasHistorico.laser}}</a>
									  		<span ng-if="validadasHistorico.laser < 1" name="linkLS" id="linkLS">{{validadasHistorico.laser}}</span>
									  	</i>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="info-box bg-verde">
									<span class="info-box-icon bg-green"><img class="img-circle margin-run" src="static/dist/img/radar3.png"></span>
									<div class="itemsBox">
									  	<span>TOTAL</span>
									  	<i>
									  		<a ng-if="validadasHistorico.total > 0" name="linktotal" id="linktotal" ng-click="buscarDeteccionesPorFechaYRadar('total', 1)">{{validadasHistorico.total}}</a>
									  		<span ng-if="validadasHistorico.total < 1" name="linktotal" id="linktotal">{{validadasHistorico.total}}</span>
									  	</i>
									</div>
								</div>
							</div>
						</div>			
					</div> 
        		</div>           
			</div>
		</div>
		
		<div class="row" id="tblDetalleDeteccionesPorMes" ng-if="helpers.showTblDetalleDetecciones">
			<div class="col-md-12">
				<div class="box box-danger">
	            	<div class="box-header with-border text-center">
		                <h3 id="ResultLR" class="box-title">Detecciones por Mes</h3>
		            </div> 
		            
		            <div uib-carousel active="0">
		            	<div uib-slide ng-repeat="deteccion in groupedSlides" index="$index">
							<div ng-repeat="slide in deteccion" >
								<div class="col-md-4 col-xs-12">
									<div class="box box-danger">
										<div class="box-header with-border text-center">
											<h3 class="box-title"><a ng-click="buscarDeteccionesPorMes(slide.fechaCreacion, slide.mes, slide.anio)">{{getMonth(slide.mes)}}/{{slide.anio}}</a></h3>
										</div>
										<div class="box-body"> 
											<div class="col-xs-6 text-left"><strong>RADAR</strong></div>
											<div class="col-xs-6 text-center"><strong>TOTAL</strong></div> 
	
											<div class="col-xs-6 text-left"><strong>LUZ ROJA</strong></div> 
											<div class="col-xs-6 text-center"><strong>{{slide.luzroja}}</strong></div>
										
											<div class="col-xs-6 text-left"><strong>BOSCH</strong></div>
											<div class="col-xs-6 text-center"><strong>{{slide.bosch}}</strong></div>
										
											<div class="col-xs-6 text-left"><strong>LÁSER</strong></div>
											<div class="col-xs-6 text-center"><strong>{{slide.laser}}</strong></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		            
<!--                    	<div id="myCarousel" class="carousel slide multi-item-carousel"> -->
<!--                        	<div class="carousel-inner"> -->
<!--                      			<div class="item" ng-class="{'active': $first}" ng-repeat="deteccion in deteccionesRadar" on-finish-render="ngRepeatFinished"> -->
<!--                        			<div class="col-md-4 col-xs-12">  -->
<!-- 									<div class="box box-danger"> -->
<!-- 										<div class="box-header with-border text-center"> -->
<!-- 											<h3 class="box-title"><a ng-click="buscarDeteccionesPorMes(deteccion.fechaCreacion, deteccion.mes, deteccion.anio)">{{getMonth(deteccion.mes)}}/{{deteccion.anio}}</a></h3> -->
<!-- 										</div> -->
<!-- 										<div class="box-body"> -->
<!-- 											<div class="col-xs-6 text-left"><strong>RADAR</strong></div> -->
<!-- 											<div class="col-xs-6 text-center"><strong>TOTAL</strong></div> -->

<!-- 											<div class="col-xs-6 text-left"><strong>LUZ ROJA</strong></div> -->
<!-- 											<div class="col-xs-6 text-center"><strong>{{deteccion.luzroja}}</strong></div> -->
											
<!-- 											<div class="col-xs-6 text-left"><strong>BOSCH</strong></div> -->
<!-- 											<div class="col-xs-6 text-center"><strong>{{deteccion.bosch}}</strong></div> -->
											
<!-- 											<div class="col-xs-6 text-left"><strong>LÁSER</strong></div> -->
<!-- 											<div class="col-xs-6 text-center"><strong>{{deteccion.laser}}</strong></div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!--                        		</div> -->
<!-- 						</div> -->
<!-- 						<a class="left carousel-control"><i class="glyphicon glyphicon-chevron-left"></i></a> -->
<!--                			<a class="right carousel-control"><i class="glyphicon glyphicon-chevron-right"></i></a> -->
<!--             		</div>   -->
            		          
	        	</div>
        	</div>
		</div>
	
		<div class="row" id="tblDetalleDeteccionesPorDia" ng-if="helpers.showDeteccionesMes">
			<div class="col-md-12">
				<div class="box box-danger">
	            	<div class="box-header with-border text-center">
		                <h3 id="ResultDia" class="box-title">{{helpers.titleForMonth}}</h3>
		            </div>
		            
		           <div class="box-body bg-gray">		
	           			<div class="row-flex row-flex-wrap">
	           				<div class="col-md-3 col-xs-12" ng-repeat="deteccion in deteccionesMes">
								<div class="box box-danger">
									<div class="box-header with-border text-center">
										<h3 class="box-title">{{deteccion.fechaCreacion}}</h3>
									</div>
									<div class="box-body">
										<div class="col-xs-6 text-left"><strong>RADAR</strong></div>
										<div class="col-xs-6 text-center"><strong>TOTAL</strong></div>

										<div class="col-xs-6 text-left" ng-if="deteccion.luzroja > 0"><strong>LUZ ROJA</strong></div>
										<div class="col-xs-6 text-center" ng-if="deteccion.luzroja > 0"><strong>{{deteccion.luzroja}}</strong></div>
										
										<div class="col-xs-6 text-left"  ng-if="deteccion.bosch > 0"><strong>BOSCH</strong></div>
										<div class="col-xs-6 text-center"  ng-if="deteccion.bosch > 0"><strong>{{deteccion.bosch}}</strong></div>
										
										<div class="col-xs-6 text-left" ng-if="deteccion.laser > 0"><strong>LÁSER</strong></div>
										<div class="col-xs-6 text-center" ng-if="deteccion.laser > 0"><strong>{{deteccion.laser}}</strong></div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-12" ng-if="helpers.repeat" ng-repeat="i in getNumber(helpers.divRepeat) track by $index"></div>
	           			</div>
		           </div>
		           
	            </div>
            </div>
		</div>	
		
	</form>
</section>
	
</body>
</html>
