<html>
<head>
<meta charset="utf-8">
<title>Articulos Detalle</title>
</head>
<body>	
	<section class="content-header">
		<h1>Articulos Detalle</h1>
		<ol class="breadcrumb">
			<li>
				<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}</a>
			</li>
			<li>
				<a href="">{{breadCrumbs.servicio}}</a>
			</li>
			<li class="active">
				Modificar
			</li>
		</ol>
	</section>	
	
	<section class="content">
		<form  role="form" name="frmAltaArticulo">
			<div class="row">
				<section class="col-md-6 connectedSortable">					
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title">Clasificación</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="row">
								
								<div class="col-sm-6 form-group"  ng-hide="true" ng-class="{'has-error': frmAltaArticulo.programa.$invalid && frmAltaArticulo.programa.$dirty}">
										<label for="programa"></label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-book"></span>
											</div>
											<input ng-model="articulo.artId"/>
										</div>
									</div>
									<div class="col-sm-6 form-group" ng-class="{'has-error': frmAltaArticulo.programa.$invalid && frmAltaArticulo.programa.$dirty}">
										<label for="programa">*Programa: </label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-book"></span>
											</div>
											<select class="form-control" name="programa"
												id="programa"
												ng-disabled="isVisualizar"
												ng-options="programa.programaId as programa.programaNombre for programa in programas"
												ng-model="articulo.progId" ng-required="true">
												<option value="">Seleccionar</option>
											</select>
										</div>
										<div ng-show="frmAltaArticulo.programa.$error.required && frmAltaArticulo.programa.$dirty" ng-style="{color:'red'}">
										El programa es requerido
										</div>	
									</div>
									<div class="col-sm-6 form-group" ng-class="{'has-error': frmAltaArticulo.categoria.$invalid && frmAltaArticulo.categoria.$dirty}">
										<label for="categoria">*Categoria: </label>
										<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-hand-o-right"></span>
										</div>
											<select class="form-control" name="categoria"
												id="categoria" ng-required="true"
												ng-disabled="isVisualizar"
												ng-options="categoria.categoriaId as categoria.categoriaDesc for categoria in categorias"
												ng-model="articulo.categId">
												<option value="">Seleccionar</option>
											</select>
										</div>
										<div ng-show="frmAltaArticulo.categoria.$error.required && frmAltaArticulo.categoria.$dirty" ng-style="{color:'red'}">
											La categoría es requerida
										</div>	
									</div>
									</div>
									<div class="row">
									<div class="col-sm-6">
										<label for="causal">Causal: </label>
										<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-exclamation-circle"></span>
										</div>
											<select class="form-control" name="causal"
												id="causal"
												ng-disabled="isVisualizar"
												ng-options="causal.causalId as causal.causalNombre for causal in causales"
												ng-model="articulo.causalId">
												<option value="">Seleccionar</option>
											</select>
										</div>
									</div>
								</div>								
							</div>
						</div>	
					</div>
			
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title">Fundamentación</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="col-xs-12">
								<div class="row">
								<div class="col-md-6 form-group" ng-class="{'has-error': frmAltaArticulo.articulo.$invalid && frmAltaArticulo.articulo.$dirty}">								
									<label for="articulo">*Artículo:(Solo numeros arabigos)</label>
									<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-gavel"></span>
											</div>
											<input ng-required="true" class="form-control" type="text" id="articulo" name="articulo" ng-disabled="isVisualizar" ng-model="articulo.artNumero" />
									</div>
									<div ng-show="frmAltaArticulo.articulo.$error.required && frmAltaArticulo.articulo.$dirty" ng-style="{color:'red'}">
										El artículo es requerido
									</div>
								</div>
								<div class="col-md-6 form-group" >						
									<label>Fracción:(Romanos o letras)</label>
									<div class="input-group">
										<div class="input-group-addon">
												<span class="fa fa-hand-o-right"></span>
										</div>
										<input class="form-control" type="text" ng-disabled="isVisualizar" ng-model="articulo.artFraccion" />
									</div>
								</div>
								</div>
								<div class="row">
								<div class="col-md-6 form-group">
									<label>Parrafo:(Solo ordinales)</label>
										<div class="input-group">	
											<div class="input-group-addon">
												<span class="fa fa-hand-o-right"></span>
											</div>						
											<input class="form-control" type="text" ng-disabled="isVisualizar" ng-model="articulo.artParrafo" />
										</div>
									</div>	
								<div class="col-md-6 form-group">
									<label for="inciso">Inciso:(Solo letras)</label>
									<div class="input-group">
										<div class="input-group-addon">
													<span class="fa fa-hand-o-right"></span>
										</div>
										<input name="inciso" id="inciso" class="form-control" type="text" ng-disabled="isVisualizar" ng-model="articulo.artInciso" />
									</div>
								</div>											
							</div>									
					   </div>
					</div>
					</div>
				</section>
				<section class="col-md-6 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Motivación</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">
								<div class="col-xs-12 col-md-12 form-group" ng-class="{'has-error': frmAltaArticulo.motivacion.$invalid && frmAltaArticulo.motivacion.$dirty}">
									<label for="motivacion">*Motivación:(máximo 1000 caracteres)</label>
									<div class="input-group">
									<textarea ng-required="true" capitalize ng-model="articulo.artMotivacion" ng-disabled="isVisualizar" cols="120" rows="5" class="col-xs-12 col-md-12" id="motivacion" name="motivacion" style="resize: none;"></textarea>
									</div>
									<div ng-show="frmAltaArticulo.motivacion.$error.required && frmAltaArticulo.motivacion.$dirty" ng-style="{color:'red'}">
										La motivación es requerida
									</div>	
								</div>	
							</div>						
						</div>
					</div>
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title">Sanción</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>						
						<div class="box-body">
							<div class="col-xs-12">
								<div class="row">
								<div class="col-md-6 form-group"  ng-class="{'has-error': frmAltaArticulo.diaSancion.$invalid && frmAltaArticulo.diaSancion.$dirty}">								
									<label for="diaSancion">*Dias de Sanción:</label>
									<div class="input-group">
										<div class="input-group-addon">
												<span class="fa fa-map"></span>
										</div>
										<input ng-required="true"  id="diaSancion" name="diaSancion" class="form-control" type="text" ng-disabled="isVisualizar" ng-model="articulo.artDias" />
									</div>
									<div ng-show="frmAltaArticulo.diaSancion.$error.required && frmAltaArticulo.diaSancion.$dirty" ng-style="{color:'red'}">
										Los dias de sanción son requeridos
									</div>
								</div>
								<div class="col-md-6 form-group"  ng-class="{'has-error': frmAltaArticulo.descuento.$invalid && frmAltaArticulo.descuento.$dirty}">							
									<label for="descuento">*Descuento (S) o (N):</label>
									<div class="input-group" ng-disabled="isVisualizar">
											<input ng-required="true" type="radio" name="descuento" ng-model="articulo.artDescuento" value="S"> SI
											<input ng-required="true" type="radio" name="descuento" ng-model="articulo.artDescuento" value="N"> NO
											
									</div>
									<div ng-show="frmAltaArticulo.descuento.$error.required && frmAltaArticulo.descuento.$dirty" ng-style="{color:'red'}">
											El descuento es requerido
									</div>	
								</div>
								</div>
								<div class="row">
									<div class="col-md-6 form-group" ng-class="{'has-error': frmAltaArticulo.descuentoPorcent.$invalid && frmAltaArticulo.descuentoPorcent.$dirty}">								
										<label for="descuentoPorcent">* % Descuento:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-percent"></span>
											</div>
										<input ng-required="true" id="descuentoPorcent" name="descuentoPorcent" class="form-control" type="text" ng-disabled="isVisualizar" ng-model="articulo.artPorcenDesc" />
										</div>
										<div ng-show="frmAltaArticulo.descuentoPorcent.$error.required && frmAltaArticulo.descuentoPorcent.$dirty" ng-style="{color:'red'}">
											El porcentaje de descuento es requerido
										</div>
									</div>
								</div>								
							</div>						
						</div>
					</div>				
				
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title">Tipo y Estatus</h3>
							<div class="box-tools pull-left">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="col-xs-6 form-group" ng-class="{'has-error': frmAltaArticulo.tipo.$invalid && frmAltaArticulo.tipo.$dirty}">
								<label for="tipo">*Tipo: </label>
								<div class="input-group">
									<div class="input-group-addon">
											<span class="fa fa-tachometer"></span>
									</div>
								<select class="form-control" name="tipo"
									id="tipo"									
									ng-model="articulo.artTipo" ng-disabled="isVisualizar" ng-required="true">
									<option value="">Seleccionar</option>
									<option value="M">M</option>
									<option value="S">S</option>
								</select>
								</div>
								<div ng-show="frmAltaArticulo.tipo.$error.required && frmAltaArticulo.tipo.$dirty" ng-style="{color:'red'}">
											El tipo es requerido
									</div>
							</div>
							<div class="col-xs-6 form-group" ng-class="{'has-error': frmAltaArticulo.estatus.$invalid && frmAltaArticulo.estatus.$dirty}">
								<label for="catalogo">*Estatus (A) o (E):</label>
								<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-cog"></span>
										</div>
									<select class="form-control" name="catalogo" ng-disabled="isVisualizar"
									ng-model="articulo.artStatus" id="estatus" name="estatus"
										id="catalogo" ng-required="true">
										<option value="">Seleccionar</option>
										<option value="A">A</option>
										<option value="E">E</option>
									</select>
								</div>
								<div ng-show="frmAltaArticulo.estatus.$error.required && frmAltaArticulo.estatus.$dirty" ng-style="{color:'red'}">
											El estatus es requerido
								</div>
							</div>
						</div>
					</div>
				</section>
				</div>
					<div class="row itemsBox">
                                <a href="#/catalogos" class="btn">
									<i class="fa fa-arrow-circle-left"></i>
									<span>Regresar</span>
								</a>
								<button class="btn btn-danger" id="btnGuardarDatos" ng-click="altaArticulo(articulo)" type="button" >
									<span>Guardar</span>
								</button>
				</div>
<!-- 				<div class="row"> -->
<!-- 					<div class="col-xs-5 text-left"> -->
<!-- 						<a  href="#/catalogos" class="btn pull-left">Realizar otra búsqueda</a> -->
<!--                     </div> -->
					
<!-- 					<div align="col-xs-5 text-"> -->
<!-- 						<button class="btn btn-danger pull-left" ng-if="!isVisualizar" ng-click="altaArticulo(articulo)" id="btnGuardarDatos" type="button" >Guardar</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
			
		</form>
	</section>
	<div class="control-sidebar-bg"></div>	
</body>
</html>
