<html>
<head>
<meta charset="utf-8">
<title>Administración de Catálogos</title>
</head>
<body>
	<section class="content-header">
		<h1>Artículos Histórico- Detalle</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-book"></i>Catálogos </a></li>
			<li class="active">Fundamentación</li>
		</ol>
	</section>

	<!-- Main content -->

	<section class="content">
		<form role="form" name="frmAltaArticulo">
			<div class="row">				
				<section class="col-md-6 connectedSortable">		
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Fundamentación</h3>
						</div>						
						<div class="box-body">
							<div class="col-xs-12">	
								<div class="row">		
<!-- 									<div class="col-md-6 form-group"> -->
<!-- 										<label>Id:</label> -->
<!-- 										<div class="input-group"> -->
<!-- 											<div class="input-group-addon"> -->
<!-- 												<span class="fa fa-book"></span> -->
<!-- 											</div> -->
<!-- 											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.articulo.artId" /> -->
<!-- 										</div> -->
<!-- 									</div> -->
									<div class="col-md-6 form-group">
										<label>Consecutivo:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-book"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.articulo.artId" />
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label>*Artículo:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-gavel"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinArticulo" />
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label>Fracción:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-hand-o-right"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinFraccion" />
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label>Parrafo:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-hand-o-right"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinParrafo" />
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label>Inciso:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-hand-o-right"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinInciso" />
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Sanción</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>	
						<div class="box-body">
							<div class="col-xs-12">	
							<div class="row">	
									<div class="col-md-6 form-group">
										<label for="diaSancion">*Salarios o dias:</label><!-- (Solo numeros arabigos) -->
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-map"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinSalario" />
										</div>
									</div>
									
									<div class="col-md-6 form-group">								
										<label for="descuento">*Aplicado vehiculo (0) o (1):</label>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-automobile"></span>
											</div>
											<input  ng-disabled="true" class="form-control" type="text" ng-model="detalle.artInfrFinAplicadoVeh" />
										</div>
									</div>
								</div>
								<div class="row">
								<div class="col-md-6 form-group">
										<label for="diaSancion">Arrastro:</label><!-- (Solo numeros arabigos) -->
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-arrows"></span>
											</div>
											<input  ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinArrastro" />
										</div>
									</div>
									
									<div class="col-md-6 form-group">
										<label for="diaSancion">Puntos:</label><!-- (Solo numeros arabigos) -->
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-star-half-o"></span>
											</div>
											<input  ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinPuntos" />
										</div>
									</div>
								</div>	
							</div>
						</div>						
					</div>
				</section>		
				<section class="col-md-6 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Motivación</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-xs-12 col-md-12  form-group">
									<label for="motivacion">*Motivación:</label>
									<div class="input-group">
										<textarea capitalize ng-disabled="true" ng-model="detalle.artInfrFinDescripcion" cols="120" rows="5" class="col-xs-12 col-md-12" id="motivacion" name="motivacion" style="resize: none;"></textarea>
									</div>
								</div>	
							</div>						
						</div>
					</div>
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">Vigencia</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="col-xs-12">	
								<div class="row">
									<div class="col-md-6 form-group">
										<label for="diaSancion">*Fecha Inicio:</label><!-- (Solo numeros arabigos) -->
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-calendar"></span>
											</div>
											<input  ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinFechaInicio" />
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label for="diaSancion">*Fecha Termino:</label><!-- (Solo numeros arabigos) -->
										<div class="input-group">
											<div class="input-group-addon">
												<span class="fa fa-calendar"></span>
											</div>
											<input ng-disabled="true" class="form-control"  type="text" ng-model="detalle.artInfrFinFechaTermino" />
										</div>
									</div>
								</div>
							</div>
						</div>
							
					</div>
				</section>
				</div>	
				<div class="row">
					<div class="col-md-12 text-center">
						<a class="btn btn-danger" href="#/modificaHistorico/{{detalle.artInfrFinCons}}" id="btnGuardarDatos" type="button" >Modificar</a>
					</div>
				</div>		
		</form>
	</section>
<body>
</html>