<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Chrome | Firefox | Opera | Vivaldi - Color barra direcciones -->
<meta name="theme-color" content="#cf0a2c" />
<!-- iOS Safari - Color barra direcciones -->
<meta name="apple-mobile-web-app-status-bar-style" content="#cf0a2c" />
<!-- Microsoft edge - Color b arra direcciones -->
<meta name="msapplication-navbutton-color" content="#cf0a2c" />

<meta
	content="/images/branding/googleg/1x/googleg_standard_color_128dp.png"
	itemprop="image" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link type="image/x-icon" href="static/dist/img/iconTeclo.ico"
	rel="shortcut icon" />

<title>SAI</title>

<link rel="stylesheet" href="static/dist/css/base.css" />

</head>
<body>








	<section class="content-header">
		<h1>Administración de Placas Vehiculares</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Administrar</a></li>
			<li class="active">Placas Vehiculares</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">

		<div class="row centerCol">
			<!-- 			<div class="col-md-3"></div> -->
			<div class="col-md-6">

				<!-- Datos Del Infractor -->
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Búsqueda</h3>

					</div>

					<!-- /.box-header -->
					<!-- 					<form name="myForm" novalidate> -->
					<form class="box-body" name="myForm" novalidate>
						<!-- INI fila 1 del form de parametros de consulta -->
						<div class="row">
							<div class="col-md-6">

								<div class="form-group">

									<div class="input-group">
										<span class="input-group-addon"> <i class="fa fa-list"></i></span>
										<select class="form-control" name="mySelect" id="mySelect"
											ng-options="option.name for option in opc.availableOptions track by option.id"
											ng-model="opc.selectedOption" class="form-control"
											ng-change="evaluaOpc(opc.selectedOption.name)">
										</select>
									</div>
								</div>
							</div>


							<div class="col-md-6">
								<div class="form-group"
									ng-class="{ 'has-error' : (myForm.valor.$invalid && !myForm.valor.$pristine) || 
											(myForm.tipoPerfil.$invalid && !myForm.tipoPerfil.$pristine)}">
									<div>

										<div class="input-group" ng-show="!OpcPerfiles">
											<span class="input-group-addon"> <i
												class="fa fa-pencil"></i></span> <input type="text"
												ng-model="valor" name="valor" class="form-control"
												capitalize ng-required="!OpcPerfiles"
												ng-disabled="disabledTodos"></input> <span ng-hide="btn1"
												class="input-group-btn">
												<button
													ng-click="busquedaPrincipal(opc.selectedOption.id,valor,fechaVO)"
													class="btn btn-danger btn-flat">Buscar</button>
											</span>
										</div>

										<div class="input-group" ng-show="OpcPerfiles">

											<span class="input-group-addon"> <i
												class="fa fa-calendar-check-o"></i></span> <select
												ng-options="option.name for option in opc2.availableOptions track by option.id"
												ng-model="opc2.selectedOption2" class="form-control"
												name="tipoPerfil" ng-required="OpcPerfiles"
												ng-disabled="disabledTipoFecha">
											</select>
										</div>








										<p
											ng-if="(myForm.valor.$invalid && !myForm.valor.$pristine)
												|| (myForm.tipoPerfil.$invalid && !myForm.tipoPerfil.$pristine)"
											class="help-block">La placa vehicular es requerido</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END fila 1 del form de parametros de consulta -->
						<!-- INI fila 2 del form de parametros de consulta -->
						<div class="input-group" ng-show="OpcPerfiles"
							style="width: 100.0%">
							<div class="row">
								<div class="col-md-6">
									<!-- div class="col-md-2" style="width: 18.0%"-->
									<div class="col-md-4">
										<div class="form-group">
											<label for="checkTest1" class="labelCheck noneSelectedUser">
												Rango de fechas </label>
											<div class="input-group">
												<switcher class="swTeclo" id-check="switchRangoFecha"
													ng-model="switchRangoFecha"
													ng-change="activaRangoFecha(newValue, oldValue)"
													true-label="<i class='fa fa-check-circle'></i>"
													true-value="1"
													false-label="<i class='fa fa-times-circle'></i>"
													false-value="0"> </switcher>
											</div>
										</div>
									</div>


									<!-- div class="col-md-4" style="width: 31.90000000%"-->
									<div class="col-md-8"
										style="padding-left: 0px; padding-right: 0px">
										<div class="form-group"
											ng-class="{'has-error': switchRangoFecha == 1 && form.fInicio.$invalid && form.fInicio.$dirty}">
											<label for="fInicio">Fecha Inicio:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input class="form-control inputFecha" id="fInicio"
													size="65" name="fInicio" readonly date-picker
													idioma-dp="{{currentLanguage}}"
													ng-disabled="disabledFechas" ng-model="fechaVO.fInicio"
													elemento="'fFin'" mindate="fechaVO.fInicio" />
											</div>
											<span
												ng-if="switchRangoFecha == 1 && form.fInicio.$invalid && form.fInicio.$dirty}"
												ng-style="{color:'red'}"> La fecha de Inicio es
												requerida </span>
										</div>

									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="fFin">Fecha Fin:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input class="form-control inputFecha" id="fFin" name="fFin"
												readonly size="35" date-picker
												idioma-dp="{{currentLanguage}}" ng-disabled="disabledFechas"
												ng-model="fechaVO.fFin" elemento="'fInicio'"
												maxdate="fechaVO.fFin" />
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- END fila 2 del form de parametros de consulta -->
						<!-- INI fila 3 del form de parametros de consulta -->
						<div class="row">

							<div class="col-md-6">
								<div class="form-group">

									<span ng-if="btn2" class="input-group-btn" align="right">
										<button
											ng-click="busquedaPrincipal(opc.selectedOption.id,valor,opc2.selectedOption2.id,fechaVO.fInicio,fechaVO.fFin)"
											class="btn btn-danger">Buscar</button>

									</span>

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">

									<span ng-if="btn2" class="input-group-btn" align="left">
										<button class="btn btn-danger"
											ng-click="modalNuevo()">Nueva</button>
									</span>

								</div>
							</div>

						</div>


						<div class="row" ng-show="!OpcPerfiles" >
							<div class="form-group" align="center">								
									<button class="btn btn-danger" ng-click="modalNuevo()">
										Nueva</button>
							</div>
						</div>
						<!-- END fila 3 del form de parametros de consulta -->
					</form>
					<!-- 					</form> -->

					<!-- <------------------------Boton Nuevo---------------------------------------->







					<!-- El tag <form> del formulario se define antes del modal -->
					<form name="guardaForm" novalidate>

						<modal visible="ismodalNuevo" size-modal="sm" noescape modalstatic
							on-shown="funcionAbrir()" on-hide="funcionCerrar()"> <modal-header
							title="Alta Placa"></modal-header> <modal-body>

						<div class="row">
							<div class="col-md-x">


								<!-- Main content -->
								<div class="col-md-12" align="left">
									<div class="form-group"
										ng-class="{ 'has-error' : guardaForm.nuPlaca.$invalid && !guardaForm.nuPlaca.$pristine }">
										<div align="left">
											<label for="placa1">*Placa Vehicular:</label>
										</div>

										<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-shield"></i>
											</span> <input maxlength="10" type="text" maxlength="10"
												ng-model="guardaVO.placaCodigo" name="nuPlaca" id="nuPlaca"
												capitalize class="form-control" required>
										</div>
										<p
											ng-show="guardaForm.nuPlaca.$invalid && !guardaForm.nuPlaca.$pristine"
											class="help-block">La placa vehicular es requerida</p>
									</div>
								</div>
								<!-- 										------------------ -->
								<div class="col-md-12" align="left">
									<div class="form-group">
										<div align="left">
											<label for="example1"> Observaciones:</label>
										</div>

										<div class="input-group">
											<span class="input-group-addon"> <i class="fa fa-user"></i>
											</span>
											<textarea rows="4" type="text" maxlength="100"
												ng-model="guardaVO.observaciones" name="observaciones"
												id="observaciones" class="form-control"> </textarea>
											<br>
										</div>
									</div>
								</div>
							</div>


						</div>

						</modal-body> <modal-footer btn-close="Cerrar">
						<button class="btn btn-danger"
							ng-click="buscaExistencia(guardaVO) ">Guardar</button>




						</modal-footer> </modal>
					</form>



					<!-- <------------------------Boton Nuevo---------------------------------------->



					<!-- 				---------------------------------	boton actualizar -->


					<form name="actualizaForm" novalidate>




						<modal visible="ismodalActualizar" open="modalActualizar"
							size-modal="sm" noescape modalstatic on-shown="funcionAbrir()"
							on-hide="funcionCerrar()"> <modal-header
							title="Modificar Placa"></modal-header>

						<div ng-repeat="plac in actualizaVO" for="{{plac}}">
							<modal-body>

							<div class="row">
								<div class="col-md-x">


									<!-- Main content -->

									<div class="col-md-12" align="left">

										<div class="form-group"
											ng-class="{ 'has-error' : actualizaForm.mdPlaca.$invalid && !actualizaForm.mdPlaca.$pristine }">
											<div align="left">
												<label for="mdPlaca">*Placa Vehicular:</label>
											</div>

											<div class="input-group">
												<span class="input-group-addon"> <i
													class="fa fa-shield"></i>



												</span> <input maxlength="10" type="text" maxlength="10"
													ng-model="plac.placaCodigo" name="mdPlaca" id="mdPlaca"
													capitalize class="form-control" required>
											</div>
											<p
												ng-show="actualizaForm.mdPlaca.$invalid && !actualizaForm.mdPlaca.$pristine"
												class="help-block">La placa vehicular es requerida</p>
										</div>
									</div>
									<!-- 										------------------ -->
									<div class="col-md-12" align="left">
										<div class="form-group"
											ng-class="{ 'has-error' : actualizaForm.observaciones.$invalid && !formActualizar.observaciones.$pristine }">
											<div align="left">
												<label for="observaciones"> Observaciones:</label>
											</div>

											<div class="input-group">
												<span class="input-group-addon"> <i
													class="fa fa-user"></i>
												</span>
												<textarea rows="4" type="text" maxlength="100"
													ng-model="plac.observaciones" name="observaciones"
													class="form-control"> </textarea>
												<br>


											</div>


										</div>
									</div>




								</div>
							</div>

							</modal-body>
							<modal-footer btn-close="Cerrar">
							<button class="btn btn-danger"
								ng-click="actualizaConfirm(plac.placaId,plac.placaCodigo,plac.observaciones)">Guardar

							</button>


							</modal-footer>

						</div>
						</modal>


					</form>

					<!-- 				---------------------------------	boton actualizar -->





				</div>
				<!-- /.row -->

			</div>
			<div class="col-md-6"></div>
		</div>

		<div class="row" ng-if="mostrarTabla">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header ">
						<div class="col-md-6 col-xs-12">
							<h3 class="box-title">Registros Encontrados: {{ (placasVO |
								filter:view.placa).length }}</h3>
						</div>

						<div class="col-md-offset-2 col-md-3 col-xs-10">
							<div class="input-group pull-right">
								<input id="searchsomething" type="text" class="form-control"
									placeholder="Buscar por filtro" ng-model="view.placa">
								<div class="input-group-addon">
									<i class="fa fa-search"></i>
								</div>
							</div>
						</div>

						<div ng-show="placasVO.length > 0" class="col-md-1" align="right">
							<a
								ng-click="downloadReporte(opc.selectedOption.id,valor,opc2.selectedOption2.id,fechaVO.fInicio,fechaVO.fFin)">
								<span class="pull-right "><img
									src="static/dist/img/excel.png"></span>
							</a>
						</div>

					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive">
						<table id="tabla_certificados"
							class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th sort order="'placaCodigo'" by="order" reverse="reverse"
										class="text-center">PLACA VEHICULAR</th>

									<th sort order="'observaciones'" by="order" reverse="reverse"
										class="text-center">OBSERVACIONES</th>





									<th sort order="'fechaCreacion'" by="order" reverse="reverse"
										class="text-center">FECHA ALTA</th>

									<th sort order="'ultimaModificacion'" by="order"
										reverse="reverse" class="text-center">FECHA ÚLTIMA
										MODIFICACIÓN</th>



									<th sort order="'placaStatus'" by="order" reverse="reverse"
										class="text-center">ESTATUS</th>
										<!-- JLGD 
									<th ng-hide="ocultarActualizarPlaca()" sort order="'placa'" by="order" reverse="reverse"
										class="text-center">Actualizar</th>
										--> 

									<!-- 									<th sort order="" by="order" reverse="reverse" -->
									<!-- 										class="text-center">Eliminar</th> -->


								</tr>
							</thead>
							
							<tbody>
								<tr ng-if="(placasVO | filter:view.placa).length < 1">
									<td colspan="8" class="text-center"><h4>No se
											encontraron coincidencias</h4></td>
								</tr>
								<tr
									dir-paginate="placas in placasVO | orderBy:order:reverse |filter:view.placa |  itemsPerPage: view.rowsPerPage">


									<td class="text-center">{{placas.placaCodigo}}</td>
									<td class="text-center">{{placas.observaciones}}</td>


									<td class="text-center">{{ placas.fechaCreacion | date :
										'dd/MM/yyyy'}}</td>



									<td class="text-center">{{ placas.ultimaModificacion |
										date : 'dd/MM/yyyy'}}</td>


									<td class="text-center" style="text-transform: uppercase;">
										<div class="row">
											<div class="col-md-5"
												ng-class="placas.placaStatus != 'Habilitado' ? ' text-danger' : 'text-success'">
												<p>
													<strong>{{placas.placaStatus}}</strong>
												</p>
											</div>
											<div class="col-md-7">
												<button type="button"
													ng-class="placas.placaStatus != 'Habilitado' ? 'btn btn-xs btn-success' : 'btn btn-xs btn-danger'"
													aria-label="Left Align" data-toggle="tooltip"
													data-placement="left"
													ng-attr-title="{{placas.placaStatus!= 'Habilitado' ? 'Habilitar':'Deshabilitar'}}"
													ng-click="showConfirmacionAccion(placas.placaStatus, placas.placaId)">
													<span
														ng-class="placas.placaStatus != 'Habilitado' ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' "
														aria-hidden="true"> </span>
												</button>
											</div>
										</div>
									</td>






									<!-- <------------------------Boton Actualizar---------------------------------------->
									<!-- JLGD  
									<td ng-hide="ocultarActualizarPlaca()" class="text-center"><a class="btn btn-danger"
										title="Editar" open-modal="modalActualizar"
										ng-click="editarPlaca(placas.placaId)"> <i
											class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</a>
									</td>
									-->

								</tr>

							</tbody>
						</table>
					</div>

					<div class="container-fluid">
						<div class="fixed-table-pagination" style="display: block;">
							<rows-per-page rows="view.rowsPerPage" filtro="view.placa"
								array="placasVO"></rows-per-page>

							<div class="pull-right pagination">
								<dir-pagination-controls class="pagination"></dir-pagination-controls>
							</div>
						</div>
					</div>


				</div>
				<!-- /.box -->
			</div>
		</div>

	</section>
<body>
</html>
