<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<section class="content-header">
		<h1>Consulta Lotes Línea de Captura Masiva</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-book"></i>Línea de Captura</a></li>
			<li class="active">Consulta LC Masiva</li>
		</ol>
	</section>
	
	<!-- Contenido -->
	<section  class="content">
		<form role="form" name="formConsultaReasig">
			<div class="row">
				<div class="col-md-6  col-md-offset-3"><!-- col-md-offset-3 -->
					<div class="box box-danger" style="overflow: hidden;">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-xs-12 text-center">
									<h3 class="box-title">Búsqueda</h3>
								</div>
							</div>
						</div>
						<div class="box-body">
							<div class="row form-group">
								<div class="col-md-4">
									<label>Tipo de Búsqueda:</label>
								</div>
								<div class="col-md-6">
									<label class="radio-inline">
										<input type="radio" ng-model="opcion" value="1" ng-click="getVal()">
										Todos
									</label>
									<label class="radio-inline  pull-right">
										<input type="radio" ng-model="opcion" value="2" ng-click="getVal()">
										Avanzado
									</label>
								</div>
							</div>
							
							<div class="row" ng-show="viewFilters">
								<div class="col-md-6 form-group">
									<label>Tipo de Fecha:</label>
									<div class="input-group date">
										<div class="input-group-addon">
											<i class="fa fa-list"></i>
										</div>
										<select ng-model="busquedaVO.cbTipoFecha"
											ng-change="seleccionaTipoFecha();"
											class="form-control select2" style="width: 100%;"
											id="cbTipoFecha">
											<option value="1">Sin fecha</option>
											<option value="2">Reasignación</option>
											<option value="3">Emisión</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 form-group">
									<label>Estatus de Lote:</label>
									<div class="input-group date">
										<div class="input-group-addon">
											<i class="fa fa-cog"></i>
										</div>
										<select ng-model="busquedaVO.cbEstatusLotes"
											class="form-control select2" style="width: 100%;"
											id="cbEstatusLotes">
											<option value="1">Todos</option>
											<option value="2">Reasignados</option>
											<option value="3">Cancelados</option>
											<option value="4">Pendientes</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">	
									<div class="form-group" ng-class="{'has-error': formConsultaReasig.fInicio.$invalid && formConsultaReasig.fInicio.$dirty}"
										ng-show="viewCampoFecha">
										<label>Fecha Inicio:</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
											<input type="text" id="fInicio" class="form-control pull-right inputFecha" 
												name="fInicio" ng-model="busquedaVO.startDate" 
												autocomplete="off" ng-required="busquedaVO.cbTipoFecha != 1" ng-disabled="disabled"/>
										</div>
										<div ng-show="formConsultaReasig.fInicio.$error.required && formConsultaReasig.fInicio.$dirty" 
											ng-style="{color:'red'}">La fecha inicio es requerida</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formConsultaReasig.fFinal.$invalid && formConsultaReasig.fFinal.$dirty}"
										ng-show="viewCampoFecha">
										<label>Fecha Fin:</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
											<input type="text" id="fFinal" class="form-control pull-right inputFecha" 
												name="fFinal" ng-model="busquedaVO.endDate"  
												autocomplete="off" ng-required="busquedaVO.cbTipoFecha != 1" ng-disabled="disabled"/>
										</div>
										<div ng-show="formConsultaReasig.fFinal.$error.required && formConsultaReasig.fFinal.$dirty" 
											ng-style="{color:'red'}">La fecha fin es requerida</div>
									</div>
								</div>
								
								<table width="100%">
									<tr>
										<td width="50%">
											<div class="col-md-12 form-group">
												<label>Campo de Búsqueda:</label>
												<div class="input-group date">
													<div class="input-group-addon">
														<i class="fa fa-cog"></i>
													</div>
													<select ng-model="busquedaVO.cbCampoBusqueda"
														ng-change="seleccionaCampoBusqueda();"
														class="form-control select2" style="width: 100%;"
														id="cbCampoBusqueda">
														<option value="1">Todos</option>
														<option value="2">ID Lote</option>
														<option value="3">Nombre Lote</option>
													</select>
												</div>
												
											</div>
										</td>
										<td width="50%">
											<div class="col-md-12">
												<div id="divCampoIdLote" class="form-group" width="100%"
													ng-show="viewCampoIdLote"
													ng-class="{'has-error': formConsultaReasig.idLote.$invalid && formConsultaReasig.idLote.$dirty}">
													<label>ID Lote:</label>
													<div class="input-group date">
														<div class="input-group-addon">
															<i class="fa fa-pencil"></i>
														</div>
														<input type="text" name="idLote" value="" id="idLote"
															title='ID Lote' pattern="[0-9]" maxlength="38"
															onKeypress="return key(event.charCode, event.keyCode);"
															class="form-control" autocomplete="off"
															ng-required= "busquedaVO.cbCampoBusqueda == 2"
															ng-model="busquedaVO.idLote" />
<!-- 															ng-required="busquedaVO.idLote" -->
													</div>
														<div ng-show="formConsultaReasig.idLote.$error.required && formConsultaReasig.idLote.$dirty" 
											ng-style="{color:'red'}">El id lote es requerido</div>
												</div>
												<div id="divCampoNameLote" class="form-group" width="100%"
													ng-show="viewCampoNameLote"
													ng-class="{'has-error': formConsultaReasig.nameLote.$invalid && formConsultaReasig.nameLote.$dirty}">
													<label>Nombre Lote:</label>
													<div class="input-group date">
														<div class="input-group-addon">
															<i class="fa fa-pencil"></i>
														</div>
														<input type="text" name="nameLote" value="" id="nameLote"
															title='Nombre Lote' class="form-control"
															ng-keydown="return false" autocomplete="off"
															ng-required= "busquedaVO.cbCampoBusqueda == 3"
															ng-model="busquedaVO.nameLote" />
<!-- 															ng-required="busquedaVO.nameLote" -->
													</div>
														<div ng-show="formConsultaReasig.nameLote.$error.required && formConsultaReasig.nameLote.$dirty" 
											ng-style="{color:'red'}">El nombre lote requerida</div>
												</div>
											</div>
										</td>
									</tr>
								</table>
								<br>
							</div>
							
							<div class="row text-center">
								<div class="col-md-10 col-md-offset-1">
									<button type="button" class="btn btn-danger" ng-click="consultaLotesReasignado()">Buscar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row" ng-if="foliosVO.length > 0">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title ng-binding">Registros Encontrados: {{ (foliosVO | filter:view.searchSomething).length }}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10">
								<div class="input-group">
									<input id="searchsomething" type="text" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>

						<div class="box-body table-responsive">
							<table id="tabla_garantias" class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th sort order="'id'" by="order" reverse="reverse" class="text-center">ID LOTE</th>
										<th sort order="'nombre'" by="order" reverse="reverse" class="text-center">NOMBRE</th>
										<th sort order="'fecha_reasignacionOrder'" by="order" reverse="reverse" class="text-center">FECHA REASIGNADO</th>
										<th sort order="'fecha_emisionOrder'" by="order" reverse="reverse" class="text-center">FECHA EMISIÓN</th>
										<th sort order="'cantidad_procesados'" by="order" reverse="reverse" class="text-center">REPORTE</th>
										<th sort order="'cantidad_procesados'" by="order" reverse="reverse" class="text-center">FOLIOS PROCESADOS</th>
										<th sort order="'cantidad_cancelados'" by="order" reverse="reverse" class="text-center">FOLIOS NO PROCESADOS</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="(foliosVO | filter:view.searchSomething).length < 1"><td colspan="6" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
									<tr class="text-center" dir-paginate="folio in foliosVO | orderBy:order:reverse |  filter: view.searchSomething | itemsPerPage: view.rowsPerPage">
										<td class="text-center">{{folio.id}}</td>
										<td class="text-center wrap-text">{{folio.nombre}}</td>
										<td class="text-center">
											<span class="label label-danger" ng-if="folio.fecha_reasignacion == null && folio.cantidad_cancelados > 0">Cancelado</span>
											<a ng-if="folio.fecha_reasignacion == null && folio.cantidad_cancelados == 0 && folio.cantidad_procesados < folio.total || folio.total == 0 && folio.cantidad_cancelados == 0" href="#/reasignacionLCMasiva"><span class="label label-warning">Pendiente</span></a>
											<span class="label label-success" ng-if="folio.fecha_reasignacion != null">{{folio.fecha_reasignacion}}</span>
										</td>
										<td class="text-center">
											<span class="label label-success" ng-if="folio.fecha_emision != null">{{folio.fecha_emision}}</span>
										</td>
										<td class="text-center"><a ng-if="folio.cantidad_procesados > 0" ng-click="descargarLoteFolios(folio.id)"><img src="static/dist/img/excelsm.png" /></a></td>
										<td class="text-center">{{folio.cantidad_procesados}}</td>
										<td class="text-center">{{folio.cantidad_cancelados}}</td>
									</tr>
								</tbody>
							</table>
					</div>
					
					<div class="container-fluid">
						<div class="fixed-table-pagination" style="display:block;">
							<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="foliosVO"></rows-per-page>
							
							<div class="pull-right pagination">
								<dir-pagination-controls class="pagination"></dir-pagination-controls>
							</div>
						</div>
					</div>
					
				</div>
				<!-- /.box -->
				
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$(function () {
		    $("#fInicio").datepicker({
				format: 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function (selected) {
	        	var minDate = new Date(selected.date.valueOf());
	        	$('#fFinal').datepicker('setStartDate', minDate);
	    	});
			
			$("#fFinal").datepicker({
				format: 'dd/mm/yyyy',
				//language: 'es',
				todayHighlight : true,
				autoclose : true
			}).on('changeDate', function (selected) {
	        	var maxDate = new Date(selected.date.valueOf());
	        	$('#fInicio').datepicker('setEndDate', maxDate);
	    	});
		});
		
		function key(d,a){
			if ((d > 47 && d < 58) || (a == 8)){
				return true;
			}else{
				return false;
			}
		}
    </script>
</body>
</html>